<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/AppleTV/041-0596.20110511.Zz7mC/AppleTV2,1_4.3_8F305_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/applelogo-1280x720.s5l8930x.img3</string>
			<key>IV</key>
			<string>5a7cb0980b4cf56d9699d7ef756c4f9c</string>
			<key>Key</key>
			<string>ca3665583d6e30c0e4d9ddc3f0808aa33a9515922435cc6669868d66e78ba635</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>20744e995ce6ca7f93df896bb72198bd</string>
			<key>Key</key>
			<string>ea08ba056f0b4a8726becd6d8550fd59b6e047055e1535e4fcac7d07fa7b4cb5</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>f9504808a1f6673b51ecc05e0535d6fe</string>
			<key>Key</key>
			<string>410e530fba7f0555247a5f6e14904251b95306439b7b4a3e0721f403aa1d3aad</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>d77c640914de89faa60522907109bdef</string>
			<key>Key</key>
			<string>93d7c555c79390a46949e28f286daa8e72149ffe60282570b9305f7affc42e95</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>5cf61c60b5d9ff940a6089053363278a</string>
			<key>Key</key>
			<string>4dc63f8ed03cf5adc93af7d02cf88aa606b6ccf47c98620cbab2c103136da470</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/DeviceTree.k66ap.img3</string>
			<key>IV</key>
			<string>e442f41e28c951e30b89b15d8a701909</string>
			<key>Key</key>
			<string>e37b592286ea527b88f10ff29df52cbefd12b99a89ec92ec6a2fbe1a1e5af0ff</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0955-007.dmg</string>
			<key>VFDecryptKey</key>
			<string>f607711d4db94bba7a4866f095aed082c8485bfbcd0f411f1e65158f585915edd5cfeec1</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k66</string>
			<key>IV</key>
			<string>eb0ab33a020367e0e8f598b0420c77be</string>
			<key>Key</key>
			<string>17d6fa158302507873582bfb656e90feb5094208131370b4621d58e306013e1e</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/recoverymode-1280x720.s5l8930x.img3</string>
			<key>IV</key>
			<string>b21896777e7511de9f6ed7622e3b44fe</string>
			<key>Key</key>
			<string>edd55099d0deb9d3b5bc8229d1b3d5f597e92eb28b28e9126e01c268c23e0531</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0963-007.dmg</string>
			<key>IV</key>
			<string>d3a3b18903be2446fb2902783c258420</string>
			<key>Key</key>
			<string>8225502b126c0e0c3b65454bd0a9ebaef801b49ca3c0a2f3d27602115516ab14</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>08d25f37324660147ff4dd9544d6fa4c</string>
			<key>Key</key>
			<string>df6265c5606d22c9ba870df89447a797cecb25ff101c38befb3c0f9f9ef63970</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>17742baec33113889e5cbfcaa12fb4f0</string>
			<key>Key</key>
			<string>998bd521b5b54641fbeb3f73d9959bae126db0bc7e90b7ede7440d3951016010</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/iBoot.k66ap.RELEASE.img3</string>
			<key>IV</key>
			<string>115ed2213d19975088ac0c49d3b58d44</string>
			<key>Key</key>
			<string>f5dae9051e20b2889f1673e4ffbd269b862136e559432ae8a2580e0d47de3766</string>
		</dict>
	</dict>
</dict>
</plist>
