<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>5.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/applelogo-1280x720.s5l8930x.img3</string>
			<key>IV</key>
			<string>89cd2c38e1736600fe01a9eda1cbdbb3</string>
			<key>Key</key>
			<string>98b7d1261367d1a4298bd827154c4c6753da459b14a3e2aa28f0bda9991e0320</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>6ab49f47ed3e06e91aebf733cb815e61</string>
			<key>Key</key>
			<string>ad468dc01ee567469ac7092a598f851cd8c359ecb7a57617df1fb5c54454b37c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>3e7198a30e468107294c4becba05cc43</string>
			<key>Key</key>
			<string>eb41d65ca2d335820a21caa80420e2a18b33b9d7b1310b6b0700728af938c4a1</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>2c8aa81eb9632b909778ad813a4c6d73</string>
			<key>Key</key>
			<string>1cea2aa1f7515b459d88e1dbc422761872caf94b13b605eb833f27624674e822</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>e3c11ab26804ebeee74e2db2aa279168</string>
			<key>Key</key>
			<string>21a6911423b9e2eb4f008b70c64e256e83a92ecf3f6fd7e1b3650607bfa65ffd</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/DeviceTree.k66ap.img3</string>
			<key>IV</key>
			<string>fb189f6709a75121039a0014ea903824</string>
			<key>Key</key>
			<string>881a83de29de467e2cc8d4e93cf8edac5d5b4e82dffbdbb355878c7c0e1753b4</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-7881-372.dmg</string>
			<key>VFDecryptKey</key>
			<string>e04125691fea59da7bedc605667f459c78d243d1b4df4c6127d154dc84b3657902538aee</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>f9637752f4e2ed21971100bf0c213503</string>
			<key>Key</key>
			<string>489aa5750881f4b33c495fc1b6c7e5239ece2fc8e479dd0c2665490969df89bb</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>840128d8179cbb83ca0e0f6075aca2c3</string>
			<key>Key</key>
			<string>3263438257a86056326aa451577d40f76f7d7f8924e53e5eefd0808a01848afc</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k66</string>
			<key>IV</key>
			<string>38f984d3619544ef796515f24487ea99</string>
			<key>Key</key>
			<string>4b6097400a3787c0ad5ba08eb364d6d6f07f070a46e8de8b89fea63d73c8ba4b</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/LLB.k66ap.RELEASE.img3</string>
			<key>IV</key>
			<string>180910951e2882762737d1f9ce097fab</string>
			<key>Key</key>
			<string>eb9f0046d7dd8b66131c0f60685408ea0b99f242efdb55ba972aff9dd26178b1</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/recoverymode-1280x720.s5l8930x.img3</string>
			<key>IV</key>
			<string>65d00c8ed5356f5442f3c8cacd6d7def</string>
			<key>Key</key>
			<string>722ee5cabe44b2a461ac638c64af49619aad225581b9b316ca881958070b94dd</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>502bc40bfc92f093114824ef604b6d69</string>
			<key>Key</key>
			<string>140a6f602c0cd2345fb9ff72437c569cbb84485d4c561c653ad77c61c3920073</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fdb60523529674bcc466aaa3a43d5a16</string>
			<key>Key</key>
			<string>4323d03260a27f33ac1e129bce748209af5daf2a775e1944a2f0267a9dc18abc</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/iBoot.k66ap.RELEASE.img3</string>
			<key>IV</key>
			<string>2f8e5fec91c6a4b26b299ea3e0496baf</string>
			<key>Key</key>
			<string>6823ace77e8fd59de75c663140c68f1cf2652ece1b3e7bec431eb4b2fd781884</string>
		</dict>
	</dict>
</dict>
</plist>
