<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>5.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/applelogo-1280x720.s5l8930x.img3</string>
			<key>IV</key>
			<string>e3454d6931485bcb45804342e9f87534</string>
			<key>Key</key>
			<string>60dbc195ff17cb401f2d0c4922b7e9c94d5098355fafc76119676de2fdc1a9ad</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>53772f9708ff57958bc544dc872175f2</string>
			<key>Key</key>
			<string>938f5858db5ed89110881944f006dd301e4f7ec399e5b8969c02063247419913</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>d20771e74a9089486d2648e5c4db0a50</string>
			<key>Key</key>
			<string>4285651c7681f257f02935d066ff9985ea8d608c9d13f923f2845f83b7905ae8</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>db9f41fd27d7b0a92ab042a60805860e</string>
			<key>Key</key>
			<string>e4b378a1d70240d8086661c349b51bdd75d6eac831fa1243d204c51b762fbd34</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>0b36621af09f8c8a949432dec14947aa</string>
			<key>Key</key>
			<string>0e26f8dddb0b901949215b70e913f9852e89c9b0cfc474dc9ec1f7e59c5dcdb2</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/DeviceTree.k66ap.img3</string>
			<key>IV</key>
			<string>9c1c234da533dcc5013a01141a8c8742</string>
			<key>Key</key>
			<string>a89ec1e4b1461ff15f227c53522618a12b448186c7bacb8aed06d76d87f73994</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-3340-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>2aca488e83805a9e8190a8960a4c694d7b4967cf97ab133b48ab6f688726c37af5e28f3f</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>6d0ff026752b15d325ec2ba16f4d43c8</string>
			<key>Key</key>
			<string>2e332793c28b6f7ac990e600745dd57e0bc9f0fd697237c249e184edf44bfadb</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>1d6139096671126c53c95ac515bf9f33</string>
			<key>Key</key>
			<string>e912eeab545ab7641695940be42351a9ba135f122b6c850de4e422cfeb441f63</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k66</string>
			<key>IV</key>
			<string>5132f62063f7238772573b2643fef986</string>
			<key>Key</key>
			<string>ed2ad3034a93c7ff9d75be695560ce462aa37eea729a0befaecda657fd1018cc</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/LLB.k66ap.RELEASE.img3</string>
			<key>IV</key>
			<string>9def5676a5c5da889f85d8128aa07041</string>
			<key>Key</key>
			<string>27d65a4eecf3eb6122e6987732d76d95c5fc63cac597e1714fdd287b2021ed54</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/recoverymode-1280x720.s5l8930x.img3</string>
			<key>IV</key>
			<string>729ed7043d694c85b0401c6fa2e0a419</string>
			<key>Key</key>
			<string>2950da847438aa57101cc671219b3d6f425a63e5c27d02a80b8376b26e76ca5a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7fc23d2153b98e672798fc61f0f3d968</string>
			<key>Key</key>
			<string>927357e9f22be77cf5040254b6935b9162a5dfeb133379b795d6020d7b3b1ab6</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a62a9590eec7d0e60ef7bffa3721aa31</string>
			<key>Key</key>
			<string>3dddab1793f27151bf9748f730837b894e960165aeb6f26219f730b17d62a7b4</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/iBoot.k66ap.RELEASE.img3</string>
			<key>IV</key>
			<string>f9324055b528a5912a4be5105fabd925</string>
			<key>Key</key>
			<string>2742137a61b746c023639dcc598ec8fad883ff514789a643f14b0ad809c2e0bf</string>
		</dict>
	</dict>
</dict>
</plist>
