<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/applelogo-1280x720.s5l8930x.img3</string>
			<key>IV</key>
			<string>51c88759c37e4bb7fc9e95056f467f84</string>
			<key>Key</key>
			<string>f13cf994a2595c3a29137c8acad8e376ab7b5538f7fe1a659b9b6cd2ce00acc8</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>262b8ffc3c7ea14d0839df1dfc3b05e3</string>
			<key>Key</key>
			<string>de28e91de5700c04a0285d5e600071781f669e6b2f8b80474f452c05372a5f1d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>be07c62978ea1679051dbda9684b6dc0</string>
			<key>Key</key>
			<string>30a0651f475ee5ecfb462d2d14b3551bb95011a2f311ed69a1f2dc29a6c00225</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>e8707fc37f506cdb5f39af46f53e1602</string>
			<key>Key</key>
			<string>d23285f6bb26b417fac2fb313cabf836ce4000b4827251e689eabc9100248f3a</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>d7e0a5f2d09c9faca57f1857171941a5</string>
			<key>Key</key>
			<string>cb6ddd774d8de039ed97a215411fa537d285dd49b4728fbf70b6b80d767b5f48</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/DeviceTree.k66ap.img3</string>
			<key>IV</key>
			<string>d3d6c82ef2f3fbec7f4b12e8eda1513b</string>
			<key>Key</key>
			<string>df63371fdb21282f482086e23c431d3270f3dd7a9a705411ec77a2de46f0fb87</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0438-003.dmg</string>
			<key>VFDecryptKey</key>
			<string>cc3e4b2e78940fb3cffce2f3d4a9a5e6a8a45bce77afa71c6445991203d01fa0bb5c6ab0</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>7ee1f50315f96f81e1bb9d79a026da6e</string>
			<key>Key</key>
			<string>a63f8ee4e0f1866366a0eec428eef40591b2598ca5e604bd92809106a05d2124</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>496e1704c998eec03e0ff51425e83662</string>
			<key>Key</key>
			<string>39aad1cfc86c43dbb4e1099bbb8a0325b072481de5a311f8ff135b0df92e3084</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k66</string>
			<key>IV</key>
			<string>6936e9cc4b3ee02d2b0a5f8dbc39d08b</string>
			<key>Key</key>
			<string>bdf4479ca901e2fa868259734a2a4a6aea8e3009f1e59ef65e8ad71bc3196de4</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/LLB.k66ap.RELEASE.img3</string>
			<key>IV</key>
			<string>84e32bf5fb59a22f3a637b4a4f2a0925</string>
			<key>Key</key>
			<string>adb08ce733916b29d0228d8dd4f7ce3dbbc3dbf1ea6dc8c09b4cf05d53305f10</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/recoverymode-1280x720.s5l8930x.img3</string>
			<key>IV</key>
			<string>75e27d1493ac7129d21e69217a4c4c00</string>
			<key>Key</key>
			<string>55a69b0eaf2dfebba75f44f604ae6971e03b11b232b073bdb208ad2eace14dca</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0408-003.dmg</string>
			<key>IV</key>
			<string>25e638a9d572cc37e131547abc8155fb</string>
			<key>Key</key>
			<string>d671cec0ae62bf928f85dbb893c6e9fc90643a3f4bdb79a66ba7356301d67f82</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0402-003.dmg</string>
			<key>IV</key>
			<string>ea93723ad2e0e9ce252d4c95691d07b6</string>
			<key>Key</key>
			<string>1cc89a211ed0cbecdb222169cabe25112980134b17a873d0c60b7c9d6591257e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>82bffa2356e8b794df70303404310309</string>
			<key>Key</key>
			<string>aba91200c7c91aac934ee3f0e1d8216e0d8fc530deca82467e9bfbc9e470a8d9</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e18e4360159e669c24d0d94555746016</string>
			<key>Key</key>
			<string>83a9fee07856571a428632fb2d0227f1d9ce083305dd9b5cab6ed4f868da6839</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k66ap.production/iBoot.k66ap.RELEASE.img3</string>
			<key>IV</key>
			<string>6723ba61dad03e5fc033d5ae15786dfc</string>
			<key>Key</key>
			<string>6881537efbe0ea2b7f079eb92f339bc45ba07383b495032935ad4d54bac357b7</string>
		</dict>
	</dict>
</dict>
</plist>
