<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-1917.2011.715.ZbLkn/iPad2,3_4.3.4_8K2_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3.4</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-2183-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>b314630e05038f97f2d5325b11989634049c5d5d290cc87b9ea7cfd02936b92e76e8f65f</string>
		</dict>
	</dict>
</dict>
</plist>
