<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>4.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>41ed134f17599a2f4e68334f3cd56218</string>
			<key>Key</key>
			<string>2b45d41ccc6dc2335bf502d936d9370aa657650b9079f8da371cde74d5a7448a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>823e896123bf15c7f183488e74823ae2</string>
			<key>Key</key>
			<string>2f4ea18742d0c1bdf2367ca87a31a7ddacb2dad18652ea5b38a580f0099937ad</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>c38d2dbb74c694e6d06b265711d69556</string>
			<key>Key</key>
			<string>d03ffff05364211c661fefb3a6651741f1847bfecbae588957662fcb47c8e1c8</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
			<key>IV</key>
			<string>a382d9a2f2079295d5e3964218d0f3b7</string>
			<key>Key</key>
			<string>6658161741cb7a688508e2a768f4bdec3463f139760f984ff050e70e38b9fd55</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>2ab4659144bf064402eab44f1264c945</string>
			<key>Key</key>
			<string>ec902ba237ae264726859591ef063ac33b9a10b8f23241de200c71e4a3b41145</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>24da7a5a70a183fe30485fae73dd1845</string>
			<key>Key</key>
			<string>d9b2041b9816aff04a7e5422754911cc5c07c72ed7be1a6aef75a25954976a9b</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>6d48357ec3108390c96d8a24f7c803ba</string>
			<key>Key</key>
			<string>3e078c0a3ef755f404fef947862bd06ce648234a0734b489fceddd690a2de662</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-9704-005.dmg</string>
			<key>VFDecryptKey</key>
			<string>a764534161493bdcc4545ee0640d1525edc17f8cc03b4bb1dedb98b765865d8ec12908f2</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>82c572ada537cd9528fb803d6bb673f7</string>
			<key>Key</key>
			<string>61aed08bd6db92d4d516536681cc6fc4cb1ce41f7d5d499920a30426ca96f7a1</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>8f18f95b276faf6c401a67de2c5778d4</string>
			<key>Key</key>
			<string>ebb92a4ed3a1ffdc833e7db2c591c06bb25d5757b46db4164a1dac1344741ee7</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>57c4e3f763a994b0ed7aa6fd59891722</string>
			<key>Key</key>
			<string>1980f3bbff91d9f6cfd346da75fd5db32e38a8d03fbfdeb9821add990f530d2c</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>b1f2f2219ab22d926e62dc8add61af83</string>
			<key>Key</key>
			<string>6ce479c379cc029b287512e38394dfc2d0ee0b19647bccb02bbca6672996fde7</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
			<key>IV</key>
			<string>ce556bf333bb69dbc3b38a2485de799f</string>
			<key>Key</key>
			<string>24ca53554bc21b92e9ea6753da1d1dd2e53508b8a4ad8099f86fac52ee732bac</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-9690-004.dmg</string>
			<key>IV</key>
			<string>24d1a423b59bbccb67f1dd02ec464582</string>
			<key>Key</key>
			<string>51a7d13de60e442b957f1e141a6d20e1db54ab88b284ab722ab9bc844ad97cb8</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-9686-004.dmg</string>
			<key>IV</key>
			<string>b4c3de2c9b86936f1571c3ae9b46cdcc</string>
			<key>Key</key>
			<string>a0ca320bfdb29138826e7f0b66920888abee3e666dfbacc9c2d5ba13d7cae8a0</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>8049ad5cab67f83f590b37c053372bba</string>
			<key>Key</key>
			<string>fe633f8392f00b91f855dd5f62050ee6ccb488169ca72de92e9467d0665b99ed</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>202fc0edce138bf0cfc3281caa494825</string>
			<key>Key</key>
			<string>063185c796f8a9bd6de1623fd08f3c7948710bc2f394340c7b9a596b089adeb8</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>21793e667addf43df966795d203ace88</string>
			<key>Key</key>
			<string>3975aa2fdfb38eb024f52ccbfac701ef6c778c4ca7455f2f31a6ccedd56eb4e4</string>
		</dict>
	</dict>
</dict>
</plist>
