<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0661.20110414.W9Q8r/iPad1,1_4.3.2_8H7_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>52a5fa0939ce54932c57da817f7b8e1b</string>
			<key>Key</key>
			<string>f9b5cf6172f8432c500617f42ae22b2de2412cc14f4306abb739e434a81e6d78</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>81915953a711e5f90d795ede1fc34e5d</string>
			<key>Key</key>
			<string>e941fb8b23043f1e2ae9cbf0c8f71f89fc4bbf8873a2130c8c3a923b1f823b22</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>ccda1a3af499ba5bf6b022cb479d96f4</string>
			<key>Key</key>
			<string>4e62b4d964c02c8fcca6d9707ec4f9d611aeb7b495888afcc5e3c0507500c29d</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>7f29f081fade6cb1fd144b4bdb3e2d96</string>
			<key>Key</key>
			<string>a4200c7d5b5211e4506485f89b7682681f7ddf5b9ad6d12f68965f9793ac6b3a</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>63373f73918c645a5f3625837176420d</string>
			<key>Key</key>
			<string>045f514aa48418deb62efbf36a992e2b1aea923567beac2b21fbe89efe6d5c36</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>94d7b5074499306c1c056759d530657c</string>
			<key>Key</key>
			<string>45945e8f2187bfaa4378fcbc3a1372601de595d80e34bbfb56b8ca8f25340132</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-1024-007.dmg</string>
			<key>VFDecryptKey</key>
			<string>25c0b2a27afd23b9ddc9555a28ba8e77548e62d9e2ef56700bc40d22b2c50416aee9313c</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>60a771953080e7227f7b198ed2346553</string>
			<key>Key</key>
			<string>3ea81b200ef5fe7530579f7d7e753b7ebd3b7a1ba39ecbe6a3e5752d3589a4ef</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>a4f262ae2d8870b5cc12076e73b2b21d</string>
			<key>Key</key>
			<string>fd73f06ca01e2edcb3329e685297bd6c1811ccb277278d818fc2c524ae643005</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>d67ed50e296141bb1bea317f340d1370</string>
			<key>Key</key>
			<string>06a43b6a151fc7e03c1e69ba2c25c477eac953c877cfd88e8ea0eb1d60484144</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>038b16dcad99dc6d8031c2b106060c4c</string>
			<key>Key</key>
			<string>39f7616eef2805d46566f2c4475420f849dabc5093536bd094d6701cb6dcf1c4</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
			<key>IV</key>
			<string>f6792d51cece796b7c50e40f7a41315b</string>
			<key>Key</key>
			<string>016065ec50365d1516deffab2cd8ec1f8f187588de7cbbb6bb90095d2b50efa2</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5e7b2fcef860fac45ec257b099827cc0</string>
			<key>Key</key>
			<string>c2b456267c3bf535c9505463eea287d46331f474c306d5a96a1fa87adede67f2</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>de7258db01e653c6d8ffe0ab18a5a5c7</string>
			<key>Key</key>
			<string>6d0afca5d390a7e48399cd534c8fd7db5a3f8fd4361631f6dffca75fbafca6aa</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>b21f5f539112101b5d6a8bacfb707b5a</string>
			<key>Key</key>
			<string>8d0fcc4f025f4f60a4e0de143a1659301c02ee5fc9ab4e28fb818189d9fadc69</string>
		</dict>
	</dict>
</dict>
</plist>
