<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>4.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>d108bbfc6e3e4d6d3c9fec1d19fe1769</string>
			<key>Key</key>
			<string>3359842bed66e5f2b942f60ac30667a36a86f049b8cb33bd101c1caf5cb422e8</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>52bdca92e1e24cdf3017377726a48ce7</string>
			<key>Key</key>
			<string>529ce7b5621568657fe66c3d5124947528f684edefcc3cc800054c91f78c18eb</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>2739e3e8297be8030f11538170b69ff2</string>
			<key>Key</key>
			<string>831697c2f43d8b8e570f293d87fcd2693885851b07a953754caf3a1eb6465961</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
			<key>IV</key>
			<string>a4a9809547412fc0e7b67e4d2a451325</string>
			<key>Key</key>
			<string>0f1cd6526c4e82413695cf4740752b515ddb37c97f0f379cb465a85028773b89</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>3f76fc42175ad76091069eadee14aa6d</string>
			<key>Key</key>
			<string>1fda5c1b458a120b6938349e77017c9e0761464ce0d92d407f9336d6d660de8f</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>7a60bd06f3c9aabf608dfda2779796ac</string>
			<key>Key</key>
			<string>53062d36fb3e5abe9c56d7900a4963979f3d78873f958fc0149f56c1955f404b</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>3c08f9cc37c776247f3d329a745635a4</string>
			<key>Key</key>
			<string>011cdb85511a8b5bf233d748e43f032502786a649e698604713132a67a96c214</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-9933-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>8df8ebc5a47e60baa66dc66f8b4cdbcbe2f8591c67a287c122a66d45f0152d49838b1392</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>79c49644291fb3463fba5300b27b8a82</string>
			<key>Key</key>
			<string>f2f8a2c1f259aee33ddbb0edd52065edfefff2826d91d0fe00c7fb10ac36f32e</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>c5a595594ff4a1b719d4aaf5d4543c26</string>
			<key>Key</key>
			<string>e6a26d36c0c4698761c77faa0229468e2a08f1ec2739ef3d467ae02046ed228b</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>4fb28574ab4e691bb6756f695e416f4d</string>
			<key>Key</key>
			<string>c6eabf5c35c5ea765020802aed88688701396b12b1d6a2792fdfea2aaef1adb1</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>a4e10301bb038b5fc6a66792ef1e2892</string>
			<key>Key</key>
			<string>1f675ad80b3f5c8a509fe47a1730a94cd5f4f38cc5571924e9ab694129e9021d</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
			<key>IV</key>
			<string>0b3af425ffa427e79a994297e8e216b5</string>
			<key>Key</key>
			<string>be98b31bde94a4896c8dce2b252a6c2c26391221f2bdbe173c9d54ad0b2118f5</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-9900-005.dmg</string>
			<key>IV</key>
			<string>782aeaf86c926fd3e17af0c6f7e04728</string>
			<key>Key</key>
			<string>f233379f1c8b595b1b2cdf79a6e8c7467cebba80457733b0049c2489725690ee</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-9899-005.dmg</string>
			<key>IV</key>
			<string>51aa4923caebae78ee01c0f1bf1c5e94</string>
			<key>Key</key>
			<string>423abc716a2936b27507d7517e630bbd20763731edd17174c759588f8e4cf2ad</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9c7917260ca97dec3ecd32e75567cc77</string>
			<key>Key</key>
			<string>8f76f35e9cce90a13f1efb56d9e12152c41bacf797a0c3b662050bca00b434e5</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>873ca0583dbfd0b40d42bd86bca09a07</string>
			<key>Key</key>
			<string>619a29ff91bf924bd1edf8efe48d280f5ec85865dd55dfe5f8989a1077f71a0e</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>6ae99830ab64997ad7426d3342ba3bec</string>
			<key>Key</key>
			<string>74476c5215f0b1e4204bf2f748b2adc660a7139e9b57a129ac4cfd3ae86476e8</string>
		</dict>
	</dict>
</dict>
</plist>
