<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4292.02120427.Tkk0d/iPad1,1_5.1.1_9B206_Restore.ipsw</string>
		<key>Version</key>
		<string>5.1.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>4237068c8dd229ab98c63c5ef8d229bc</string>
			<key>Key</key>
			<string>91ec6f799f12ce876fbe8bbf8de0b998fcf358ca5001af7f3016a7d782576617</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>3ebfaa1d2ed6046ec9c59543d4fe2b1c</string>
			<key>Key</key>
			<string>c3e9557b18a5e48dc562e19b38e59766ae3905b19d07376a9513df8e2bfc4f0d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>695807c628ae053a762a1866b889b50e</string>
			<key>Key</key>
			<string>ac8304f9b00633f102744762e24d66de507e62d46db056fd91cebc99eba2d6ab</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>22cca851add8e8cc45601f7d182b12da</string>
			<key>Key</key>
			<string>69c08cca2ba8f968ecc1bd567aa14c9c2fb1ec7c03dee56ad86b663812b0bf5c</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>20c453bc652ffd7dbad61417c887d7e8</string>
			<key>Key</key>
			<string>f47a4aaac900d05ed2206a45c764b5c078512368425c819535877d177b7123b0</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>e0a3aa63dae431e573c9827dd3636dd1</string>
			<key>Key</key>
			<string>50208af7c2de617854635fb4fc4eaa8cddab0e9035ea25abf81b0fa8b0b5654f</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-4291-006.dmg</string>
			<key>VFDecryptKey</key>
			<string>f7bb9fd8aa3102484ab9c847dacfd3d73f1f430acb49ed7a422226f2410acee17664c91b</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>27d3afb13502a3f34dbda12c3985a900</string>
			<key>Key</key>
			<string>6e9636974cdea90a9570abd94da4c7658bedf6c9e1388b4842b3e45995c1d230</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>d1c7c2114077e3a096c540f337ab54f7</string>
			<key>Key</key>
			<string>bb3c9d79b90df3f0522c6c84c38ad4804e0a19b6e76196dbe64a7850ce9a69b9</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>140984858e5c7fe245a43596f5370a0e</string>
			<key>Key</key>
			<string>fc6733108c9bd4b2179257102f81998089437c2c58cbdb8752fd40a442bd9434</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>6532365c994ce5e2d4a2d219fcdb4467</string>
			<key>Key</key>
			<string>85051d160a87b82bbc6c9afc498a41552b41acdd3d96f067eb620b99938e0715</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4361-021.dmg</string>
			<key>IV</key>
			<string>3f009f46be4c7bfe4be64183e38b68b8</string>
			<key>Key</key>
			<string>e3b3c8fca6f358eb18a38d611f3b60caac1d3638b38ff5cec50c151226400988</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4304-027.dmg</string>
			<key>IV</key>
			<string>8bf7f31c6ffae902825f91873c3391ae</string>
			<key>Key</key>
			<string>b4c9cc707bd27ed05d1db142ea335849b2ecd0670563e1e61477da81eadcc99c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bde7b0d5cf7861479d81eb23f99d2e9e</string>
			<key>Key</key>
			<string>1ba1f38e6a5b4841c1716c11acae9ee0fb471e50362a3b0dd8d98019f174a2f2</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9c69f81db931108e8efc268de3f5d94d</string>
			<key>Key</key>
			<string>92f1cc2ca8362740734d69386fa6dde5582e18786777e1f9772d5dd364d873fb</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>0eab523f9cb5188cb2b883704c791f3e</string>
			<key>Key</key>
			<string>96a4cfe7e0baf01bd9f233af53afdb2dfd4c0f7d4a579da9b55f8baa56630f4a</string>
		</dict>
	</dict>
</dict>
</plist>
