<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3308.20111109.Fvgtr/iPad1,1_5.0.1_9A405_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>02b67045fbadfcc9ca4fdb3cbf2ea4fe</string>
			<key>Key</key>
			<string>d010d42cd2030c3d6387eb6d24208d3738600d8b0912d27fbeb8939fb19c6a9b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>596f921934b41ecb9060dcea95cf3855</string>
			<key>Key</key>
			<string>4bb71b533f6f702fc94d85daa915b31db40b75320c74c2e68120ec71554c5abe</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>615b975cf3cc75c4176b1d679ff034c1</string>
			<key>Key</key>
			<string>ab81c05484a620af282f099ab2fe2e5d716764252eca1d8388ebc7b5bba27d97</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>8239d37292c8a9d679b487e6a0e2e1ad</string>
			<key>Key</key>
			<string>ccf1818126d54be88e50ee6fdf3d4616208e358ad34cf69186d6765b2f3f6e6a</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>986c8ec4836fcbbc655b1d7615126611</string>
			<key>Key</key>
			<string>cc5738726b8ddb92e46a48b4a9fb7a6162dadc4557810b32a6b76a3df413f84e</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>044b05f84e0f0e9354a39b2605a018dd</string>
			<key>Key</key>
			<string>454323045f5bffc3503f47f9aa55a09e1f1640650dd6679439f63b634f70d595</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-3699-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>e4b60a747ab372bc047b8a7ca08b62f7524fa5888c76f0db709fd1aa9bcea79076952639</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>d1b9355353d0cbb3bb7710aa457938b0</string>
			<key>Key</key>
			<string>64bbc6db12cc56b9c8611c1649bc1ae3fa90830f1d0765c5f2aea7371f985c72</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>9a5a180726ed2ed64545dfa71bf6f857</string>
			<key>Key</key>
			<string>e6957360aa116e9899eaa66f3c1c4416fd1834fc5fb0a093de62fc9f2208ce54</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>7a9f7830796a5185ba394874b2473151</string>
			<key>Key</key>
			<string>d90fe16f581323d0c00af8095cc36b4aaf42aa0f4f265a296d119984c27ba62b</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>969dc5f556bc65b5fa16d0473e076ec6</string>
			<key>Key</key>
			<string>9a473a3feeda133448183395777a75ca3ddfd502ddd8ab79897e122f56ef960f</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
			<key>IV</key>
			<string>55d6e33a8da089ee918aabdf02d0ca08</string>
			<key>Key</key>
			<string>71075bd43426cf6efde6c3c934498a62b84af7a9b52a22be8066843715ce0e40</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-3715-001.dmg</string>
			<key>IV</key>
			<string>6071de3113ff3b4a5f6f2ebc907af054</string>
			<key>Key</key>
			<string>db49f7a53a326ef954ac5f14e9070b772630c35c66a9a8552827d4923b774818</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-3711-001.dmg</string>
			<key>IV</key>
			<string>cf48dcfb36a2ae968e582b87a3d9dd55</string>
			<key>Key</key>
			<string>847dab97608a8b04607122bf269b4c1c74c5d582f78efe84936e3898ce1f1727</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>91984b64f1e7bf45d0925e113e208591</string>
			<key>Key</key>
			<string>d07cbce9ecc535cf757e89b03460b8eb889f675807b632a94636452565915d05</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>35ab5ac9ede6f05f3d35b9d2f4fa4a91</string>
			<key>Key</key>
			<string>f2f614c0e5bac071da384e24b8035f59f7c49cc572ef11dfa8c1d322d45ea2bd</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>9f667f946ab51121a88785213336f6a4</string>
			<key>Key</key>
			<string>ab752fef67b5cff829cf22bd69af1a4905638e48153169d89d4adc21ddaf628b</string>
		</dict>
	</dict>
</dict>
</plist>
