<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0329.20110311.Cvfre/iPad1,1_4.3_8F190_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>784819173db100367b72cabba1ffba59</string>
			<key>Key</key>
			<string>e6cbf51fcade82ccd8e235d39bfaa57fe28137e0f9c1f2ed6853cdf1b1ee40a0</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>5004a3a549efeac21ca083d0bca36722</string>
			<key>Key</key>
			<string>a4852fe554e94b4a4f90fc8e80919ab1f68a354eed31368b202cae9bec7fb952</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>92459616809b9a5761bec64ef3f2a1b2</string>
			<key>Key</key>
			<string>19044843cbf7a6d7461eeaa771de4ba8e8abb2bca8af0586829adaf74c468c2e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>45ce034af0747ba0093364d39a94aeef</string>
			<key>Key</key>
			<string>4aa54ce37d6e4517219c376040805ddbfec668f82caeb08c7abb774935b4b1fb</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>e823b21e487cb0f129ec7326951d5676</string>
			<key>Key</key>
			<string>e8efe6d77b401486ce09e015943456566d44078b02fb2b12e4b06863861d879a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>9c2dd25ee06795ffc8229bbfed8afbf5</string>
			<key>Key</key>
			<string>4dc23d3bb5bc39d85bd39450ffe8c3adbada92e92e2f35c2571e19282d685bec</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0687-006.dmg</string>
			<key>VFDecryptKey</key>
			<string>890650c3aa3be7c4d6f3473776580acf6781688e6342ed15441a299142fe4c5e933fc89d</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>60a07bca3c3b2f7dbefd15ec7dd5bf83</string>
			<key>Key</key>
			<string>9c6179f3ebe2b0623b94ccf21569506900eb87272d217f6131df08c0216633e7</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>7c6fe065c67cfe4bab2916bda89bc9c0</string>
			<key>Key</key>
			<string>89175ea96f73eda2e94904119bc46e2683dfc10fdbb5bae3b4bd044cd458ab6d</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>d603f9461ff70a744a5b64a731fe0cc5</string>
			<key>Key</key>
			<string>7e3bda084ac1871f84d2f9b808c042674afea2b8dc917b731938516e0ed368f0</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>eb061ae678f8d5119ec9e09074f36d57</string>
			<key>Key</key>
			<string>b2040da634c93aa9243f715fc133c46dbf25e0bc60afab96df78c1a6e8e709d9</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
			<key>IV</key>
			<string>de6a7f4ac7fbfa7eefa1d1fcc92b09c5</string>
			<key>Key</key>
			<string>11f6ec5e539fa817ab624fa7897f4d6f78d7ba9c99454fb54983812e03a4d8f8</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0715-006.dmg</string>
			<key>IV</key>
			<string>d11772b6a3bdd4f0b4cd8795b9f10ad9</string>
			<key>Key</key>
			<string>9873392c91743857cf5b35c9017c6683d5659c9358f35c742be27bfb03dee77c</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0707-006.dmg</string>
			<key>IV</key>
			<string>a6fa038915d5aab8c2cc041071d54542</string>
			<key>Key</key>
			<string>f279113c41097fca600109652865ff24d21f797d4113473dfe612f246a3f2cd0</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4acd6449daece578511d91a2e181dd92</string>
			<key>Key</key>
			<string>54e479230518c3d4f34ea5903f84cc91de75e9d7066f010e81510e788a525808</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d9df21fc5a610752d6b2d1fc9acee1de</string>
			<key>Key</key>
			<string>9f628d5b2a317473405154ad312b2ca2bd56cc1fc0d3eb8c90a1bc96d077e267</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>aa050293b8d0a0b6c4052167915b2913</string>
			<key>Key</key>
			<string>9ddb1c13014ab7057894c17dd52297243380b92c03f090b66eb741a5002aac69</string>
		</dict>
	</dict>
</dict>
</plist>
