<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPad/061-7987.20100403.mjiTr/iPad1,1_3.2_7B367_Restore.ipsw</string>
		<key>Version</key>
		<string>3.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>e839ae241b3c2010a13c2031973f7310</string>
			<key>Key</key>
			<string>f6a6c39e8ea1c2bf9d2bd4eef2e7ef4d0d0611d86a6d8511c625b58042e8e31e</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>0a33ce75fa4d27332d8d2d3cec282baf</string>
			<key>Key</key>
			<string>f9fef3eebf4bec7ae5165aa97ecbbe1bdf5abe03e79d6c8e5e87cbac78a9e535</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>0fad5bc049fb7902c47dabd9e4014e64</string>
			<key>Key</key>
			<string>c2ec30e2843b11540e98657e16b482d30070231accf67373fe895bb5e41089e9</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
			<key>IV</key>
			<string>13c130314ee35dfc242c4c5ad9496ba8</string>
			<key>Key</key>
			<string>3b51f2658e2e84b90dd6cff40e723653c207af9afc8f8e59047fe56282041ae3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>39018f4c7614bb324c90b34a593a4996</string>
			<key>Key</key>
			<string>57b7d7753f9012b5cff48af4c13ce0f0425e84f1a2360f7904baac9e366b975a</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>8c141f550b8b019bfea9377bd9632536</string>
			<key>Key</key>
			<string>28ae9a4e2d29e144fd91784ec7f09b226961def938577ff539fd307981be512c</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>0e3fdb2cd018eaab38b427b34cbf556d</string>
			<key>Key</key>
			<string>2b5a61188dd993997da958d56b08ae55aea4362a5d29fceb627de91150199d75</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-7223-007.dmg</string>
			<key>VFDecryptKey</key>
			<string>2be8f3a0a02f2d259c9b297cb2d156a85adf79fed4ffe88c546a42c2a47aa55f70cadebd</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>a908f13bd3f0cc21200160aaa0534b6e</string>
			<key>Key</key>
			<string>6de70e3bf8c2ae5e716e584b1b68d57d30629086e494503772c5fc0ca8bac9f3</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>fc3e56a76dfbbb1821fa7e4d18e9b8e0</string>
			<key>Key</key>
			<string>2d4f8322fc622e26493e332518511a9d4d186b6219b111763b06c7534fa08ad0</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>0ce08a45b54f54bb99f12e582122b992</string>
			<key>Key</key>
			<string>8c80ca1a1fb8a1f87b6dfa34d186fd235118025029c0aa8df6a70bd33987c146</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>c85cf15d8242b5bba914ad3506a37dde</string>
			<key>Key</key>
			<string>2ad3f34c1a8530802fe4f301d90c88423a6cccd57614844815f085ab8c9bbeef</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/needservice.s5l8930x.img3</string>
			<key>IV</key>
			<string>e2e77412159785541a51437c720a4d99</string>
			<key>Key</key>
			<string>930070d1d2cebc1399ee68f3d6bb503add2d0b0afa1b93e4a33d3b6d665dd0a9</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
			<key>IV</key>
			<string>b863b29507dfc1e7a6de474638ca2966</string>
			<key>Key</key>
			<string>efdc580c591f125c1e75e7230333e6f4848eac02fe67546dfb430de43c6b1886</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7226-009.dmg</string>
			<key>IV</key>
			<string>9c051576ddd94f48c324cf7ac3197fe1</string>
			<key>Key</key>
			<string>31e7ecd9c364414205a8fa0092cc80c0d67eae40e75ffa27b37048c42335a106</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7225-009.dmg</string>
			<key>IV</key>
			<string>ac36df9b6d4a8d6c76cfd1dc542ec77d</string>
			<key>Key</key>
			<string>2cc7f6ba799ffadbec51238847a8154157a14013ed6be5b8a25c77d9da476395</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5e0b3d5aee240120e0c6dcc64034324f</string>
			<key>Key</key>
			<string>d127363289fe0b1b2d6b9f758b0616f0c6751e2b870cc434ac34a57ef64858fa</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b83ba3ecc1919d4dc80a560230b80910</string>
			<key>Key</key>
			<string>eb3c9eabd45eb5701fe1998d570fa38a31ba2807918345a5c7efe0fff7ce1bea</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>36e1bcd042ac193f7305c8e6077d3df7</string>
			<key>Key</key>
			<string>1e3a1ca2f45d15452b16b9fe0a2c214a0af897f09ee269f8e5967fc74b1022ac</string>
		</dict>
	</dict>
</dict>
</plist>
