<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>4f8022112673d4875c32b050198cb945</string>
			<key>Key</key>
			<string>0159008eeeeca0cee87cb80def3df9d1a87c0e67536e86c49c7a8e5307b0c3e5</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>262b8ffc3c7ea14d0839df1dfc3b05e3</string>
			<key>Key</key>
			<string>de28e91de5700c04a0285d5e600071781f669e6b2f8b80474f452c05372a5f1d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>be07c62978ea1679051dbda9684b6dc0</string>
			<key>Key</key>
			<string>30a0651f475ee5ecfb462d2d14b3551bb95011a2f311ed69a1f2dc29a6c00225</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>e8707fc37f506cdb5f39af46f53e1602</string>
			<key>Key</key>
			<string>d23285f6bb26b417fac2fb313cabf836ce4000b4827251e689eabc9100248f3a</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>d7e0a5f2d09c9faca57f1857171941a5</string>
			<key>Key</key>
			<string>cb6ddd774d8de039ed97a215411fa537d285dd49b4728fbf70b6b80d767b5f48</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>61e23d3f401db153db316c2dc74b3023</string>
			<key>Key</key>
			<string>c3c8b404f87a6d702976d52cd622aa6bd5bc59d65119df5e716c1d9f1182e585</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0435-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>7620a160832d8ed43aee376179d28eccf51d50ac38caccd5990db6f10849aa39e3fdc942</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>7ee1f50315f96f81e1bb9d79a026da6e</string>
			<key>Key</key>
			<string>a63f8ee4e0f1866366a0eec428eef40591b2598ca5e604bd92809106a05d2124</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>496e1704c998eec03e0ff51425e83662</string>
			<key>Key</key>
			<string>39aad1cfc86c43dbb4e1099bbb8a0325b072481de5a311f8ff135b0df92e3084</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>a12564113761a179a08eaa4906a6df61</string>
			<key>Key</key>
			<string>bb370862e0879d4c8ea324c83a0bdb6abc447dde43c07f1783b07b0d27086def</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>bd7ac9ff1fd0777fb4baeb6464c2cec2</string>
			<key>Key</key>
			<string>839b7848eb96eb91c1ac8d0f3e45b72d5c711ff529fa107e29ff99d57fa7312f</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
			<key>IV</key>
			<string>d7759a381a06975ff4087b97a73dc38a</string>
			<key>Key</key>
			<string>849aabd88a2dc909a4c3118a94c5e257db1439f045ba06b7e4a6911dbd6a562b</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0408-002.dmg</string>
			<key>IV</key>
			<string>fe41a6392984738f32aca55a0352995d</string>
			<key>Key</key>
			<string>2a8e07268f713840e0e0b32413ee10dde933d630948b5107d7dcb66cff612d04</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0402-002.dmg</string>
			<key>IV</key>
			<string>394fe1c81e0019a333801eeb425de5cf</string>
			<key>Key</key>
			<string>2470bd829d27c6ad0f7c69d6f50dc5d59d913bc6c9cf7d8bac1c89f0854786bc</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d8144d23e61b72c791ea665daeacb2e8</string>
			<key>Key</key>
			<string>2a8be2832f95b7173423cbd67686ec4e0bdeb0ee1db669b6a82b05a43d76f0ff</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c37807797069a32b0a67cb43f8c52def</string>
			<key>Key</key>
			<string>d4cffe812550982ae1a37b042857b50a1e00a661958e2c71616a1255115eb9c2</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>6569032be7b6bc71e264696a6d862108</string>
			<key>Key</key>
			<string>5e3b655dda6e92e1500fb1761d19bc4409cba5e2a1166a70266dfba4c6a13460</string>
		</dict>
	</dict>
</dict>
</plist>
