<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-8357.20111012.DTOrM/iPad1,1_5.0_9A334_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>3cb0d3d1eaa914a8cd22d4023de52695</string>
			<key>Key</key>
			<string>e92ddbdd6f8f099d74356a6ba9c9ea3a9ca49664f60c549e7f187ee5e1a19456</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>6ab49f47ed3e06e91aebf733cb815e61</string>
			<key>Key</key>
			<string>ad468dc01ee567469ac7092a598f851cd8c359ecb7a57617df1fb5c54454b37c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>3e7198a30e468107294c4becba05cc43</string>
			<key>Key</key>
			<string>eb41d65ca2d335820a21caa80420e2a18b33b9d7b1310b6b0700728af938c4a1</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>2c8aa81eb9632b909778ad813a4c6d73</string>
			<key>Key</key>
			<string>1cea2aa1f7515b459d88e1dbc422761872caf94b13b605eb833f27624674e822</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>e3c11ab26804ebeee74e2db2aa279168</string>
			<key>Key</key>
			<string>21a6911423b9e2eb4f008b70c64e256e83a92ecf3f6fd7e1b3650607bfa65ffd</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>9e3f91d702c4904cbdcb857335a25f0d</string>
			<key>Key</key>
			<string>f7d46ce7eeeabb39daddaca765c4414095fdc29a127834e6a23348fe5d35f7d6</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-7877-729.dmg</string>
			<key>VFDecryptKey</key>
			<string>c7e01f3db404f325eee5062368fc6a795487d859518ee498b4d7f4950a281c5421ffbebf</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>f9637752f4e2ed21971100bf0c213503</string>
			<key>Key</key>
			<string>489aa5750881f4b33c495fc1b6c7e5239ece2fc8e479dd0c2665490969df89bb</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>840128d8179cbb83ca0e0f6075aca2c3</string>
			<key>Key</key>
			<string>3263438257a86056326aa451577d40f76f7d7f8924e53e5eefd0808a01848afc</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>68852b68c6306042d6bb1bb78f0503ed</string>
			<key>Key</key>
			<string>dc86b2bee4710e290156646e0ed7b07b82cf95a593a7d320b82984b6ca019b3e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>0bde29eea3b2f17e527f73a2a310d994</string>
			<key>Key</key>
			<string>03b4bcd759aa55e0399fae26224b0c38fa7670dc391ff62bed0830b7e542a3fe</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
			<key>IV</key>
			<string>64b19d245e0069a112edbab43c37571f</string>
			<key>Key</key>
			<string>fcacdaed0717c1829951acba93b243c1eb7c46ec495acb32382270c3e284e324</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7923-347.dmg</string>
			<key>IV</key>
			<string>277d39cbbf681df205db5808396baa44</string>
			<key>Key</key>
			<string>e70dfb6d3b6cf2e05366afcf328385425500e67b212e59a6d08b52bb35732da6</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e4d340d9bb22d4a42eaf1869e0978c8b</string>
			<key>Key</key>
			<string>2177595e32aa2eb51e20bc31f6aed2d7818e3fb75f0321a338ed6fe6f42acccb</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6ff48f4735a6aff1ffb3dfbdc2ac72d6</string>
			<key>Key</key>
			<string>55fa5096e801823685b27864914926d1c251057257490e24b3573aa9e9ea9cc2</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>48f4579ad5090c614190d59a8cf0ae66</string>
			<key>Key</key>
			<string>ecdd4fdb27cc85bb8902eab21f8b53daaa97d67fe2f0566d61a521f246fdad29</string>
		</dict>
	</dict>
</dict>
</plist>
