<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-1957.20110721.6UHaN/iPad1,1_4.3.5_8L1_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3.5</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>0477086ecaad3fb5677996bbe2b43812</string>
			<key>Key</key>
			<string>cd26923d345936f6a9c00fdc31de0444a02fea7f216d8f463d22bba83282c15b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>94947820ad75ace62d304d7ec14f91fe</string>
			<key>Key</key>
			<string>b557c0fb4fcdee1648eed38717f7b859203621f0dfc460dbcd3a40a4c6de7aaa</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>d9189a682a11b11cf8af3aaf6f3cf4e4</string>
			<key>Key</key>
			<string>b76d83d6807a02ef428b4149b80b79c5e4e5de12d13791d3d8e9fa96d9c6355c</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>f2ac4ac8d11105a67aa3a5bcdcc712e3</string>
			<key>Key</key>
			<string>12c9f1cb136acca8b43e5434e07e3eac2905a1e02996c128d00a8a195e029042</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>804d84f65d5c75d935e4791bf7e596ea</string>
			<key>Key</key>
			<string>1046bf037c308787e962e8c1c5a587f0ea793a20b7644726ec8dd19a2c4239b8</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>2a3c0a12cbfcfda564d338e068a8f3d1</string>
			<key>Key</key>
			<string>c699afb25b7074e1550540c71528b9a09378958bfdce8ff174a2889419356f30</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-2272-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>e002a32650a28f4ecd0793d2e36d8bc93bf4a60bb010dbe9ef2ed41821fc5463b24c791b</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>d512826bb846feb8354e61c31765470f</string>
			<key>Key</key>
			<string>f31c96846b50013a5c1517601641174586427216d089121e0fac863f22b0982a</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>3d4565e3c7b96a3e6875cabbcea251e0</string>
			<key>Key</key>
			<string>362e59c54238eb9c066098dd52135e322a0d4b25d70e9ce0112bf3bfec72e040</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>80f4c70d2a18f3e45ebbe44f9e6121eb</string>
			<key>Key</key>
			<string>1652c85914190a2a999970428a9ea03e7abc6c2b36f974d726758e2b9593ccdd</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>aad853920dde449e67638db244a22509</string>
			<key>Key</key>
			<string>391d2169ec12ce9966c14cb76d167d0c2126f9e821b80858988f6bb8c29f6488</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
			<key>IV</key>
			<string>3c7675a34b01250a183dfe275534bd42</string>
			<key>Key</key>
			<string>c1d0032a078d0b3753bd0422a8bc79b43ef8095a2b4b82f788f27cb46d901102</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c2eeec7622f5f9a915c3a8fede39f655</string>
			<key>Key</key>
			<string>93a6c604e506f6ad7c65b5d28d4316ca1ad8ccaa4f0887c5c321a959e824f6e0</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>645a939b52f048e4b118c93d789dc822</string>
			<key>Key</key>
			<string>6c240794a223efc88b782a5933a5f11cf52f3d164b6ff4b1f78d20b62c17a347</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>9617a2f8d57c6a10ba8e4b7e1287d070</string>
			<key>Key</key>
			<string>c6aa0974229a1ef772831639345fed0bd8b8be1138b27da26397ad3e4fe38a97</string>
		</dict>
	</dict>
</dict>
</plist>
