<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0550.20110325.Zsw6y/iPad1,1_4.3.1_8G4_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>18166dbca005ebfacd51bbca8acb63ec</string>
			<key>Key</key>
			<string>68a16c21ea1370a10525f7c6c101a287a9ca9a794d555dfad25b460498ed6b39</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
			<key>IV</key>
			<string>20744e995ce6ca7f93df896bb72198bd</string>
			<key>Key</key>
			<string>ea08ba056f0b4a8726becd6d8550fd59b6e047055e1535e4fcac7d07fa7b4cb5</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
			<key>IV</key>
			<string>f9504808a1f6673b51ecc05e0535d6fe</string>
			<key>Key</key>
			<string>410e530fba7f0555247a5f6e14904251b95306439b7b4a3e0721f403aa1d3aad</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
			<key>IV</key>
			<string>d77c640914de89faa60522907109bdef</string>
			<key>Key</key>
			<string>93d7c555c79390a46949e28f286daa8e72149ffe60282570b9305f7affc42e95</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
			<key>IV</key>
			<string>5cf61c60b5d9ff940a6089053363278a</string>
			<key>Key</key>
			<string>4dc63f8ed03cf5adc93af7d02cf88aa606b6ccf47c98620cbab2c103136da470</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>13daeebf195b309f77b48afaf7e2c7e7</string>
			<key>Key</key>
			<string>799cca224384ca25990b92d019cf376bc52d5606183136b68b6cc174c62f9d67</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0936-003.dmg</string>
			<key>VFDecryptKey</key>
			<string>c309657d0abe1b66b4be046bb4b03fb540741f9cbc1e49951cf21e11332d9b0b66afd31e</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
			<key>IV</key>
			<string>404af73f2eba410b00cdd2f4644cc3e8</string>
			<key>Key</key>
			<string>5ec0dcc45b200989cb35c8159cd62d0c41bf3bbdc6a9b35820d24079d5783cba</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
			<key>IV</key>
			<string>83edb6499e782720c590ab938e0913a9</string>
			<key>Key</key>
			<string>a9047a2f17601643626e4c5c036158317d6b555ad09227e0a44baad84623f951</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>351d3f475289632507b292692a358bb3</string>
			<key>Key</key>
			<string>09e63af1dc37e3c0759e5fa2d303ad556c72bfc939a76545cc25fa4ddf24f505</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>63e6bc2e49892425f404cec964dfc1dd</string>
			<key>Key</key>
			<string>a4a930cf62144f786f8509e6dbb6cf3f2e85808bdf4cbf66473bbe0088272caf</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
			<key>IV</key>
			<string>76a449240efcbe0fa170a02d0d5f5e4b</string>
			<key>Key</key>
			<string>6d11f1ded4264c98255bc452f2f5bad10b3ee1fb0cecf980803ee3285a97a9c4</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e87160ebb1b6d2989dccdd5ae5d31b74</string>
			<key>Key</key>
			<string>b66293353e7e1466efc6d8a8cb0f9e77d495452d7abe8e00b746565f5f6b8625</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>815f744558bb65d991dd1dd2502301b2</string>
			<key>Key</key>
			<string>99f0194451de1ac1eb4a254dd843f89a9cae2537b130793bff2c5e16a5b2b851</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
			<key>IV</key>
			<string>8dd515b2122e2ebeea4706c4810a0702</string>
			<key>Key</key>
			<string>daf03075a4e7efdb1f4972dd7892f18941883aebfdf040998e8b6a13c09eaaf9</string>
		</dict>
	</dict>
</dict>
</plist>
