<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-7939.20100908.Lcyg3/iPhone3,1_4.1_8B117_Restore.ipsw</string>
		<key>Version</key>
		<string>4.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e01950e29b6dab9990555041916ecabf</string>
			<key>Key</key>
			<string>3f1c88e1297b29db7dccee73aaf66076f04abd17180ecad87d2fd993fbd97800</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>8fc19d578743ce25e5cafd7a6af6bfc4</string>
			<key>Key</key>
			<string>96415f515e21b485cd7c2ca8d2daffd747f629ceb00ddbb260d0fb6d3be27085</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>58c85d4a6db5d714c3ac73f406ef5db3</string>
			<key>Key</key>
			<string>1b6ae72875b6bb0d060027ab711009472ce238b8de5d18132f54ab61791a8dfb</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0913cdec90342840d372ad027c8abdec</string>
			<key>Key</key>
			<string>46466217bb4f87f6f5f70af0021b5c41301dcc3e19d0f5d8fcb352ce2c2d90f3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>c9739f169b2cdcd0780fe1f292ea79be</string>
			<key>Key</key>
			<string>f3d0007e984aa9201a6a87cb4d76835717255e6b6caaade4039d3f8899231b74</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>bbc56f1b02a1d8e415bb44ec79e1e138</string>
			<key>Key</key>
			<string>976ca0a3f2d1aaaede1db3ba986a000f4db6b355c7636479b62c3f22c3462442</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>c6aca9cbfad934d789ae1b0274907b1f</string>
			<key>Key</key>
			<string>5a97e72449c93c465984c2661bcd78a681ab5e505edf38bf3e3094a4af2644d1</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-7063-114.dmg</string>
			<key>VFDecryptKey</key>
			<string>2ab6aea67470994ec3453791ac75f6497c081edd1991e560a61dd666ac4b73f43c781739</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>2157ba97f0e6fe664919a1a6b9a3de22</string>
			<key>Key</key>
			<string>cafa39e18b56b6135d01618aeb156bf221d936b9f9cb9179a6c86bf976af8ebe</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>b51a5ad694ff975c17f9124ed7fc5f69</string>
			<key>Key</key>
			<string>84ea87beb4bb8d0b77ca391008a4cd4877fd2cb0107e3c6b78a5341a858550d1</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>a52166be88417c9a4db00b838512e664</string>
			<key>Key</key>
			<string>19701b9ceac9811d25a5a9cc1718d8b8347ac432c1e8c0660f97fe9cddeb964c</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>2f9f07766a87a192aa0cb6ef6b499f7f</string>
			<key>Key</key>
			<string>4910e1feb1159887cf8fc8f5a77bbdbeaf4dfd18765409406ec03d269db28ba5</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>23ce20be1832a2b628357b2a4637f4ba</string>
			<key>Key</key>
			<string>ba4e5862c1bfe3986acf384898f6c2be3c0a96c7619c886219b268ad86b36e05</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7082-092.dmg</string>
			<key>IV</key>
			<string>103ae8786d55bebdea996a56706641c9</string>
			<key>Key</key>
			<string>a80b3c27041f09d4554bbf4af59dd5bcea38bd4fe2faf82d8d6f62853ec6b337</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7074-092.dmg</string>
			<key>IV</key>
			<string>4445214ed192b6ccfe6953c6ae80c55e</string>
			<key>Key</key>
			<string>7f50d391295747a06d03cdb2ae536fa089a368e473a470148f44750712c58105</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fe47eae4d54b1d02f096e694e21f2967</string>
			<key>Key</key>
			<string>71fc41981edea73b324edfa22585a0f7cb888f370239e36262832f8df9018e85</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c2c5416472e5a0d6f0a25a123d5a2b1c</string>
			<key>Key</key>
			<string>1fbc7dcafaec21a150a51eb0eb99367550e24a077b128831b28c065e61f894a0</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>3bce158df77289028e07c49ea90294d2</string>
			<key>Key</key>
			<string>cc77943e52741e0d2df0f1dd0ea9f8aa258179b9d0e992918247913d425db962</string>
		</dict>
	</dict>
</dict>
</plist>
