<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>6.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>f8d5339ddebf3b7f1f175418964d4565</string>
			<key>Key</key>
			<string>992b4f126ea809b20b4d6adc6e64685756f82bae3c0870f5a71d56b4668d8940</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>4caf4c38757ef8119b90232ae7a5d445</string>
			<key>Key</key>
			<string>303cdcde59d9c8ad13925f605e2cff7438035d34a477a105914478cf131746f5</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>1b34b0db748656dd7ec7e8654883da15</string>
			<key>Key</key>
			<string>b5b2c20503cf68f6c5a7e5c70a9caa715dd281aee222fe302c311a8e22217c08</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
			<key>IV</key>
			<string>7fd1f9d1a5d0a20141e3bd32c2a18eea</string>
			<key>Key</key>
			<string>9f1243dbc4cb8356edf828b859f70580ae1a3860ea2c7d155b4cc33b40be6db2</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
			<key>IV</key>
			<string>3797cb9bb0e151a264d7a828c6fa8680</string>
			<key>Key</key>
			<string>361acee486f1d01bcb8bb9f2d5786a1263e6815dd60f9c7abd48b041f64004af</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>50200b2e1117047f908cd9be59d15254</string>
			<key>Key</key>
			<string>20a0536eced0ee69dfae5842b74850645039594a9f0fa53d9e26bce849b9edd6</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-5645-004.dmg</string>
			<key>VFDecryptKey</key>
			<string>219429e67144233ec0928a6bb3f0f0149dd1370a2e4e783ec51c8f1f389dfe567a2fe443</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
			<key>IV</key>
			<string>d8439a990313c1e474014dc831fe4f86</string>
			<key>Key</key>
			<string>7123c81df312828d8f30f79b1b9e11a040251bdd2f75f2bacb854ec9ea19bb48</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
			<key>IV</key>
			<string>0f521808c9a0066f1a7ccd49969c1d9c</string>
			<key>Key</key>
			<string>9797af36af56dcc7946f0002b2fe2bb470ac5d3386e476ca9d79680fa063ac0b</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>866044a4fdf9a632833f753bf9a489fa</string>
			<key>Key</key>
			<string>c9f886ce8690c7b18a572c8bd719f438765276691adf54046b4658297311082c</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>608784867af81f9e8ea6a84be1999355</string>
			<key>Key</key>
			<string>13e2815915856b10feb4b56ca0733cefea8d5b448c0d156d5b961c94d72525f6</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode~iphone.s5l8920x.img3</string>
			<key>IV</key>
			<string>f930a06075d90790e62c924671ef6069</string>
			<key>Key</key>
			<string>a4759e4d25c93316b53d5e88276031d0204f5fd143b6bb28ba711d601366e579</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-5626-004.dmg</string>
			<key>IV</key>
			<string>1db12c65f6dbb01fdef82fcce0aecedc</string>
			<key>Key</key>
			<string>c1d7b669f8b2a273059e2e293f5822e8fbaff19b8ef495fd7c04064645fd98ec</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-5627-004.dmg</string>
			<key>IV</key>
			<string>4c0ef1049bc8fabc21c24e3fde0f7c52</string>
			<key>Key</key>
			<string>9f1cb1cd81d37acf61a699427a2d9898eb2f180bbeeb7a761d4ef71073286488</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f7faf434adfa3d162b4ae6f11c19b93f</string>
			<key>Key</key>
			<string>01505ada07128896f754ebaf9072fd9cd50ef5a619597a745af603f77f9f6847</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>13fd7a8073d5e24d7203c9fe2761e05d</string>
			<key>Key</key>
			<string>02271ffcd34178e842bb289572bbdd4df4e5674f4b6b120a2aabda4ed770a705</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>a7c5921f3c0ddca0e0288d3f04b5f5d1</string>
			<key>Key</key>
			<string>d6f4f8fe5cd41a15ec076127af62c92db5b7788e70dfb9d200321f66c343fc77</string>
		</dict>
	</dict>
</dict>
</plist>
