<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-8619.20100715.4Pnsx/iPhone3,1_4.0.1_8A306_Restore.ipsw</string>
		<key>Version</key>
		<string>4.0.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>eab39b46e705b57f820beeea28ea051e</string>
			<key>Key</key>
			<string>0feb8e5306e2a529e4f7b39e24fc49e90669c15c218d29c55ac734f7516c5519</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>9a245f6b11fc27158ee3ad3e4512e210</string>
			<key>Key</key>
			<string>88f0b9405efdeacca198f91b5699940f93e291164b3433f6a18d105daf821302</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>acdf7642903d18a938fd4c9503f00ddb</string>
			<key>Key</key>
			<string>8b8017d158775e6ea70519a38f386d7c79d8cead889b7f90fd67e52ed6a4591d</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0184440575ba15a2951ebcef25cc8969</string>
			<key>Key</key>
			<string>e0eea11b45c5065e941bd882a2f3cd67e071200a276792668fde53ca22e87835</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0442d362964d70b37694022d6678b40d</string>
			<key>Key</key>
			<string>18ee09bc8199f8b67b2f4d00302a55144ed6f70c9bea0249cc8e5d94de2f8cd6</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>821f194d93d06c4367959c13d672bdd6</string>
			<key>Key</key>
			<string>47f6e42dbf1fd8c264d8e03133a408410c672629c428ff42c7e7051a8b3ac8b6</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>3fbb3880298f43dfb7d1bd258b58163d</string>
			<key>Key</key>
			<string>713f68ac63cc25ab91d8d1eab951b2d32dd3e7a4be3a9cab13f2d71c7017225e</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-8229-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>ebd8aea30e78053112c4062690723fc5ee8e53865d4d6591b64a08216337c5a7aefbc806</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>215d50a55af69dbd9ea0b3dd95da76dc</string>
			<key>Key</key>
			<string>f2d70a13bcd37ddbe1109127b64c494345195efdf760bc3c7749596431f190dc</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>b22f086528cf034a8b7b6beacda842b6</string>
			<key>Key</key>
			<string>f2c91182186e921d1f59611f324e28c4460d9e8a2097b125cc81c13faa4d16e2</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>e5b75d5fd254ce8b6b30129ba1c9061b</string>
			<key>Key</key>
			<string>7e701d9373343a2503cc0020c27017e289f637f3ea38ece41b0dc637033f17a1</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>38dc20db913d806aa33cdf3bf6cf6680</string>
			<key>Key</key>
			<string>7724173c36b57d781a22b407472cf5ff18c74aee1820c0c2c369b4f77319e855</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>5f4d5482f51a36eca1a3dcdc690186ea</string>
			<key>Key</key>
			<string>a75dacbe66d314ba7ab74b3a26aef27c1219798eb1306a36413e28821db35e60</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-8235-001.dmg</string>
			<key>IV</key>
			<string>5dfa31e28674d44e19ac05148ae7f668</string>
			<key>Key</key>
			<string>79cb7f8c64b6302a58a63a693ce0582df269fad68f6eb9d85340c1f75dbe89d6</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-8232-001.dmg</string>
			<key>IV</key>
			<string>6ab71d9c23cacaf4e4109e88b4f50c56</string>
			<key>Key</key>
			<string>3bee567ffcd911daa44da96e2ac4c315f3ea8e51d6cd006bfa863a0ca1bbc20a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3cde603259045d2dcc7f70bd39b9d8e9</string>
			<key>Key</key>
			<string>15d7ef3c974c6afcdf08d575c4bbfdcef260751667ae5fc2006f10ce5b03bb2d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>91f94e5d726a2d2f2c7ffad58d4f3b77</string>
			<key>Key</key>
			<string>d05c3c40db40e738926f811b8b1314038d26096c4102461698a49098c47a3fe6</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>127785de92315f6921e8ecd0d2ca35f2</string>
			<key>Key</key>
			<string>2d995cd307840ab0ef2369775aa9d00605ac0df7160b68933404dfbe2e1fe969</string>
		</dict>
	</dict>
</dict>
</plist>
