<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-9853.20101122.Vfgt5/iPhone1,2_4.2.1_8C148_Restore.ipsw</string>
		<key>Version</key>
		<string>4.2.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>7ac3b3cc96fe0466b84b25829e6b44a0</string>
			<key>Key</key>
			<string>ba9241b3e214dcca8cd20dddf3699acb</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
			<key>IV</key>
			<string>34e494314bbc370905c88564b76f3257</string>
			<key>Key</key>
			<string>1fa64d180acddd10346a70a2edccf494</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0015-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>82c9280927224637c77a96a26d22f42f2ca08fa9a798a8d06fbc8202fc83ec7f45dda79e</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n82</string>
			<key>IV</key>
			<string>63e4f6107e33379100b2f3e1cc0fdd94</string>
			<key>Key</key>
			<string>899504f05b254e543d98fcff61d1dc03</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>e26f281077fcbd85af323327258c1a3c</string>
			<key>Key</key>
			<string>6f12794e39135f36f4edf8b11194b783</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0029-002.dmg</string>
			<key>IV</key>
			<string>673d874f06e87e018adbe8a34425df19</string>
			<key>Key</key>
			<string>91fd0e11469cafd56cff8ac906e54b93</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0022-002.dmg</string>
			<key>IV</key>
			<string>694b0eef314fb613cd51830fa9f5aa3e</string>
			<key>Key</key>
			<string>160e72355c3053a726b6ea5305619515</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			<key>IV</key>
			<string>79ec4fb2d57ea1896febf5244a39aed1</string>
			<key>Key</key>
			<string>2841457265327a4c4d0eebdbbd90c0de</string>
		</dict>
	</dict>
</dict>
</plist>
