<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>6.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>0cace7eee98deb9113eb089f6a97cfdf</string>
			<key>Key</key>
			<string>626260fcca134e43ed12bf2d97765fcf2a1afcd151127c6123f796fcd8e2901a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>3045e5bdd046d91051085ae7b3883cbe</string>
			<key>Key</key>
			<string>91781dd18f7114f04dfe236a366ff72ae12a5621d18c37e02bc42b0b6380f213</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>11b192ef9a3d2f117e1e1e2c28df6a41</string>
			<key>Key</key>
			<string>ac86aa62cb490e86fc19809fa2e10f38995088947200fffbcae2341449f996ea</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>a8483f765ae4ab30066cc95a6fe13ea2</string>
			<key>Key</key>
			<string>104a389e1579c7f6e4a16475d84f36c985237e88c7feb9712b8833d08838b355</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>e75cda33fcfb3c5052e1cea5f80c5b5c</string>
			<key>Key</key>
			<string>cfc690e1d786716420e1e6a363ae928422b4db11129b94fcc3efbcbd198d6e27</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>a3d13ebf4e6c5d1bb2d96daf74b662bd</string>
			<key>Key</key>
			<string>4aa252fd249ef41b05769e441ec05213af5e12ff1071daf659a1f2ac86a868b7</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-5201-010.dmg</string>
			<key>VFDecryptKey</key>
			<string>358abef36a67c6cb895a1f07370ccc76370071a288544427c42339e2e41bd9b6a97eec13</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>2409cc4b19bc4b6598c5e3dcffebe656</string>
			<key>Key</key>
			<string>34f43c6b3a559bf5d15bb909381d3b079956a85a1e43d6bf4d353b4764de43a3</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>148f58dd23d948d15b64a909552c3738</string>
			<key>Key</key>
			<string>ec82ff86b9e72c4b84deadb2a0772a622fb3b266c556e85b6e892dfa8c4536d0</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>2ecf1b3e1ddfa0a97315b8de0bfd3cd2</string>
			<key>Key</key>
			<string>9cf2a2acbdeb18492d5b9b1d1147f803a824b4514dcdf841581a880f66da337c</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>91ddee63742d6b1f99cf1e692c3298de</string>
			<key>Key</key>
			<string>6e0b8f3a55a4d13b3bc51cde0908c52f98910b27b86b90b07cd5ec7677c50a7f</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-5050-010.dmg</string>
			<key>IV</key>
			<string>6aa5b78b07f931a5dd51f35227c50ab1</string>
			<key>Key</key>
			<string>b419ecff986e7c45f310567fed01f7149408ee6b0b25c18ec9c99094ec96e5a5</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-5057-010.dmg</string>
			<key>IV</key>
			<string>923fbfb5977f1234642d3c562f934028</string>
			<key>Key</key>
			<string>57bbf677211a00e0dec6ea86cb1f2d587bbae9f78987270d3de68a1487b962fe</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>8ce12116eb57a62db5a3bf219be5da70</string>
			<key>Key</key>
			<string>0fa4a62a09492702be3ad996a063484615e75a358c1df3aafdcf56be7f74ed12</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>76bf4061d78be4e1cba5f2f10fd743ec</string>
			<key>Key</key>
			<string>89fef1170f5b1ada8f8834150178588b2aac4f08829c17f8873a96f72abb7500</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>53263df945c0c501611ecf17b5e31a39</string>
			<key>Key</key>
			<string>0f7c61c07cdd7b0d836ebbb1005131e4c506b807d79d0f590bf6a914ca822e8f</string>
		</dict>
	</dict>
</dict>
</plist>
