<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-4061.20080115.4Fvn7/iPhone1,1_1.1.3_4A93_Restore.ipsw</string>
		<key>Version</key>
		<string>1.1.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>022-3743-100.dmg</string>
			<key>VFDecryptKey</key>
			<string>11070c11d93b9be5069b643204451ed95aad37df7b332d10e48fd3d23c62fca517055816</string>
		</dict>
	</dict>
</dict>
</plist>
