<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>4df927154160ead1b83e19b742fe4812</string>
			<key>Key</key>
			<string>d4bb0fb6861d97ebad763f8934a9a7d7099f70e09b08f75949f694e326e2a736</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>0d35cca684a071c65e8b5149b4983f9b</string>
			<key>Key</key>
			<string>37defe98fa54430fe4a3d4660a85cd514e11a88d6828f80b04ea7505e3ffaa67</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>0bd33dd3d7c82e08f591a27dd368051a</string>
			<key>Key</key>
			<string>d423e053a69e490639e52958533600216de393cd7d7d19b36dfeaa5445e685d9</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
			<key>IV</key>
			<string>a0cc59a102dbcd05a66709ddcdcb9eab</string>
			<key>Key</key>
			<string>307c11a300f8036f62d4834beef9e720aabac911f61f9d9edb27a87cc35d53a5</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
			<key>IV</key>
			<string>f4aef91d1569b683c689511f5821a5b5</string>
			<key>Key</key>
			<string>3354fe4f5dbf9892ae1eae3f75869284f37f0e4f392de72fee4d86a12c894072</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>40c4e2107e80f6455dcc8caf7122b0ba</string>
			<key>Key</key>
			<string>696083e44eaca87cf8e51812999243ebb1560e6b7e0fd6cc8e5d8f37b9966ca2</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0642-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>35180cdade1149fcbc061d6cafea436155b5d75540960d68ebbed56e8d0da862b8a2707d</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
			<key>IV</key>
			<string>3b53d2c61c40db40f49eda8c9503d640</string>
			<key>Key</key>
			<string>1403771fcda6e0304b308e3904e78bd05c3bbb1afbd67ebf709a401822768d74</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
			<key>IV</key>
			<string>f57ba29f18d689a0fffe408f8886c6da</string>
			<key>Key</key>
			<string>f84adad22214d7e8b3a67554e3283ab731cd99ba2d0e6d178cc1f080b396d14d</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>c5809f229cde524a892ae400fb3793df</string>
			<key>Key</key>
			<string>0c0d5153ed6d16456a6cfe2198d4e11fb1486d82ce2779743041c58b19cdf05a</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>4924518c70931c9df7fa4d8aecf47f10</string>
			<key>Key</key>
			<string>05ae7c1a8401b82d047aafc8f77ae9bc9259dffa43a99f8c1499499a11578390</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>daedab57c01366e7f2f11ddf76dbae7c</string>
			<key>Key</key>
			<string>ebc57ab85ffb2921ac9b95311c4d530776b43f23dcd2743c0e256945ce8ced69</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0630-002.dmg</string>
			<key>IV</key>
			<string>93d7e04c1ce4c8d61d558545990353d9</string>
			<key>Key</key>
			<string>32dc6aa1fde0f90ae9e5d55c0f521146c85526d654c8530e42e76d7a115f3f34</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0625-002.dmg</string>
			<key>IV</key>
			<string>52a9fe6b0e86f426546d85fc307bd093</string>
			<key>Key</key>
			<string>6b7e6d29b051dd67da113d7aa2ee8b47aa24d2845455d30af433f08779bdd797</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>cb6687f03ca2f8e39c6476168a0f295f</string>
			<key>Key</key>
			<string>9ded2fbfb2c95927487fa99db3f25fb8dff00a6f2e4d63a65056c3d970b48ac8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bc212e244151a86e61f5019c16036981</string>
			<key>Key</key>
			<string>1480f3617f7096b40444cd76278de98514b8298797401a4fb84a3908f5f5b9e4</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>861b839b03a6739c1ba1bac86bdc5a19</string>
			<key>Key</key>
			<string>a4bed3211204d558fde4d34ce33a5de09616bf313116d5b953bd47bdc5c74332</string>
		</dict>
	</dict>
</dict>
</plist>
