<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>4.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0dcee7d1b9982793558d588d84c44af0</string>
			<key>Key</key>
			<string>91866d7b929b971c72fa6e90530a5b2a361bed9486f2cb884b632f61253ed204</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>bf594f1948cfe699ed81978da918c9a2</string>
			<key>Key</key>
			<string>6059d6622dc37946e52d2fe87d64541b2142362a9f33576647d0e4210bd98d1b</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>55fbd7a9c6b27af1edc3d79a1e4a7a5e</string>
			<key>Key</key>
			<string>e4b8dd16397ce416a6309b594034c8e024c245dcff046014331d71e307047939</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>6ea98a78db9deca4cc1d37ab2b01bf72</string>
			<key>Key</key>
			<string>311b3abb89083cd245b2c00bb9207b3fa721435b4f53836a97c38cfde4b20268</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>411cf59c075aed7412eac6cb209b635f</string>
			<key>Key</key>
			<string>809a6d52d5ed34d6d35397c1bce23190a09e353418394b33e60b5257de1ee117</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>76d3f38f8badef93c8a243f4e96e739e</string>
			<key>Key</key>
			<string>fdacba0a29f3b650cd135864ee95cb088cb905342912de93fd5a7bf288c99d75</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>ea8153bd8ef0b7965e1855959f8706ed</string>
			<key>Key</key>
			<string>91fb8c543820ad313578a175d28e74caac973759a766167e423d872dae361ca7</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-9740-004.dmg</string>
			<key>VFDecryptKey</key>
			<string>2deb36dc144666a4b4a2fb21b9412ac144427fcf587c5309bb704cbbbeaaa0ee6406c7a6</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>604dfca9640b9f800a3b478adbe63aa0</string>
			<key>Key</key>
			<string>3fa0ae7d2411725bfbffff4e06adcf24373d641703a0cd24d2fa34c64544f90a</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>746787d5ea62187e084c2d0c1f9399cc</string>
			<key>Key</key>
			<string>edc4ee23eff28d4b021e23d986972558bc9d108b7332abff1600e0e01eac23bf</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>e94422a4abd17b504c612749be3e3f23</string>
			<key>Key</key>
			<string>b0a50e8512da7453583a9ef71663a106bc1ced67ae551f84a4352a0db390f406</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>e0514f26e05ab9db509033f36d7440e8</string>
			<key>Key</key>
			<string>3c135743c32306664125a9e07cc280ee8fd014830353e385fb13a85b28698d05</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>9a59ae16a84808e8d7546269e36a21c0</string>
			<key>Key</key>
			<string>ff278adcb52647785fd58ad689739fdcdace7acd08d932b4c32d54ea2c2032d8</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-9746-004.dmg</string>
			<key>IV</key>
			<string>420a5d6eb57765fa8ffebf5cda3d6f88</string>
			<key>Key</key>
			<string>a9f7322cd85eedfeb19dd26ed69cc6c72a46e90f1eb0539afef21ee9b074d2a0</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-9743-004.dmg</string>
			<key>IV</key>
			<string>e08ad9813f68c660c546cdddb4931846</string>
			<key>Key</key>
			<string>42033ee3b23af570568a335b29642292683769fd709d9267a9111b8019720153</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5125bb86e2139b3f4cfb3a470c699df2</string>
			<key>Key</key>
			<string>9aa1f074b26ae75bd394e7138f1195dc784bd774c81f9cc4d80f9b3eedd60edf</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>45bbf0fa98573425fa21dc6e529eba6b</string>
			<key>Key</key>
			<string>32398d3d1328ed3f0e1949446a1357585ae1973b3c8434b83df49ac55cf45d06</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>dadfae4f4967eff4f149b606cbe34060</string>
			<key>Key</key>
			<string>65b69a67acc72771aea43b15b70a566139a42257bdab7659cdab1ab2537713af</string>
		</dict>
	</dict>
</dict>
</plist>
