<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-6976.20090731.Vgbt5/iPhone2,1_3.0.1_7A400_Restore.ipsw</string>
		<key>Version</key>
		<string>3.0.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>02a124ab2522762fdb0e2dceebd69c4e</string>
			<key>Key</key>
			<string>d4598b90b842817d34f4eb2e741bfb965d73986ac0c1ec99f9d73c67fef787e3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>293b264e06878a32f8b4244a17a0b208</string>
			<key>Key</key>
			<string>7d5fbad13c284330bd0046f62eb9af68c50a8739fc8d8f5f4d459ea2585a2eb7</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>b2113152f63a30915ac371ab47c6c1de</string>
			<key>Key</key>
			<string>5eabe3f9729af09378fd8ea9533d2b5b95129fddf2dc238efa9288004ffa2ae4</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
			<key>IV</key>
			<string>cc57bb1ca6303b882fafb81a11921383</string>
			<key>Key</key>
			<string>27246257cac8d0b5a7c7d209b246fa5c2ac814ce7a036c75e77345a7df9cca37</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>c6f3b155a71d2a61d14f78f6230bb20e</string>
			<key>Key</key>
			<string>14370497f039b5caf3583cfa89cfd626147df4c37c63ab3a3fc110765d3d0585</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-5799-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>3d98a932238a55f6cea07e4ce430187e3837f0f02eaaf01bd7d07399f9f07f64795a16ac</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>fc4efef9fd245dc038ecb26f25f795c7</string>
			<key>Key</key>
			<string>783970ed70d151e65cdd0f52019f026cbc0ece5c604603117d677b6a85ea4d95</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/needservice.s5l8920x.img3</string>
			<key>IV</key>
			<string>b69dcba0f582657821b7dde9eea4c67b</string>
			<key>Key</key>
			<string>b5dd7e17d288b3a51b3317a843aea99c7966a99357dd16961123c11b63ad6e43</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>2e314503ca4f2bd03ac17c8b8eecf072</string>
			<key>Key</key>
			<string>da2324a7f8341c26b550a674a0d8566a9ebc9eda9c22cf37b1fc7d702ee6aab5</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-5810-001.dmg</string>
			<key>IV</key>
			<string>6ed2cb29324c20d52647d0e45385e62d</string>
			<key>Key</key>
			<string>0aa717da6dad5c368053951e41c927950fb037ae8712cf10d2eaa03c6c101fbb</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-5804-001.dmg</string>
			<key>IV</key>
			<string>dfbcae5f5d7f53348e60b464f21a2a33</string>
			<key>Key</key>
			<string>c7cf4c15702896e499fb55f620a6a1c82b5180f8d3359f2f40c67756d87681fc</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>414cd466c85886181881880d66b9535a</string>
			<key>Key</key>
			<string>711ffd7e4cc4ea56150749e085d065f6efe83bc40c506eb17648c3e68ac4ed6c</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d7815d19a90b84677fc757aa4abf9343</string>
			<key>Key</key>
			<string>ebc56070f923799c06fc696fe5b8335517eb2fc13d1e8fcdb16be784db6b4a36</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>948a3d82419c9d4dde404cb4a788da70</string>
			<key>Key</key>
			<string>c160ff26cf0cdb1c0b5d821e4102cab8a3e62687f39ab8c456907694e3c4834e</string>
		</dict>
	</dict>
</dict>
</plist>
