<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0660.20110414.Gwed5/iPhone2,1_4.3.2_8H7_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>ccc3515c3a505bd045debf219de37c03</string>
			<key>Key</key>
			<string>fb1fe36294b8183e03cedfe7edee54ee6fe3919ddd682d55e694ad77fa6f0b1b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>8fd0b33c4a6f19e7ee15d84e4d0d8efb</string>
			<key>Key</key>
			<string>240f6a35dfedc9c8af03e56a100a292431a0867e8458afb4591c70de7eff604f</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>644061a63336b67559fd9a32c09e065b</string>
			<key>Key</key>
			<string>8849525435de89566df2acea4c6664d96eaef5a4ee16422420808c6b8c5a7f9f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
			<key>IV</key>
			<string>d0f84740dbb37b41351e912b9f89a5ef</string>
			<key>Key</key>
			<string>3c2c6f824867ae23b978ce7fb5492f03b4513ba217a0e9f6f3dd918c6b71e9c4</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-1022-007.dmg</string>
			<key>VFDecryptKey</key>
			<string>69a370c1b64b35f692e87e866bcd460a98a10c56ed05055eb7c675f101894ea504f7bc46</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>a69d6cc5f006cd1facff95f2305e8c92</string>
			<key>Key</key>
			<string>eb528d11638e2c8567916fc6a336d140dd1f2a5045c471f05cf2b409e37c8fe3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>b889e456f735ee52858cca09df3c5909</string>
			<key>Key</key>
			<string>d700547fd945b5be12ec74f578838c746093ff7317e09fff1c88039989d2f7e3</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0034860a2b91ffc9d09471d02f98d06d</string>
			<key>Key</key>
			<string>124ddf2693a216e33a6645e3624ba4cbeda541e42aed603162fc4c49a6795abf</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>181ee0b292538b2052dbd119770d7348</string>
			<key>Key</key>
			<string>f131471b406795abf7ae70617dd30968e5ad6b847b84a1671d5801c04fc07643</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>096984dbafb19c1c708e5c7b1299f269</string>
			<key>Key</key>
			<string>6d14c496a0fe42f49898b06c70dca353a6634f67003715830c0c45b6aa822cbc</string>
		</dict>
	</dict>
</dict>
</plist>
