<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7265.20091008.Xsd32/iPhone1,2_3.1.2_7D11_Restore.ipsw</string>
		<key>Version</key>
		<string>3.1.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>677b4c711e3cacb72505feae8e1eae5d</string>
			<key>Key</key>
			<string>1fb738d6c091113d7dfdd89864a718d9</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
			<key>IV</key>
			<string>2aeb14ac71c98c793f496da817fba758</string>
			<key>Key</key>
			<string>82e003f89bb37bebbe63fabcfed9c4b7</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-6028-014.dmg</string>
			<key>VFDecryptKey</key>
			<string>a8a886d56011d2d98b190d0a498f6fcac719467047639cd601fd53a4a1d93c24e1b2ddc6</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>dbf44c3cc2944b87bdecdbdcd8e42b82</string>
			<key>Key</key>
			<string>6d7d035c04c60ab2776a5e7c729daf0a</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-6136-014.dmg</string>
			<key>IV</key>
			<string>0e128e1f69806afc476b73250908d641</string>
			<key>Key</key>
			<string>6a4db11073eb748bad1fabafb066fe13</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			<key>IV</key>
			<string>13e320617bc655211e2b68042d4508f8</string>
			<key>Key</key>
			<string>a4039d79cd6d41ce2b755ed566902103</string>
		</dict>
	</dict>
</dict>
</plist>
