<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0177.20110131.Pyvrz/iPhone3,3_4.2.6_8E200_Restore.ipsw</string>
		<key>Version</key>
		<string>4.2.6</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>090a5cd25ad4e1259a24463ff05882bd</string>
			<key>Key</key>
			<string>a777e9efde7fdcc159e326b52894ffc9bdceaf76f12ee35217184760231cebbf</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>16ade54c2088416f30d6ee2fe562fac3</string>
			<key>Key</key>
			<string>f0c7d1bf7323fae1b5121a48fee51648508a756933b089464f3aec342f19b324</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>f8f2eaa2cd78fac06045d881c4d94c3b</string>
			<key>Key</key>
			<string>bf7f1e7b7c20037b7f46344f39aee9aa0bc44915f2d969fe2fd0f468d8ba4639</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batteryfull-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0c8416323bc33d2c578317cbc47cb1f3</string>
			<key>Key</key>
			<string>436a0f35c5c020cf1a437a71ab4105a1e1cd13a08efe662ac87581d958e7a3ae</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>8ac48fe62a5cf7aba360985f71efaf03</string>
			<key>Key</key>
			<string>ff6a8aed51d7c687511d889f4b8dd39998e5cf3356271b5f75a983da4f383130</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>b5b8f816ba6c6b082c3ef23be1cf64c7</string>
			<key>Key</key>
			<string>ef5248f463a0aae857acd29c63c450dd89a0c72d24cb80aacdf41344486875ad</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>a997bc9a73be2c03c8527678cb62f0cc</string>
			<key>Key</key>
			<string>33a34c5c90ba84db1eca20732378763678613475fe5a97531be7778b31185715</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0520-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>723ded674deb1cba56a142542a0b06d2a483297f8056c0cfa70346c0724e1b0e03feded6</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>4cefae53fea79f566b70cbc5964a977e</string>
			<key>Key</key>
			<string>39c4f58aacb8f2a46ee43822befbc083313c2aa44bf7afc4d204d5d5aac6be2e</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>6c6a35d4fea31bfe42039bab90562741</string>
			<key>Key</key>
			<string>28b7fcbd208ee5e46c7cf6838e4adb2256c91bd14938e3e317ab498b6e3b734e</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>eef93c11b4795bb4b34ffb1cdd63713a</string>
			<key>Key</key>
			<string>c31ace63b79048c5e1071201e07f8a6f23444e5062d57397a3b3d84ae68dc008</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>69eac0a77661d8e3e7793f6e19b9ebaa</string>
			<key>Key</key>
			<string>91579610b792e3ac351b8b5abcfb9933b19825b3a69de8799a6f93d23cfd428b</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>34eb95de77b4ba1f9e3d0929b59cfbe1</string>
			<key>Key</key>
			<string>041ca7e51df14d14ffccec2f211437ed270b180d3d5b861c0a45f16cde59e79c</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0524-001.dmg</string>
			<key>IV</key>
			<string>c28f3cc7af09a94258a82ea9d1817088</string>
			<key>Key</key>
			<string>cf105a226edc8ff168300eb176d36c5f2de1f712985b7eff12d55868a61288c4</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0521-001.dmg</string>
			<key>IV</key>
			<string>58416ff9827e8322f246515e1f700a96</string>
			<key>Key</key>
			<string>ac4d5e2c285363e4c9db0e34d17da0e365b4f0bd9af8c7a24bda8efd2a0f33ac</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3f8fcb789a234cab016256e7e664867c</string>
			<key>Key</key>
			<string>9ef23dcdd8b6aa7e5629b21afa61509db4e3b144f1aef1fb9d3da3b1393695d6</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6863087c07128d170db61316205c5a45</string>
			<key>Key</key>
			<string>cabd9afa6d7678f3f95d0ccf43d18f54e4ee2e6ac8025b2a528f3b07579ec305</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>ffe94b9f698a62c603bddf122cf25aa4</string>
			<key>Key</key>
			<string>acfb0f3c3c91a85721ee2d2951b5136e7a515cafd4549a37895fa51766887a37</string>
		</dict>
	</dict>
</dict>
</plist>
