<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>4ffe0f61382b72de5d59caf386a100d9</string>
			<key>Key</key>
			<string>33ea000f7238f46f6098e72936da2120b802fe52a444cdc380a26940e76be906</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>2144d0edb65e04591b88bc45a606018f</string>
			<key>Key</key>
			<string>b1f581f25540fae52221891d28ce39c6cb39b050dda34bbcc5cc7fd02afcfb23</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>6caf61b577abba2e5c120c476f160d67</string>
			<key>Key</key>
			<string>cb888fd39eeed5bc4bdd3a8314912cf7a08b4dbdd66165380804bad38bfa6e93</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>81d668a4601d4ac2368b580d8c542a93</string>
			<key>Key</key>
			<string>779677998eb3f0985d88519d5c402e0c81d41ab17976124da1cc6509961b1859</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>bd831d7f660694de8a8baec15695207a</string>
			<key>Key</key>
			<string>dfae5279a7b5ad1be377874088b75c2c913696c8ba4c4ddb11b40cef20f6d6fe</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>fb806971be00151d6cd294b4b88d22c4</string>
			<key>Key</key>
			<string>32f0414688bc943a3a49b4ef3c8c19cff115ae77cc3aba2d3340cd0a177cb6cf</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0437-003.dmg</string>
			<key>VFDecryptKey</key>
			<string>d457db4790e7126428ed4fb053f84f25e89f8135129d0ff81b0d6b580cde1bc5d794e5af</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>5d1d628dddc3415680b828f29d9ff6a9</string>
			<key>Key</key>
			<string>1b140e0262cd4f3e5517c5fce5291e7d497095edbf7acd81f3066db75b13bc97</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>f717cff855e057020e080837283be0bf</string>
			<key>Key</key>
			<string>066cb756433644479a381a3f90f25776d3acfe912a21214ca641f12fd324e4b9</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>45d0d42a633acc373f23b096b36c6cd6</string>
			<key>Key</key>
			<string>f136ce574cd97de56eff685a9e9db56fc8c829518e72fb5de5e4515d52daf7af</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>4b7a331704632d6e601df130e09c0e7b</string>
			<key>Key</key>
			<string>456861c0c597dfd57fd8c3cb17cf104f4e2f48a3fd6b7729416a6a10b351b467</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>23ba400f925e9cbab395edf40b605fae</string>
			<key>Key</key>
			<string>7ad21b53138c53cec727c43aed0837d76953b9b496f7913cd3c9724198a8b9ea</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0408-002.dmg</string>
			<key>IV</key>
			<string>fe41a6392984738f32aca55a0352995d</string>
			<key>Key</key>
			<string>2a8e07268f713840e0e0b32413ee10dde933d630948b5107d7dcb66cff612d04</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0402-002.dmg</string>
			<key>IV</key>
			<string>394fe1c81e0019a333801eeb425de5cf</string>
			<key>Key</key>
			<string>2470bd829d27c6ad0f7c69d6f50dc5d59d913bc6c9cf7d8bac1c89f0854786bc</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>2c69d74317e2ade05e368dd70ca23f5d</string>
			<key>Key</key>
			<string>16c478490b555fa67db4441d03b3616a6d71a6d055785d09abfae6c9e3e9339d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>09a87275ed5f49757d6fd9cfdeb16a9e</string>
			<key>Key</key>
			<string>9119845f4534b1f351ed1bcc05e5bc5e93b459ca2cd9be7cf3c34d4d076872c0</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>88abaa8e21ede6a97fd547ea5edc02e7</string>
			<key>Key</key>
			<string>4d87a79f4520074b27b344eea11da2a0d62bcbffa45fa35b4884bf68a4993e37</string>
		</dict>
	</dict>
</dict>
</plist>
