<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-6600.20090909.AwndZ/iPhone1,2_3.1_7C144_Restore.ipsw</string>
		<key>Version</key>
		<string>3.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>1b8a5224f45aa94cfc02a8ceba55d6d8</string>
			<key>Key</key>
			<string>d2dad0c5dc935afddd628a2c2c243c4f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging0.s5l8900x.img3</string>
			<key>IV</key>
			<string>9dc5cb4730b7ff858336144f34fb130c</string>
			<key>Key</key>
			<string>1f15304209b7fc8c36651e86a1adb1cf</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging1.s5l8900x.img3</string>
			<key>IV</key>
			<string>5a0973cc7b5229220a3bb897bdfc463a</string>
			<key>Key</key>
			<string>91872731b7ffb34e34300f5785711d7b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/batteryfull.s5l8900x.img3</string>
			<key>IV</key>
			<string>06bf68bef1bf08c803760992f06d82df</string>
			<key>Key</key>
			<string>9962b39f775d6941109d0ca06f22cbe5</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/batterylow0.s5l8900x.img3</string>
			<key>IV</key>
			<string>fe5b6ad072835ba24d4a513768882355</string>
			<key>Key</key>
			<string>c1bcd4b18161303135f386a5b3f5b645</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/batterylow1.s5l8900x.img3</string>
			<key>IV</key>
			<string>e812b8e53545874e8727dcc39e01e2fa</string>
			<key>Key</key>
			<string>79fcf4f159a5fbfef5baaaa347926720</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
			<key>IV</key>
			<string>91b33e5282e0d9594f08171ebb85f97d</string>
			<key>Key</key>
			<string>e15089b323cd453898498d0e3918bb8f</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-5343-086.dmg</string>
			<key>VFDecryptKey</key>
			<string>5bfa05ddbeb19ad7d2af3d7012adba6d82002d9d7e7b3771d11702728d15d8f8d52f3573</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/glyphcharging.s5l8900x.img3</string>
			<key>IV</key>
			<string>63a79f76df4d1abc8d07d3a01cc47b5a</string>
			<key>Key</key>
			<string>cc53f9fc36f1a3efc02b490fdba035e1</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/glyphplugin.s5l8900x.img3</string>
			<key>IV</key>
			<string>d28b9cb54a828d5259dc588f19cf3302</string>
			<key>Key</key>
			<string>83e6c7256fc5444b592ccbe67d1a950a</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/needservice.s5l8900x.img3</string>
			<key>IV</key>
			<string>da6863bd5a4236e1f487e5a53136fb72</string>
			<key>Key</key>
			<string>da443d5458ace1d3be8f1f5aa16733eb</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>0f7415895cfe5aea623503ce9db49e07</string>
			<key>Key</key>
			<string>2648aeb9ab66fe6f2c0fbfd571d1ebc0</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-5351-086.dmg</string>
			<key>IV</key>
			<string>73b1c28fc8fbfc6860cfb5f65962a71c</string>
			<key>Key</key>
			<string>081091184b13fb72ffd91d19dce9b199</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-5348-086.dmg</string>
			<key>IV</key>
			<string>71f6eb862e503153d7cfaca2bd035077</string>
			<key>Key</key>
			<string>8ab278e2094fcdfe05e6c29c778595e0</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			<key>IV</key>
			<string>a5ee452933ada902193420e3956b7559</string>
			<key>Key</key>
			<string>1ebc381cd5ad04343ca0b08e9beab8ac</string>
		</dict>
	</dict>
</dict>
</plist>
