<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-6605.20090909.PQ3ws/iPhone1,1_3.1_7C144_Restore.ipsw</string>
		<key>Version</key>
		<string>3.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>1b8a5224f45aa94cfc02a8ceba55d6d8</string>
			<key>Key</key>
			<string>d2dad0c5dc935afddd628a2c2c243c4f</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-5343-086.dmg</string>
			<key>VFDecryptKey</key>
			<string>dbe476ed0d8c1ecf7cd514463f2ca5a6f71b6f244d98ebaa9203fd527c1ecbf2bb5f143f</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>0f7415895cfe5aea623503ce9db49e07</string>
			<key>Key</key>
			<string>2648aeb9ab66fe6f2c0fbfd571d1ebc0</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-5351-086.dmg</string>
			<key>IV</key>
			<string>73b1c28fc8fbfc6860cfb5f65962a71c</string>
			<key>Key</key>
			<string>081091184b13fb72ffd91d19dce9b199</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-5348-086.dmg</string>
			<key>IV</key>
			<string>71f6eb862e503153d7cfaca2bd035077</string>
			<key>Key</key>
			<string>8ab278e2094fcdfe05e6c29c778595e0</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/iBoot.m68ap.RELEASE.img3</string>
			<key>IV</key>
			<string>70ac4d428c1f9ff9a0ea48f84ae87728</string>
			<key>Key</key>
			<string>7e63651dd73d09da6a28544d7986cab7</string>
		</dict>
	</dict>
</dict>
</plist>
