<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>6.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>108dfee094fbba8c487485116c33862c</string>
			<key>Key</key>
			<string>028ee011ab1ccfa06a3c7ab3d5fc409f98537c822cb8f4d8728fbb0569ee6f9d</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>c56a466eaa7bcbfe5d99f398a82b6865</string>
			<key>Key</key>
			<string>fd6389e1b7a263fae0f985873b2ad6c91108512d736d413499bd46a9c120052b</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>506496a84e22d96eeaf7e66b15064dd4</string>
			<key>Key</key>
			<string>cdb435ce77ae44320a98723b19eff6f1194334f81b0bbe8ee626aa5b47c18523</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
			<key>IV</key>
			<string>1391f466f34e38a720776e89deb637cc</string>
			<key>Key</key>
			<string>06e22a98acf8419b0d0f60d2b53a2c506eadcf8c038a5f0c7216f1cee0d83cb9</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
			<key>IV</key>
			<string>7e88eea6d4225ce9911bf1e6f199e7dd</string>
			<key>Key</key>
			<string>638fb84aae0cd4ed41fb154c5947a54fd90fbb685c265ac7d714ccae36c34c23</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>364a135cdc9a087cf94473f86e2bded5</string>
			<key>Key</key>
			<string>b885c5b2f3a152bd11faab5a05ddd7b5111fd4b87daf70ecc070b086b5e27992</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-5193-010.dmg</string>
			<key>VFDecryptKey</key>
			<string>781f6676b6a7ec5d44d67cae5103736062c6229b8194b26f9782cb638d7f9c388990ff80</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
			<key>IV</key>
			<string>4f14372cb99e786d5d543e91d83a9aae</string>
			<key>Key</key>
			<string>ca0786a0abf7c7ae91390c572477e50b569482cc8eaae0391b93dadaf1e10989</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
			<key>IV</key>
			<string>c9e77496974b30978cc299b20fd6f5fb</string>
			<key>Key</key>
			<string>3119bf3043e67b9c69f55fc991f2d1c9553ff8f29844a80cdd8e653aa9d64c31</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>edfe63ba6e5399972ed09126381a18a4</string>
			<key>Key</key>
			<string>e7a874eea8f6a4a8cc79cf6632329ed5e79ac1e8d1fd0179664cec67d4d4e910</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>c7cd62d98811985e0e402e3989c80b209</string>
			<key>Key</key>
			<string>240d4925bdcd13375b3e733757308450aa146df5b5e4bc400a2b55a28d3c3253</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode~iphone.s5l8920x.img3</string>
			<key>IV</key>
			<string>bdf805f678065fe1a88d74db28ded7f7</string>
			<key>Key</key>
			<string>4056ba89a74cdbe75c0012d572dac1eb150eafd98c12b8fb278cad1da7b70f27</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-5040-010.dmg</string>
			<key>IV</key>
			<string>351a359c742510f3892218dda4322b5f</string>
			<key>Key</key>
			<string>569756d195b4be68bb53827348e97f003270dba291bc0adfb753c0e97f159b68</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-5047-010.dmg</string>
			<key>IV</key>
			<string>90cfd2366764cc9d7e8c3e69cda80229</string>
			<key>Key</key>
			<string>ee218fdef38e6ad881501618872d55de1b9358274aad971a6790b8c5bf7e5014</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fdca38eb9b5ac7745eb42bb98ef01033</string>
			<key>Key</key>
			<string>5d3800103221c51b94f1bf3e02d06939629e8be3cd66047dd29ea1bdbbbd3c4b</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e1cadef90821e912193c908a484a64a3</string>
			<key>Key</key>
			<string>b1b3321274c959d116fec8c4d5b9e0679c251cad2aa65bd2e8699bcb1bd2ed2b</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>74050c61104defeb83abd58c1a6d30fc</string>
			<key>Key</key>
			<string>02620c1cd6eb677d071c70121442e31d56eaef077ee76c5fac6c364434de7d4c</string>
		</dict>
	</dict>
</dict>
</plist>
