<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-8358.20111012.FFc34/iPhone3,1_5.0_9A334_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e65ce8671b58fc4c779e166eab10e8ff</string>
			<key>Key</key>
			<string>9d4f781b6384b85b8b5a6cc0b33bc584163b546fca3defff21137d7dcc50d380</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>4fd55d940fbbcfaf9fd6f31d9714b5a1</string>
			<key>Key</key>
			<string>c705fd628ca88a76dc666e0a6081212c614c200f669573944260ef11377a33bc</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>d29a0838b75e91aa5ec3230d9872556f</string>
			<key>Key</key>
			<string>c8b5aac64d2bad6cc89f82cced248900a25bb5779f70db6a359572ba68a0449f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>6756cebf362ebad5f2bd6fcdb971fbb3</string>
			<key>Key</key>
			<string>2f47e54650dadd32605803c2e5a3c064bb1ad248aec19e9a2fb8da3e31903f88</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>cc78277be52b7f0a4bd9352f0cdde114</string>
			<key>Key</key>
			<string>096f1ba8be2ca3b714bb40009b3efb008cd300fe3be023541fc306c7e93a3083</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>405679c2f3366b32cce54faf77651611</string>
			<key>Key</key>
			<string>0c1e3e471b1cf6633c992f556f93257e6e2c295af77da52522c93b19a3b03f2a</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-7879-364.dmg</string>
			<key>VFDecryptKey</key>
			<string>5e5c52fd7e439936d89659b5aa4f79206cd64f09c9961e9d4712a0131075966e2271b354</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>1ea388fbc4ce57d4e897494c639cad52</string>
			<key>Key</key>
			<string>dc09977ade1717fdf5839e1e93e595d2f999981a190a1b9ebabb34bce98e6f3b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0dfc5e73734f84cd04a980a5e41267ac</string>
			<key>Key</key>
			<string>0f6763f2c7964b6cb5a6aa28e0b227f613c8a580e3e6da0a9080f5e446572a33</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>346388f77ae9f059f9dc9ccc18efbe4a</string>
			<key>Key</key>
			<string>9c548f25fee9aa4a625adbb3786ddfadb1c0466897507f713d8bb3edbe960d58</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>6197e6fd9c88a0a5db86002a210bb327</string>
			<key>Key</key>
			<string>b2d34dd582633368bd54169eb3fd19ec61b92cb1648e601161ab547edda67a49</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>fd29096afd26b87c994566b6c32af385</string>
			<key>Key</key>
			<string>bdd53835049f058836f2d74cf60e736ed85c5e3939890c2f94fdda4aef479acd</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7923-347.dmg</string>
			<key>IV</key>
			<string>370db2a05be567e5ff81363bbb69b89e</string>
			<key>Key</key>
			<string>774998512d4042a9da350aa07c7cd2f0e2b7c30730e88f3923e9bf029c556798</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d435f60732b322140217f21f1589b8b4</string>
			<key>Key</key>
			<string>240580fa75a672a810100daec3bfc0cd189270c621e575b469e02e62029de12b</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>afd80e647e22d22a26b6e58fb5846823</string>
			<key>Key</key>
			<string>dc5e8dcd58628a25865fb77c2fddb9d2a17f7c933aa27c53ce2d8c4173d6a8da</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>15dd404efbb24a842d08dcde21e777a0</string>
			<key>Key</key>
			<string>71614af73814c3a8e6724d592ecfccdbace766dad5eb39b0b8313387e94d2964</string>
		</dict>
	</dict>
</dict>
</plist>
