<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>6.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>0cace7eee98deb9113eb089f6a97cfdf</string>
			<key>Key</key>
			<string>626260fcca134e43ed12bf2d97765fcf2a1afcd151127c6123f796fcd8e2901a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>3045e5bdd046d91051085ae7b3883cbe</string>
			<key>Key</key>
			<string>91781dd18f7114f04dfe236a366ff72ae12a5621d18c37e02bc42b0b6380f213</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>11b192ef9a3d2f117e1e1e2c28df6a41</string>
			<key>Key</key>
			<string>ac86aa62cb490e86fc19809fa2e10f38995088947200fffbcae2341449f996ea</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>a8483f765ae4ab30066cc95a6fe13ea2</string>
			<key>Key</key>
			<string>104a389e1579c7f6e4a16475d84f36c985237e88c7feb9712b8833d08838b355</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>e75cda33fcfb3c5052e1cea5f80c5b5c</string>
			<key>Key</key>
			<string>cfc690e1d786716420e1e6a363ae928422b4db11129b94fcc3efbcbd198d6e27</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>5e85f5fd926868dc188a3252ce12c63a</string>
			<key>Key</key>
			<string>9462e366c74b7a81b653ef2e3d119d37f5675d37cdea1127c7747dd3c13323eb</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-5217-010.dmg</string>
			<key>VFDecryptKey</key>
			<string>662831df3d9d702403f3f1a616cebcc7e99a05e68769167f18386c14b95e9f3d4189cec7</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphcharging@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>2409cc4b19bc4b6598c5e3dcffebe656</string>
			<key>Key</key>
			<string>34f43c6b3a559bf5d15bb909381d3b079956a85a1e43d6bf4d353b4764de43a3</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>148f58dd23d948d15b64a909552c3738</string>
			<key>Key</key>
			<string>ec82ff86b9e72c4b84deadb2a0772a622fb3b266c556e85b6e892dfa8c4536d0</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>8ea42673cf8f8ce9c08080d08d7e8e59</string>
			<key>Key</key>
			<string>8e39eaa12a6fd3ada71162a434889e6b39ce15c5b174a18c059acb384f3b8b3f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>bcf29d8a685791157aea7e713f11c42e</string>
			<key>Key</key>
			<string>0feaf0ef9513fc6b96ac8ad9a1ce03206ba825979f8b6c8708286d24182c3a2e</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>262e810474b37bbc3d35b711d8e1d9e2</string>
			<key>Key</key>
			<string>875788d8980bd053640ae47ce3d605de812b76956fe4b40ab1613b202cb7fd2f</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4361-021.dmg</string>
			<key>IV</key>
			<string>4cea00d1dffef9000d188aaaa4928304</string>
			<key>Key</key>
			<string>0cb76013962d65210d21725348c2d9f5a5583004b6c659e6f5960174c73b5540</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4304-027.dmg</string>
			<key>IV</key>
			<string>4c657d2c317880de56a67870bb07314a</string>
			<key>Key</key>
			<string>bb78333d864eb523536145b69a063536eb759bc81b0dbd7fc981b3eae9a42faa</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bd1e737cb4e51218a5353f843ccd7a7c</string>
			<key>Key</key>
			<string>abdd69e01390d223eda1873e5c6e34415c0e413bff471c7b14a5429473b6fc9b</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0d18f9867a5dcad88a7ce310bc553b1f</string>
			<key>Key</key>
			<string>ce0ee2dabddade80bc16a9b2a07cc4405a9a639d7081b3f279e49aba54e65b4a</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>8d706c0467fbba97cfebd67ead8ec769</string>
			<key>Key</key>
			<string>1e70f1433f74bbfdfcb2e147c8cba4c64d8ff98cca90c3c4a4b00d0516db7d78</string>
		</dict>
	</dict>
</dict>
</plist>
