<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-7932.20100908.3fgt5/iPhone1,2_4.1_8B117_Restore.ipsw</string>
		<key>Version</key>
		<string>4.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>9cdcfbdf36175c103d4f3d4993bc8423</string>
			<key>Key</key>
			<string>91f2b4c9a8a69f502a294200472059f3</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-7060-114.dmg</string>
			<key>VFDecryptKey</key>
			<string>4c3c83d3899ea9bef415b1c9c656aaef966b2362494d2c9093a9283d388257562a228c86</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n82</string>
			<key>IV</key>
			<string>7238dcea75bf213eff209825a03add51</string>
			<key>Key</key>
			<string>0295d4ef87b9db687b44f54c8585d2b6</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>8926b78e0a2b9e4ec9dd34b0f99148fb</string>
			<key>Key</key>
			<string>536e5c0303edd8f11ca90535c0770963</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7079-079.dmg</string>
			<key>IV</key>
			<string>a0fc6ca4ef7ef305d975e7f881ddcc7f</string>
			<key>Key</key>
			<string>18eab1ba646ae018b013bc959001fbde</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7072-079.dmg</string>
			<key>IV</key>
			<string>4f545fda195abfded796f10627fedd6f</string>
			<key>Key</key>
			<string>dc4ee98876c3106888fc501576f0c1b7</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			<key>IV</key>
			<string>4c8dd5528dcf283bec1ecd8d741aa540</string>
			<key>Key</key>
			<string>9b5a1fc8c62912cc1404a6bd5cc45685</string>
		</dict>
	</dict>
</dict>
</plist>
