<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-6582.20090617.LlI87/iPhone2,1_3.0_7A341_Restore.ipsw</string>
		<key>Version</key>
		<string>3.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>02a124ab2522762fdb0e2dceebd69c4e</string>
			<key>Key</key>
			<string>d4598b90b842817d34f4eb2e741bfb965d73986ac0c1ec99f9d73c67fef787e3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>293b264e06878a32f8b4244a17a0b208</string>
			<key>Key</key>
			<string>7d5fbad13c284330bd0046f62eb9af68c50a8739fc8d8f5f4d459ea2585a2eb7</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>b2113152f63a30915ac371ab47c6c1de</string>
			<key>Key</key>
			<string>5eabe3f9729af09378fd8ea9533d2b5b95129fddf2dc238efa9288004ffa2ae4</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
			<key>IV</key>
			<string>cc57bb1ca6303b882fafb81a11921383</string>
			<key>Key</key>
			<string>27246257cac8d0b5a7c7d209b246fa5c2ac814ce7a036c75e77345a7df9cca37</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>c6f3b155a71d2a61d14f78f6230bb20e</string>
			<key>Key</key>
			<string>14370497f039b5caf3583cfa89cfd626147df4c37c63ab3a3fc110765d3d0585</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-5302-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>7d779fed28961506ca9443de210224f211790192b2a2308b8bc0e7d4a2ca61a68e26200e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>fc4efef9fd245dc038ecb26f25f795c7</string>
			<key>Key</key>
			<string>783970ed70d151e65cdd0f52019f026cbc0ece5c604603117d677b6a85ea4d95</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/needservice.s5l8920x.img3</string>
			<key>IV</key>
			<string>b69dcba0f582657821b7dde9eea4c67b</string>
			<key>Key</key>
			<string>b5dd7e17d288b3a51b3317a843aea99c7966a99357dd16961123c11b63ad6e43</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>2e314503ca4f2bd03ac17c8b8eecf072</string>
			<key>Key</key>
			<string>da2324a7f8341c26b550a674a0d8566a9ebc9eda9c22cf37b1fc7d702ee6aab5</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-5306-002.dmg</string>
			<key>IV</key>
			<string>e345e23bb266fcc2ba23a2e0be77a3bf</string>
			<key>Key</key>
			<string>44514633ce2aead62bcfa8836cda4a3c7bde483f8b1e9f19d22f9d8fdf753e02</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-5304-002.dmg</string>
			<key>IV</key>
			<string>d9b8d8f798cd50ba72d434b271d2f181</string>
			<key>Key</key>
			<string>8ffbef98cc28b4aa14d18783faa6a8c95c94b1a4536fbfb7485f0d54cdec358b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>414cd466c85886181881880d66b9535a</string>
			<key>Key</key>
			<string>711ffd7e4cc4ea56150749e085d065f6efe83bc40c506eb17648c3e68ac4ed6c</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d7815d19a90b84677fc757aa4abf9343</string>
			<key>Key</key>
			<string>ebc56070f923799c06fc696fe5b8335517eb2fc13d1e8fcdb16be784db6b4a36</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>948a3d82419c9d4dde404cb4a788da70</string>
			<key>Key</key>
			<string>c160ff26cf0cdb1c0b5d821e4102cab8a3e62687f39ab8c456907694e3c4834e</string>
		</dict>
	</dict>
</dict>
</plist>
