<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3307.20111109.5tGhu/iPhone2,1_5.0.1_9A405_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-3697-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>afde073c5b7a637f0a40b37c7b59f22836074d1f1ec8e85f05573da87da77629624179b4</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>1dab17ac1e9a92a93eb42222c2ec897a</string>
			<key>Key</key>
			<string>295ac86788a942d4f6cbf0275749b608a5dd12ad961241ae85d165295b290163</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>dc2d8af006b8f453db1856e12addd3db</string>
			<key>Key</key>
			<string>0ab374b70a2600e4cd2ac139498c71821e9747bb1ae219876e1898aef2304146</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-3713-001.dmg</string>
			<key>IV</key>
			<string>ed03628b68b98887702ef6ef277f2b48</string>
			<key>Key</key>
			<string>18c6320fee6ce45a7983f4ed9aeb8eed90c08c05cc0d406a207d3c1ccf3587b3</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>27eddd5c22cff6a32d02ac99669f8395</string>
			<key>Key</key>
			<string>98299b12ee0eafe9028c2af13a2a5da96678848c0c2cf068ea3af269f5332985</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>10b618d7d5731e326b018e95de6b8554</string>
			<key>Key</key>
			<string>34a2126f10e985c36f8d3aa9fee1210fb21eff5fb00b92312df6d83e5e5c22a1</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>da20bbb90b0e3f615c6d32bb5f94c00d</string>
			<key>Key</key>
			<string>12c8bf6c1e084b0dfc0087aac62e9d5727957c26fa2a46332a52caf142bba5e5</string>
		</dict>
	</dict>
</dict>
</plist>
