<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0549.20110325.ZxP8u/iPhone2,1_4.3.1_8G4_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0935-003.dmg</string>
			<key>VFDecryptKey</key>
			<string>c338fb2858bd5dad4cfb073d4fab2fbed4a3f2d1541bc50d8443f3b18475cd1b62c25983</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>ee19526dfe68c4fce1c684d44820e519</string>
			<key>Key</key>
			<string>6ca1a62ebb91d04026bcb01240ffdef97d868b51dc14a9359e55cd6ebc3e4004</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>372237d6c0f4e22d7639424f45b015f8</string>
			<key>Key</key>
			<string>5eef2af8139abed0adec56802ecaedc7d10928b6aa0e1fdc607317584af61837</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>62070c6c193a1ece1733ce05a391d253</string>
			<key>Key</key>
			<string>533b7a7948bd969e4c9b9bb1206f0778ca9ccb9b4394bde3c41f79e286cbe5f6</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>086c8a91cbda60d094e5f96c8a62c9bd</string>
			<key>Key</key>
			<string>795b5196dfcbe8aea9803154148c087d59a1659a0543c59d4bf7e2ff889b7ed7</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>a165da014fd83765b9d4ddc2198e9586</string>
			<key>Key</key>
			<string>18358b073a584af0959b9fdfb9a09450da5e4431510a896b9584bff34517a35b</string>
		</dict>
	</dict>
</dict>
</plist>
