<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4293.20120427.3DRyb/iPhone3,1_5.1.1_9B206_Restore.ipsw</string>
		<key>Version</key>
		<string>5.1.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>9D8C3366E67A76FBA95288C2DA08F677</string>
			<key>Key</key>
			<string>B165B5F5EAA3F9C4CAA1EAD70DB3075F80F2D9AD86BE84CFA42188FAC3EF3C09</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>D6DF6980BFC7211668CEC8780035CD20</string>
			<key>Key</key>
			<string>360990BBA3D329D25475A3F1C2E06C2E980BDF2A2DF3FA3526FEA63E78324C28</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>4B5335AE4900DBECBC0DDA27D64DF464</string>
			<key>Key</key>
			<string>299BBAF30BF918039AD5249FBEDF5E15DD13921B2373ECE40EED3E518199B04A</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>4D2A83F3FC8EA03C88F5C9748F62BAA1</string>
			<key>Key</key>
			<string>B7C00F5EF88DBFCAFF8F9F3EF3183F97786947B444D23CC0315FF5F0C81F4494</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>DE145B2C54F7C7611B6EE7226F90718C</string>
			<key>Key</key>
			<string>FBAF36E1D67A9CA9E46A1856233861D6552390093304B2193DA2AF7099FC4FC4</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>863B51688385F28267112E02BB7CF910</string>
			<key>Key</key>
			<string>2F2CF5C8EE5515B0889D0F1C9A071E353C210F616DB22A3389B4BC6C45D1AB00</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-4292-008.dmg</string>
			<key>VFDecryptKey</key>
			<string>e897c2d0aaaea8f2752ff6e144c6efc3158a5dad13c6b95ebe8b99885fc6ad0f6b5448f7</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>D71FB4F81D378DAA313D4B23C7E23D59</string>
			<key>Key</key>
			<string>466BEDCD62762EB340A09B414576C6EB2B51F494B3AAA4C90CA7CF1F3AE26C7B</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>FED3AB96E402EBE756D5FBF78482D48F</string>
			<key>Key</key>
			<string>DAF317421843120B1070C24F5395E68BD1DEA9117B09A76239D4AFE6C0A17A71</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>CF59841C24FCAACA03BEAC5733563A91</string>
			<key>Key</key>
			<string>FD757514D0086BE75E9AC2A3C601D1EF6CC7E0EEEDB048BE19B0A2CDF43B9803</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>842C075D390C0E3A1B56E4598C0748CD</string>
			<key>Key</key>
			<string>C85FC8EDAA9ED11AA0EF8CA9918792CB6685D17A3807407201514DDD29B8096B</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4361-021.dmg</string>
			<key>IV</key>
			<string>3474F5208FC45AAE32734213171B95EE</string>
			<key>Key</key>
			<string>4F1419111E1C66C2E597FA79ACFAD75CE501D043AF6EDA8A980B6CD4332823EC</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4304-027.dmg</string>
			<key>IV</key>
			<string>339CB99862663FAD230B8F0F881BE518</string>
			<key>Key</key>
			<string>BD364CBEF93B2DC638400DE6B6832206B237B28961FBC5BD556266DE654E0A49</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>19DB86B7CFA95C222D50C9E3FE6C2681</string>
			<key>Key</key>
			<string>84B1DC2BAA4573899128AE72CD8D2E27CD024EF563755362E6C07547463A6E6B</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>345A34EB3CAF3AF6A72A0A9559C2E1F9</string>
			<key>Key</key>
			<string>3FFB0887082322CC696A3B1DD69547880363A6F54F1A03B20132D401278F3E47</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>B1846DE299191186CE3BBB22432ECA12</string>
			<key>Key</key>
			<string>E8E26976984E83F967B16BDB3A65A3EC45003CDF2AAF8D541104C26797484138</string>
		</dict>
	</dict>
</dict>
</plist>
