<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>5.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>68c29af8152a1b6b2ad3fabd6bf1a489</string>
			<key>Key</key>
			<string>d0711e3242511cc92010f504cebca395fab360d5e9e36f6ad5803352c9255aef</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e832dd048edbe0e753cc3a2223a13684</string>
			<key>Key</key>
			<string>9c02b43b998f82aa4c606f65352eccd99744f1e9f45ebeafaee3fdbfd4483484</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>c629b17fab2cdf03adfc5d6f6083929c</string>
			<key>Key</key>
			<string>a841a550eada143fe38556c4e3a25f0bd2cba82f0eae0b8d3b0dbf7c45743681</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>91288928f7bcf1b8b07955ea54d232b1</string>
			<key>Key</key>
			<string>71a7422322ffb9a0b1663544a5ad01a9474ff5d7eb3a6cd5cb838f49487950e4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>f965ef044e6c52dd65786e25e5b900ce</string>
			<key>Key</key>
			<string>1942127e1fadfc5f9e1c41e39ea24b2a9ab62dccd3664f7fe9c4476562d5fb88</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>ab7004e84c1d5f0aa26a9adca977c00f</string>
			<key>Key</key>
			<string>b0fda07cf058c0918a5635ad300a2bd261da410bbea09939422f73949df40fe8</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-1668-029.dmg</string>
			<key>VFDecryptKey</key>
			<string>ddd6f84e0450d2ea0cfb16d652a6dcc50d9a4e5be2225f9f4e1e22a7dd6cf686a34fb257</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>b170ac8843ab79c1c6356ced51c37209</string>
			<key>Key</key>
			<string>307da87c353784c93aaded962a237fd1ea16ff9e892f1c143d35fd0e54a36bb6</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>45dd141b93fcb80398da5926d730568b</string>
			<key>Key</key>
			<string>76f4c776f054ec59a75cb4a82d0ebabba7a5e38b5b177525f81413b6c34e4d73</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>ff061e077b8289590cf7c2703c6c61aa</string>
			<key>Key</key>
			<string>df5df93c2cb3f7c6ab35c82d942bd8b54f4186cbfe73ada01ab6107b2918f99b</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>61232f50b1f6ac02e1bdb7169c2cdef7</string>
			<key>Key</key>
			<string>0c3b1a48055eb434a279e09afcdc824d6d4272bc22e0c257412e5a5ae828080d</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>a5ffcd9f9211189e02838c0d25210c3d</string>
			<key>Key</key>
			<string>5dc4204a414ff0105b7325bfb15f55a2f71bd52c484ece40e1396f88d5abf222</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-1678-023.dmg</string>
			<key>IV</key>
			<string>7d5195f9216c7327b15cea6c0abb5637</string>
			<key>Key</key>
			<string>d6a218cc74805143d960fdbde7a16bbea497d4aad753af85b7cd7c887c987692</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f11a57c495a339d4049fd2a1e14c0392</string>
			<key>Key</key>
			<string>b16db2e0da7192dcfd63a9c9c5fcde6e89b991b6634fb015970f722fe997799a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>21f4cd2eea91ecf074996c26f925ff10</string>
			<key>Key</key>
			<string>6b06b0d3952b864e6faf78a8b95bafa3d36e0d12e35688cd0a2c9b1b56c3e808</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>ac14fbd78080b731c5325e1a84ccae13</string>
			<key>Key</key>
			<string>b31e223546b0994d8c6747d0658381f5fb3fe75975522a079d9b161cbe607815</string>
		</dict>
	</dict>
</dict>
</plist>
