<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7472.20100202.8tugj/iPhone2,1_3.1.3_7E18_Restore.ipsw</string>
		<key>Version</key>
		<string>3.1.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>106f935de2be3fcc56fc018124b6799b</string>
			<key>Key</key>
			<string>f662084d788a33650f441451106a6b628051fc7f7697a0eb6948abcf3d151a15</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>66c395a022699c8eb7657704a01410bf</string>
			<key>Key</key>
			<string>491499079a1d179a27b12841e3279ba54a49ecaf6c1786c77b4cd81305181867</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>44302cd8edc1b8a30d4455dfd05b8ff1</string>
			<key>Key</key>
			<string>bd413a2ce255e83cc3d98775637df3fae03ab82869b1cc128adabb12c6293574</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
			<key>IV</key>
			<string>0701db81f4e12457a630cb1b373a508f</string>
			<key>Key</key>
			<string>750f7c23ea125202e8a7bdcef0bf2e0b852c553e7f82d5d6d2f166458ac88f2f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
			<key>IV</key>
			<string>dc83ce348681f776958abb197f64ed6e</string>
			<key>Key</key>
			<string>a01325c394f8e97557519e93079eb7dcfe94d5a8005c83686b27882ff90af4e4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
			<key>IV</key>
			<string>9d595480f5df3169b17a8ed8391118db</string>
			<key>Key</key>
			<string>f784a7fc5ec9238b8fbc42c8280a4911e5a7a64cf223ee9dd921254b77a2d09d</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>10ec8038e1464807987c360d3cf84de8</string>
			<key>Key</key>
			<string>2427e2c9330e9fdbc1b48111fe5c0c1e48f3460774079ebe5db8d504463e38db</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-6483-022.dmg</string>
			<key>VFDecryptKey</key>
			<string>9b3fd35bad7d5307d85ce4b38b8e56bd680ef5a72a8f3b615f8d4f16c14bdcf3c3b24c6c</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
			<key>IV</key>
			<string>002b536a6058df496a8a3a28ebfe1b06</string>
			<key>Key</key>
			<string>cf973a020efd7ec5c34542486c32b9298a84053940ccb754f4a08662bd8fbc42</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
			<key>IV</key>
			<string>501bfcc8873371b92d03a75f830399ec</string>
			<key>Key</key>
			<string>a55d1d0845c27f02a8538a6082a059dcf991ece72559580f30d0ca6590c2f484</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>5a4ff7c0cf5a572da1fae3877ee93887</string>
			<key>Key</key>
			<string>bc0e2288181b9e7b7759d350c5dfbd5c9863de737b4ec2dc7451add756712fec</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/needservice.s5l8920x.img3</string>
			<key>IV</key>
			<string>429255b3052967ed6c152921f8654728</string>
			<key>Key</key>
			<string>66b4f351c6cf6c2682b62f9f7522eaf84bacbfc791a44aacf9e2bd1850bb03cc</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>dbb1c221ba6ab75676f1d0186bfcceee</string>
			<key>Key</key>
			<string>c6ace9331cfeb4951ccdeb21fc47ec04dee3f6ed06c72edecd73caec58c4fd1b</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-6495-022.dmg</string>
			<key>IV</key>
			<string>50a5d7418e3091a2c1d878495a6dbc6a</string>
			<key>Key</key>
			<string>217c7c38387264f2a2fef7a661d1bbeb705e7c90581c5b73055fe44f5bbc0498</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-6489-023.dmg</string>
			<key>IV</key>
			<string>171054df8054d2030abda42faa2b5173</string>
			<key>Key</key>
			<string>d7afe6b6b586d15261a8c28fdc9735a2bd2696e8a02861690ae47352008065cd</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5483202e320c6a272ae27591ff67f4bc</string>
			<key>Key</key>
			<string>ec15d959432b44355fd0c043f570b09c9fe62ad069db554cc20359322ea76d77</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bb70b0109c0f6a323dba00df5806b111</string>
			<key>Key</key>
			<string>a95c62b3665493c92eebf3d471ea5949827fd9aab4248cd99d66bc2edf7ac4fe</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>5ff65ada6a48ea38adad2df3390d64ac</string>
			<key>Key</key>
			<string>88d0a0c2f05f3e54168eef00eed7958467503a204619be95dccca4606f857b2a</string>
		</dict>
	</dict>
</dict>
</plist>
