<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4291.20120427.Zs8F0/iPhone3,3_5.1.1_9B206_Restore.ipsw</string>
		<key>Version</key>
		<string>5.1.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key></key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>d71fb4f81d378daa313d4b23c7e23d59</string>
			<key>Key</key>
			<string>466bedcd62762eb340a09b414576c6eb2b51f494b3aaa4c90ca7cf1f3ae26c7b</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>9d8c3366e67a76fba95288c2da08f677</string>
			<key>Key</key>
			<string>b165b5f5eaa3f9c4caa1ead70db3075f80f2d9ad86be84cfa42188fac3ef3c09</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>d6df6980bfc7211668cec8780035cd20</string>
			<key>Key</key>
			<string>360990bba3d329d25475a3f1c2e06c2e980bdf2a2df3fa3526fea63e78324c28</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>4b5335ae4900dbecbc0dda27d64df464</string>
			<key>Key</key>
			<string>299bbaf30bf918039ad5249fbedf5e15dd13921b2373ece40eed3e518199b04a</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>4d2a83f3fc8ea03c88f5c9748f62baa1</string>
			<key>Key</key>
			<string>b7c00f5ef88dbfcaff8f9f3ef3183f97786947b444d23cc0315ff5f0c81f4494</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>de145b2c54f7c7611b6ee7226f90718c</string>
			<key>Key</key>
			<string>fbaf36e1d67a9ca9e46a1856233861d6552390093304b2193da2af7099fc4fc4</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>cc8635162ab29474a9c474c579a6d0f7</string>
			<key>Key</key>
			<string>cc88360638c92b2310c2c6c0f6b055213eb3304e51bfa37e204805f19b912c2b</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-4297-008.dmg</string>
			<key>VFDecryptKey</key>
			<string>2e3166688336a53fbc0ca014ff2fa458007d44048646764604bde3b73c88dac625c49d18</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphcharging@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>d71fb4f81d378daa313d4b23c7e23d59</string>
			<key>Key</key>
			<string>466bedcd62762eb340a09b414576c6eb2b51f494b3aaa4c90ca7cf1f3ae26c7b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>fed3ab96e402ebe756d5fbf78482d48f</string>
			<key>Key</key>
			<string>daf317421843120b1070c24f5395e68bd1dea9117b09a76239d4afe6c0a17a71</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>3ae1e715dcc2402520352758fb86fd44</string>
			<key>Key</key>
			<string>bff98717d90b4be2845968a03e44a4a112e1e5fa875816578800e019b374777f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>1f82cd0307c2bcc3843265b23d14bd9f</string>
			<key>Key</key>
			<string>16dcd8fa72eeea511608eb67a6eae07cf6530eda8e3fbab1f4f2b5a9dd50cdcc</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4361-021.dmg</string>
			<key>IV</key>
			<string>c248e221c08ece5862fea42a58dad552</string>
			<key>Key</key>
			<string>28db49d00990ced317a7bcd24755b3426bb246cb135111126d8b3f7bb8ba9252</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4304-027.dmg</string>
			<key>IV</key>
			<string>6bbffe1e365b6e6160f452d3fab81c47</string>
			<key>Key</key>
			<string>d82b09fbfe97a91b305c77d56c187ec7a8e6ab01efb3b46effccdafeb32e5896</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0c5fb4c7efaae483f2dc5234fb3159dd</string>
			<key>Key</key>
			<string>ed45e85db0eb1b28185078106b10a4bee08d2df12522aa371ed50a11219f8f3a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>30121b6c9866b26fe5082ea3001de870</string>
			<key>Key</key>
			<string>4ce2b4a380a6df017ca101020e4af9aca892ce96a80bd664b12a75ac9d8f8ce4</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>121e8d32249ca9abfd7bc7dc7b6914bc</string>
			<key>Key</key>
			<string>d757ecc3054cd907afd0fcdc8936dabf9d17020c0c8e8cd5e2242c9e5b3972f4</string>
		</dict>
	</dict>
</dict>
</plist>
