<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>e9380bc064643fbd7731888f70c92c0b</string>
			<key>Key</key>
			<string>b5a211976dcdf193e7de4313d4ceb6aa3d713bf4fc285ef7702a6ae3b55f4479</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>ad13590a04e0f486e334cd218c36ad07</string>
			<key>Key</key>
			<string>daabe43736cd17d7c30d047858d63678ca5b12e155d891e379e5ccea0f87f17f</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>0e48c7ba8aae2bbd0f14ca3e694b4520</string>
			<key>Key</key>
			<string>57e02aed54d226a0e537c580be9f5b6af88f7e528c976233a7bfb94b5a779c06</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
			<key>IV</key>
			<string>26c3d3518173591f20c2d2e21e8a9171</string>
			<key>Key</key>
			<string>2641a80a185ae2f76ad18baaec0d27a06d8572bfd4290e1f8f2b0fbdc1f0ffaa</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
			<key>IV</key>
			<string>6ae802130b84e466107f48f143ce4af9</string>
			<key>Key</key>
			<string>f007bd7d8f6d8afd0cc0bed7be2253dd5f837ed9715dd6d3afd116fb74142516</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>956623513f49604920c93fab4e376236</string>
			<key>Key</key>
			<string>429f0c32da12f3887f94d6c11d3ea0a3ef5b47c0324bd79e1f9b9adbb765b36e</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0434-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>15130edaeb5897edf079f89e4224f435edf3986b9f72bd3079509ab623adcb0a600200ed</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
			<key>IV</key>
			<string>26343696a102f548a62a6c149afe4a8d</string>
			<key>Key</key>
			<string>b85d62648a7265a2c0ce5462a6f70190420267ee0a3004400cbb826444b2bb53</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
			<key>IV</key>
			<string>f26954bf921d55a241f809218d4d395f</string>
			<key>Key</key>
			<string>3a7435c33b36b072ceda4c91c05d79fdd56ac9df0406877d7506731a94d7b32e</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>7ce5aee757332f347777a9c86f016197</string>
			<key>Key</key>
			<string>9cf5bb9efe5c45bd767520ad9bf64b3ad38a406f040a009fa86ad2909006cccc</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>eb39a152b972c82b6561c4a33b812182</string>
			<key>Key</key>
			<string>7f3ce176fcfa97a36fb7350fcee0e2693af5b066945827f33fd1a360bbdb105e</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>c69bbaf3444e202572bc9cfd7d81721f</string>
			<key>Key</key>
			<string>15f1f89a865ee23a5f7ed0493bfffd70a68597a687806befd87ebf18b3eb7536</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0406-002.dmg</string>
			<key>IV</key>
			<string>9aacd07c7fc593cdd61013a638519ec9</string>
			<key>Key</key>
			<string>86324169c09e4ae00a319575d00a0700627138f61ec7351f91c154ca442043c6</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0401-002.dmg</string>
			<key>IV</key>
			<string>f852db76ee4f12a50bec92bf0b843ee4</string>
			<key>Key</key>
			<string>bbe5a2c75769d27f1d40f3656bb24ab01ebb384c9836c462241ca1fcf11d6f05</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f8de84407b63676316ffea3bdd71e3a8</string>
			<key>Key</key>
			<string>9d4428df42e203c0dc60805b7f27319a120531d8a70ded9df6f3e6703783853b</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>099f776fbf84ff7ec5c4ea0c901ddad9</string>
			<key>Key</key>
			<string>32134bcfa60cdcc16c8a84c34c4d1c573e50c42d5cbabc0b6973babfe19e2480</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>cfb5bd63e4e64574fd16db33ca1055d5</string>
			<key>Key</key>
			<string>a6bfb721455eef0fcfd79d16b63670c645e7d1d204feb5cee91e85c297ad108f</string>
		</dict>
	</dict>
</dict>
</plist>
