<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-6609.20090909.mwws4/iPhone2,1_3.1_7C144_Restore.ipsw</string>
		<key>Version</key>
		<string>3.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>ed019bb2f4f55e681723211e43cff726</string>
			<key>Key</key>
			<string>0ca1682b2c68e70af273680641c4980d527caccb876af37458bba20fbd2cced1</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>1ee31c76440f03de92008e7e84d379bc</string>
			<key>Key</key>
			<string>2ecfa72db1c68bfbfd28ad60390fe16022fbe04ef261aeb7ff78a3f44b79047a</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>be305c72aae1515030e5d38d133088e2</string>
			<key>Key</key>
			<string>b83ea0d5abc044899150c5b686b63d096952b2897307ce871c6fbe5cd64909ba</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
			<key>IV</key>
			<string>cd9e1b9503643a9d07a03d85789c7e24</string>
			<key>Key</key>
			<string>b6f43e2290396beff711083d8c0a5d303a1758e6ae2e48fd96b13afcf1820dbc</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
			<key>IV</key>
			<string>f10a710d85b34e06dc891e6ae2d996ff</string>
			<key>Key</key>
			<string>836d6d63999b71265597a4e115e60236337da0ae3d3db0c7414d999c1802cb43</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
			<key>IV</key>
			<string>c7ee0f5595342753a95f68c847dfded7</string>
			<key>Key</key>
			<string>53d11c97730d74ddadacf8e408bc12c9cb35a9d2e10b34d16a29e98258f05a62</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>ac4fc5b1f85d4e6b18046334adcb20df</string>
			<key>Key</key>
			<string>e02a8862b746ee1aa6e704c755553e889ce7124a90bdaf3a789c3d316b8d2889</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-5344-086.dmg</string>
			<key>VFDecryptKey</key>
			<string>b9cd10dd88ab615c1963e8aa04950b12dd64e0e5b11ea63c79a02af6db62334c710d21da</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
			<key>IV</key>
			<string>9c38adf265c140567ec9bd73381daba9</string>
			<key>Key</key>
			<string>81417c02a6d88601e99b6025c34c85d5b271c460a92a9a71b7da0c01e4f8e477</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
			<key>IV</key>
			<string>23f68171cbc8c467381d47b83c660137</string>
			<key>Key</key>
			<string>10675b8395eb64de480dc80b4787dd97496ac370e348814a80100af5b88b8f30</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>f6c407732804fde7baa6c18f4e9219b3</string>
			<key>Key</key>
			<string>23958c7975d357c09d5ae13d5824ecd7ba311d48e66e495cd9482bf541c23e17</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/needservice.s5l8920x.img3</string>
			<key>IV</key>
			<string>5a7de6bd122319775214ca11a2f63987</string>
			<key>Key</key>
			<string>3dcd53a788cb870944f027aa83f3938c4b2586ff894255f111362ca8e340ac27</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>ad0e262f4cba68d6fe9d7089e94e3c05</string>
			<key>Key</key>
			<string>7ed397a83645c524e555cc1612b091d02b8d727ae87b4cc2fa9df7248bd41bc7</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-5352-086.dmg</string>
			<key>IV</key>
			<string>74b6379adc29a078a69c502bfc850b51</string>
			<key>Key</key>
			<string>cbc20b0045f8ee317b08f3481f4f255f77ab48745546c7095e8bbb696746638b</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-5349-086.dmg</string>
			<key>IV</key>
			<string>05fbba6bfd7bca47827b866e80b1bd9e</string>
			<key>Key</key>
			<string>1e23357267715aaffdb0dfbaebd5ea6bea928414cce593a15ac3b27a4c629e7c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>be27e0308bc2609dae706776d9b4ead1</string>
			<key>Key</key>
			<string>94f92412c804d39821b0f515a823669a1b6cf0e491b6737f29a6dc9a519f2be3</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>421e5f0f481a3344c9f04c45a13482da</string>
			<key>Key</key>
			<string>b831608d0ff9f84d3c35d5c3849cd147808763646ce7695c8bbc39adccb112fb</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>7018fa05ee1b3154bf9acb775c0a4ede</string>
			<key>Key</key>
			<string>a4360eed53aa2d69857148e047cc52d585b88736885cff4a3c48038b4202e303</string>
		</dict>
	</dict>
</dict>
</plist>
