<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-9743.20111012.vjhfp/iPhone3,3_5.0_9A334_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e65ce8671b58fc4c779e166eab10e8ff</string>
			<key>Key</key>
			<string>9d4f781b6384b85b8b5a6cc0b33bc584163b546fca3defff21137d7dcc50d380</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>4fd55d940fbbcfaf9fd6f31d9714b5a1</string>
			<key>Key</key>
			<string>c705fd628ca88a76dc666e0a6081212c614c200f669573944260ef11377a33bc</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>d29a0838b75e91aa5ec3230d9872556f</string>
			<key>Key</key>
			<string>c8b5aac64d2bad6cc89f82cced248900a25bb5779f70db6a359572ba68a0449f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>6756cebf362ebad5f2bd6fcdb971fbb3</string>
			<key>Key</key>
			<string>2f47e54650dadd32605803c2e5a3c064bb1ad248aec19e9a2fb8da3e31903f88</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>cc78277be52b7f0a4bd9352f0cdde114</string>
			<key>Key</key>
			<string>096f1ba8be2ca3b714bb40009b3efb008cd300fe3be023541fc306c7e93a3083</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>edd23b5c1aa0865be295d2250851a25c</string>
			<key>Key</key>
			<string>e6610d156ef318954aeed25e719934e5781c0b572b81771f32f7961d88760090</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-9768-361.dmg</string>
			<key>VFDecryptKey</key>
			<string>cbb21346634c5754f3e956f09ca7c93542b87286d7b11de71f18c5d72da529746ab27094</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>1ea388fbc4ce57d4e897494c639cad52</string>
			<key>Key</key>
			<string>dc09977ade1717fdf5839e1e93e595d2f999981a190a1b9ebabb34bce98e6f3b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0dfc5e73734f84cd04a980a5e41267ac</string>
			<key>Key</key>
			<string>0f6763f2c7964b6cb5a6aa28e0b227f613c8a580e3e6da0a9080f5e446572a33</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>e9877e2dc3c4c34035a39af48d0fd669</string>
			<key>Key</key>
			<string>bfb6e140e39768ba522f0e5dafb3491dfc20bde5e92628082b440c4b6a766432</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>1ae401dde7a87fa0139110ea40ba8e68</string>
			<key>Key</key>
			<string>5c43714aeecf4476d56d9d78f66905f6b1d57ae7fd7d318d30845d8dd4d4b764</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>fd29096afd26b87c994566b6c32af385</string>
			<key>Key</key>
			<string>bdd53835049f058836f2d74cf60e736ed85c5e3939890c2f94fdda4aef479acd</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7923-347.dmg</string>
			<key>IV</key>
			<string>dcf83cf3aa56954eafca7e3b562a137e</string>
			<key>Key</key>
			<string>b8ca7792a46a881099d4220617d6abbcc5548caf4e956649962d8964c3f825da</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e463e93748b846e438b10a7efb997552</string>
			<key>Key</key>
			<string>1736586735471f4c07d6e1e3232868fa4690de9b6f9fd3c7358bba0300600b9c</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c5be32a80c8a8679eb5675cd2e9610b6</string>
			<key>Key</key>
			<string>593423e762a40dc1ef55e3d65dc2578db18011ff27649b6c2912e3cf4f95cd03</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>077d9aff828c66252f0a4ef2cb2380b0</string>
			<key>Key</key>
			<string>6447853ad70d0bba39873884fa1799e39a5f753affb204fd3cb8a55046ab4d0d</string>
		</dict>
	</dict>
</dict>
</plist>
