<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0330.20110311.Cswe3/iPhone3,1_4.3_8F190_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e6cae37aca610fc27d64001fc69da531</string>
			<key>Key</key>
			<string>f31183f5fe2beb0eaea8a057f47e13f967357161054f8d92ebc0fdb3645a822c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>2555494c24b44f7aeb32469d9e029fd9</string>
			<key>Key</key>
			<string>644180742585b411029cfadd14018dc2ee0605b1407ea3f03cf705477f7928c4</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>80db35b6b557444365e7c38fd81fe367</string>
			<key>Key</key>
			<string>58683571bcb9f2be0abbd1edb4bbebf24ecf1876a38422fb1363577de8938649</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>3098aa8978c907db1e0ae09d54e1d9df</string>
			<key>Key</key>
			<string>1d20a88a43e9333bd358bc95488feced6868b88ae8947b362cd00e7fa7c9581f</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>81d84ee54b7d0ce6138282d1e7b4a45b</string>
			<key>Key</key>
			<string>aedce6e79c35612752963a6774f0bae97871b683c38190cece97f2da963ba59c</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>429eb0520c97d760454b9f9cc3faecaf</string>
			<key>Key</key>
			<string>94635b3c9c563e429576e60d53157a88f6f8853846c4c5f24e515dab701faeb5</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0688-006.dmg</string>
			<key>VFDecryptKey</key>
			<string>34904e749a8c5cfabecc6c3340816d85e7fc4de61c968ca93be621a9b9520d6466a1456a</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0a29a1ff1e3e835bbebfa8e3039e1eb3</string>
			<key>Key</key>
			<string>d7571fce484fc8d8f37a10acad10ee38245eb8c9fe368a1ef347e305618eeca2</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>a15a81e4a4f7193d5535939dc552d5b8</string>
			<key>Key</key>
			<string>8dc5507db377f690c62649606ef133000edb80b061a4397bbb54758dbd2a1ca0</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>46e295a1b68a063bed5c738a821675c8</string>
			<key>Key</key>
			<string>6e4955725a972adfe1d656c523715cd2fb337b6410c3e3ce5f8d8018bc567871</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>d39e6a207f7b3a685ff2c37408315d94</string>
			<key>Key</key>
			<string>15ab1803ca7f301292e4a8cb693626bd03b39bfd84954214674f0ee5e80ab122</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>5b74ac80e11849e7b52b0d25ef4c4521</string>
			<key>Key</key>
			<string>6fa538983f2c68b5f4c2e1b8a03945e213540088cd4bc1788cd97396eb9f7b6e</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0715-006.dmg</string>
			<key>IV</key>
			<string>d11772b6a3bdd4f0b4cd8795b9f10ad9</string>
			<key>Key</key>
			<string>9873392c91743857cf5b35c9017c6683d5659c9358f35c742be27bfb03dee77c</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0707-006.dmg</string>
			<key>IV</key>
			<string>a6fa038915d5aab8c2cc041071d54542</string>
			<key>Key</key>
			<string>f279113c41097fca600109652865ff24d21f797d4113473dfe612f246a3f2cd0</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a343da88feb5f5f67f81d537f404ba7c</string>
			<key>Key</key>
			<string>b3127af6554ac6fce88492b19e0695df107b65895bbbdff06b5262cf5ad91c36</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>37f4d36494ac9d83ab8a9e4936c885f8</string>
			<key>Key</key>
			<string>f5e50c94dfee05ed52b4003750007f4c2d1801f7e90e768774ac656dc62c69db</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>9f11c07bde79bdac4abb3f9707c4b13c</string>
			<key>Key</key>
			<string>0958d70e1a292483d4e32ed1e911d2b16b6260856be67d00a33b6a1801711d32</string>
		</dict>
	</dict>
</dict>
</plist>
