<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>5.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>0e5715599f1be765024ad6178654ee14</string>
			<key>Key</key>
			<string>fcb5092512e9ed72ffb95ec0e0b6c42af534e1415508df90e57dd9c7ce93c90a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>f88150d5dbbc484d19856acafd00670a</string>
			<key>Key</key>
			<string>5ab14e771fae1d613196fa2702bc329a727fc6005be9fcabbc1d5a999db34588</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>2b9dd8c18dd254c75551840a93521af4</string>
			<key>Key</key>
			<string>1d1d8fd34ff32a4ed9d0c5fe9960225c399c5f27e9a6e9d375ac0a5ae9b4c56b</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
			<key>IV</key>
			<string>1a08dc77e02e433660398ecb38cef486</string>
			<key>Key</key>
			<string>76e6e4d25acb51ae4f265604dc7fcad578a289aeee1d373dba0c365fe999057c</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
			<key>IV</key>
			<string>633978021a2956d48bcfc2d9e2e2b28b</string>
			<key>Key</key>
			<string>217194700be5e6bfe765b058b49169770d2f3cd538e6812ff0416b4a95ac6336</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>b9771583c65fabdcd214966687861db4</string>
			<key>Key</key>
			<string>2f4058c7712b625add7aa5c6e6c4103ccfd9b307249a292432ee58d3724424e0</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-1664-026.dmg</string>
			<key>VFDecryptKey</key>
			<string>b0f31d60ec84f1e3430c7f7753055bdd70d394b4fe5bb378af23d5a833584570538bb33b</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
			<key>IV</key>
			<string>3fc9ddb2885ae19c7a95b3c023655734</string>
			<key>Key</key>
			<string>629fdfbf35d04a0bddaeaf5fcfe05bc1aa3bd096957aeb5c9f4365088423d783</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
			<key>IV</key>
			<string>c56645ddb7ba7fb17d2ef79bf409b483</string>
			<key>Key</key>
			<string>e2e708c902212710bbda18da80f6da557dd40ce75466731bce55b3a49ac6865e</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>673f098c31659c4b5ed4c0774d60ab59</string>
			<key>Key</key>
			<string>f97c0cbc642d783972eaf9f4a996423563c53cb8c92f110ec0e09c74a1ebda5b</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>cfee75784c812a79724566e85e9be5b2</string>
			<key>Key</key>
			<string>daee0e331eda6567638abddab165fffaa920162f92a94d16618aa66fa9030552</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>175256aa19b8cb90adde651aadae2d45</string>
			<key>Key</key>
			<string>292ae21c46ae0d9937706655809d11e5d4855a0a2a16f2d1f1acf11ba8a60bd1</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-1676-015.dmg</string>
			<key>IV</key>
			<string>27350333d853774dc663b7a0cedc3207</string>
			<key>Key</key>
			<string>c9e190e3eb2426939eb39c1e3b99178033bb366d94bee097995090526d77a083</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>25c467dd11ea3ea1598c8cc83de01cca</string>
			<key>Key</key>
			<string>088261d2fe3f2a270274089e5458242cccccb65705806ec00e26b13a1ce7d543</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>eafccee26188b0f7f8badfc178dcd17f</string>
			<key>Key</key>
			<string>184893256b095b485cc3daff6ab905822c7fe20439368afbb0626e8a90113db6</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>043dbad3e29eaa0ae5bdad880e07f34a</string>
			<key>Key</key>
			<string>e0e70f8f5a27c0777dd28f9a74a33e002324e2dc568282ba5bd64bbadc2c5be3</string>
		</dict>
	</dict>
</dict>
</plist>
