<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-1965.20110721.gxUB5/iPhone2,1_4.3.5_8L1_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3.5</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>cc46cbf7f5883358e28fd396b0b23289</string>
			<key>Key</key>
			<string>8b08058009f817d1cbd2915cf0977c44364ab3ecb05f29f135f4196754b311c2</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>a27f0a7d6c9fb551fd40f93072065b53</string>
			<key>Key</key>
			<string>3b88607d553475f0e1db61352e5c666a8ebfab9609da9d83c0fbce05158fd198</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>9cbb472e8c96b5ca8896f788ee224654</string>
			<key>Key</key>
			<string>e8c613e32c6681105f9e78983a2f4a46f9839ede7c5883b9ee67b46dc8ee17d7</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
			<key>IV</key>
			<string>f11a12f9ecf2fa13865e3120f8a58800</string>
			<key>Key</key>
			<string>cd4754b526747ac4833706a6836766d0f0438e684ea26b8469d1aad60f402108</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
			<key>IV</key>
			<string>3b13cead54edf5ebd68c3be80f0fedce</string>
			<key>Key</key>
			<string>ee426909212f7aa57fea5d5942ddf51997e18308af1baffd6fd86b11e8f1225f</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>4312d896a5dc92b382e7ec0e377eafb3</string>
			<key>Key</key>
			<string>deb9a15d51db86b7da30f4049185538550f6ed7f81b6bb5131d212e925d99385</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-2287-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>8b04eb7e4c4c3bea36693fee2369d48c667083ae79ddea8c02f5ce9da30a74cb20707328</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
			<key>IV</key>
			<string>1acc40230b2bd92116800c94cee69f7e</string>
			<key>Key</key>
			<string>260b13035382d3b51549a3fc8ef66a767f2538e294834755e32d4d773b16b9a5</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
			<key>IV</key>
			<string>114a5a0608c407959603deefc42e7190</string>
			<key>Key</key>
			<string>4fc3296045fd803ca6bbd85149a9af88be60bea1c705b45de1ea8b5e7ffc6bf5</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>db5746b1411c34d78f1276e5416769c3</string>
			<key>Key</key>
			<string>d95751186440a71ad6d98ddc9f2c1f2d25ade877c4ac37d84b518e6abd6e6805</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>74677f567d2a2224840e55bbd30da3fe</string>
			<key>Key</key>
			<string>0d8ea4f0b10111472570cd0fb058a71ad131f4cf5b44d8f8a75eaed1f30fc5c2</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>850f45023dfdc3da317c5664039a3b5b</string>
			<key>Key</key>
			<string>a409f60a829e679930528bf494113dc13b3a80a778ea7ec775705ebd578710f9</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0cba084b36c2c8b5edd236d322e74a2b</string>
			<key>Key</key>
			<string>9527786a251a4cfe31dab6a875047be6d4b29ed8c7f4b366e546c711878375f4</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>397d887af465a48c481d31af5f744c0c</string>
			<key>Key</key>
			<string>668a8416cbc95531ce47c165b384315baee8c8e2b992345fb1ea448469dfc8e5</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>e65e4baead0c2a7aecbadf0cdf2279f0</string>
			<key>Key</key>
			<string>d0e1d5bca49bd49864a2fe40c9bf0d8b19b6a6038633d02f35a07adce84ad268</string>
		</dict>
	</dict>
</dict>
</plist>
