<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-1921.20110715.ItuLh/iPhone2,1_4.3.4_8K2_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3.4</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-2191-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>fb9480e2b80a26cd75d923d7918539edb19caed5a72dfe7a78734cd2a82597869b9ceaf5</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>8dd25ddbf1c21c33d8e179bfe03b6795</string>
			<key>Key</key>
			<string>325e2bf87114f28cc2c9d6f14edddcd1361084200e613c51138137deb3d99954</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>74677f567d2a2224840e55bbd30da3fe</string>
			<key>Key</key>
			<string>0d8ea4f0b10111472570cd0fb058a71ad131f4cf5b44d8f8a75eaed1f30fc5c2</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0cba084b36c2c8b5edd236d322e74a2b</string>
			<key>Key</key>
			<string>9527786a251a4cfe31dab6a875047be6d4b29ed8c7f4b366e546c711878375f4</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>397d887af465a48c481d31af5f744c0c</string>
			<key>Key</key>
			<string>668a8416cbc95531ce47c165b384315baee8c8e2b992345fb1ea448469dfc8e5</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>e65e4baead0c2a7aecbadf0cdf2279f0</string>
			<key>Key</key>
			<string>d0e1d5bca49bd49864a2fe40c9bf0d8b19b6a6038633d02f35a07adce84ad268</string>
		</dict>
	</dict>
</dict>
</plist>
