<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3304.20111109.Vgtyh/iPhone3,3_5.0.1_9A405_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>b7f04a12abd4d85251879d93fe522471</string>
			<key>Key</key>
			<string>171bec0c8d4f8398ba1c1e791b2b49cdeb9cf5f344c9a80a29ed649ab2582ef8</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>3ae15218433209d8b3773f9a7f6962e3</string>
			<key>Key</key>
			<string>77a1a6e6c48e9e548c2ce5a08b26b8d0c9cc6c4a5863722f72bd89375f3b67eb</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>3d610a251a94f4b5798eaa81f732459a</string>
			<key>Key</key>
			<string>a59a296ab768b6bddc1142f91fc49423033546ee5db8d979fd05898dae6e740a</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>23870fd2544d12f89a256c557bf54673</string>
			<key>Key</key>
			<string>f3976228c684c5c4caf30ebc50dcf185a5a26553005bd1b740cab5961cf377df</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0f4796e1f615e5092fd1a83dccacb681</string>
			<key>Key</key>
			<string>0e00088bc7e877ae14ced9e40ca0cd18a4e87650130bce83220a783c5d1c6904</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>86796bfa80f9bc3bfefb599088d27c2b</string>
			<key>Key</key>
			<string>c540ccc71f0532f8b361a5627bc2ab5a1c662bc2f25a7f7e39964e8f3bc4bdcc</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-3704-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>36895be7d36aa1415695ec3cd7d33ccf9b088bfc179d48f4d8fc5fd220a2c6f07c9b76d2</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>4b45c88e894b27c1ecf3dd29450e8c5c</string>
			<key>Key</key>
			<string>5bff4ced640ee6a4060d92ea23da0397650f114948f310ba66bcd37bd03d5e18</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>41a3ef37190981b7737f07811fddca52</string>
			<key>Key</key>
			<string>062d9caefb9d4a3dba27c190a05757f1ac62bc6c8a4cba712f44b374ebbd7ae1</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>e94b8b8e7a8cfb2a58820ac29fffde91</string>
			<key>Key</key>
			<string>73efff4472beb0559a818d4ddd238f2d53524a22ab606bdd90c4ce979375cfac</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>0304d6d95d8f38629b29276e8457ac8c</string>
			<key>Key</key>
			<string>e4112d242dc22516d7c396f8a836e73a00665bce4fe587e4944547399f0f7f63</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>6e01d60aaf4bc1e84e8b887079269d52</string>
			<key>Key</key>
			<string>eb378e294edbf41fba51cb468ce82936ddc548fa823920534b6f50e796d1c5b4</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-3715-001.dmg</string>
			<key>IV</key>
			<string>02d55437d1fd7c9d24aeb312a78dbd49</string>
			<key>Key</key>
			<string>3aeab4ceb61e011f3013873998bfcf01c585bb548f91e19c9085473f93f6a708</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-3711-001.dmg</string>
			<key>IV</key>
			<string>8240b5576be3d924d884d50f97f957c9</string>
			<key>Key</key>
			<string>d1e52447836c5b97a3ddf727a23524163ffe06bb9d6c5f3dbff86ee5ff5ef125</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>12a4ef7d5541c6a7aacbee76aaba93d0</string>
			<key>Key</key>
			<string>a53678bb23ac9782c6dc5a9c41276d79be63ce7e270b717c2ec2a309b98dfbce</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f12c8bac769bc818db694a4e4ce431a5</string>
			<key>Key</key>
			<string>ba01d8cc57ecb0e6ac5760efc8a3b007c45e58c4b97aed78d34b8f2a4ad12822</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>9517056b41a94a8fc14f65e34fc7eeed</string>
			<key>Key</key>
			<string>77e9273a0d5d8ad4926610defb8f89794daf0097a9464063c0c7c57498680057</string>
		</dict>
	</dict>
</dict>
</plist>
