<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0328.20110311.Lkhy6/iPhone2,1_4.3_8F190_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>c192cfccfee8fca152e4e77e74b2068a</string>
			<key>Key</key>
			<string>93ba47657f96049fd8c1533a19902485a88267925d29cd4e14fd2665f4ae3a8f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
			<key>IV</key>
			<string>41f3f1581719dec018a0b4be64117cce</string>
			<key>Key</key>
			<string>6c72f9d4ea35ce36c5a66fb665bedb1a89c939d0dcb186a9a276ebcacbc6026e</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
			<key>IV</key>
			<string>8b574ac2765c7ed3d2650a2e9dac81a2</string>
			<key>Key</key>
			<string>b139b37402ec37f1a255459b7bb9ad43df2a84af1fd9e7ce40ae42c835b08d91</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
			<key>IV</key>
			<string>d3344e318f9bccb4a578896178368865</string>
			<key>Key</key>
			<string>0caf27389626176d1a3a95e8b90b28ae67faad710199d7636e99a0a7fb3d81bb</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
			<key>IV</key>
			<string>1a9e8f83f3b837c7ba0bf09a86388170</string>
			<key>Key</key>
			<string>91ac9542c3484172aade4d491ba07fc28e061347144450034c68acacebe69297</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
			<key>IV</key>
			<string>73c8b6fb4dcb0107131a4cd74a127e0a</string>
			<key>Key</key>
			<string>9761a3d4527e6c17cd552b71415d348c62e488021262c59394ebd1c1437a6c16</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0685-006.dmg</string>
			<key>VFDecryptKey</key>
			<string>95028f5804a6d675190adedc0aa91385e17589f720c517615367d69c63e0c969121aaec6</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
			<key>IV</key>
			<string>3eadf9547b06dd994b22cb670460b23e</string>
			<key>Key</key>
			<string>bd561f4dce253aec6fa7ad70d6b463a29c7bafc279bba02b24477c00d0dd13db</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>a4790cc0a329acd13407ec97ca740b0c</string>
			<key>Key</key>
			<string>4fe7609ad3a4a0d2e28ff9005cd11ba00d1b886d09b63a39278c895b8c9fb76b</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>81cdb716c73f61cade5c8d67359c20b6</string>
			<key>Key</key>
			<string>ac5b68d23d3675c3d4f6ddca8a335f64a798dfa64e1e29547da075a3012cb944</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>8a4d4e4fa6db66dc6da8cb7e5834df49</string>
			<key>Key</key>
			<string>982e577c8ecbe4e2b4f8bfceeca167e6e25fd81b5540f6faa33b1897c9865eb0</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0713-006.dmg</string>
			<key>IV</key>
			<string>9f4ca36fb6b30edaebdfbec3c67ce128</string>
			<key>Key</key>
			<string>8bb1fd99c264f46e9b5219cf4817d6e8c0d5915a893a037f31f82bd43f97ce60</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0706-006.dmg</string>
			<key>IV</key>
			<string>3dd6b19dbdcd919e0596db4f3f75c2bb</string>
			<key>Key</key>
			<string>4bd4a9af123547e23c5fe373b9d3aa6b8c6cd8ef19375407eff24e1dffba1f91</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>421d3a39c56f71a3261a95dc2edb2c9c</string>
			<key>Key</key>
			<string>c9c3907f5696c7ed9f8ffb99f0fa1d60e374295a6593eab49286059ed189c9c6</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>25042db8abe54ba2a740dffd909bd1ed</string>
			<key>Key</key>
			<string>377c13630bc9370242e68b28bab1cb1cc21aa8220d3a1c79bc11471e763392d8</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>f3deb7dd0d083f4682d8596573c63f0e</string>
			<key>Key</key>
			<string>e8cc9c9b7f700da60eccd65da4eb68d38c68432e98e886e0b3c035718b4bd409</string>
		</dict>
	</dict>
</dict>
</plist>
