<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>4.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>5246b6e3544308f5454bf4fa1d7a04e7</string>
			<key>Key</key>
			<string>8c2cbe257bd15824142200546b7ad0368832b95ad9ff0756f915c8a0fb3f87b1</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>d583695709430288c528f03c5b2bca97</string>
			<key>Key</key>
			<string>fa5fe34350cf63d6674ca463a3f1a464905afa7d1c23abed44e58eca03d8b80c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>401199060e56abb97c29d8ba1707fb4f</string>
			<key>Key</key>
			<string>55415e867656e574304d577708b2801830445d938c242ec48ba6c5b9fce592dd</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>fce4fef1253ecfd26b98fda4a8ae9d2d</string>
			<key>Key</key>
			<string>e2216952ee754fe10275386b96a6d1a12fe2c327741349f79c50e9aa68a9c8d1</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>cdb6c5f13bbdeb4ce485fc4b1bf4ee03</string>
			<key>Key</key>
			<string>d82c2d843a6ccdc757f7ae541b9dbe5571257e37cc12f8d24f87d1ecd97392a4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>3c6bd8407ddd6e6beccb85dfd9fea84d</string>
			<key>Key</key>
			<string>e7b20dc0b85b0251e7ce92693593a1364865d911472282746da4c7e214b911cb</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>43f9486d6323b1432634ff364f323032</string>
			<key>Key</key>
			<string>d843e86cdcfd91f3fafea1abd6ac3629f724c0720aaab5c874e3c9b79e3c63f2</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-9705-005.dmg</string>
			<key>VFDecryptKey</key>
			<string>ee8c534a2cb539385c787092bd2e43dcb4040392b223d9d01d840b32348144a39f9898ef</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>253d6ef409f7bd12e2ace6e6fb432d3b</string>
			<key>Key</key>
			<string>0f861d4f8cc7b4a0d28e86bf80026332d0a6352abad5d69e288b8f569aa52f14</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>89153c7eb1f456c999cb4554d3b60907</string>
			<key>Key</key>
			<string>62fe13dfd91b514d5e7d5ff1ecd12d7cc95b7046926e683fda88578bcf8e266a</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>24cad80afa35a9a2d12e750919d9e2d0</string>
			<key>Key</key>
			<string>8502a1b843defbbee1a9279f1dcc602cb0b295569c93b1fa9f6fa7c1d8e4cffc</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>96bad1ae060412dbe5c6bfae5034f137</string>
			<key>Key</key>
			<string>488a3d72af06f710ba72c9f258228cee78da4bb9e7460d33a0ca7a92617dcbe7</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>438d20a2ef35b9e37fc6f3202a6670c9</string>
			<key>Key</key>
			<string>0ea3d593ce300b5ed9e1bfb47a1622e1a1ff4586ca2ce8f88204a736a6744bb0</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-9690-004.dmg</string>
			<key>IV</key>
			<string>24d1a423b59bbccb67f1dd02ec464582</string>
			<key>Key</key>
			<string>51a7d13de60e442b957f1e141a6d20e1db54ab88b284ab722ab9bc844ad97cb8</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-9686-004.dmg</string>
			<key>IV</key>
			<string>b4c3de2c9b86936f1571c3ae9b46cdcc</string>
			<key>Key</key>
			<string>a0ca320bfdb29138826e7f0b66920888abee3e666dfbacc9c2d5ba13d7cae8a0</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>2cdf153fd172bb7b7aaef2d15ba28563</string>
			<key>Key</key>
			<string>7eb03cedd352d8816ac716789b067931c89682e9bc1ccd6e96bde526433e1df4</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d7b4d36a47b374944191df9f7edb9647</string>
			<key>Key</key>
			<string>ee44e660c54cf0c6839a221534cec753099d61e71fb9c805b140d11f53613675</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>8bda3dd77c6edb7ffe746938c2d1f2e5</string>
			<key>Key</key>
			<string>456316956551519b5b1caf5a432a7c2ad6920f3af1fc51077cf7f698b0b82f7f</string>
		</dict>
	</dict>
</dict>
</plist>
