<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0551.20110325.Aw2Dr/iPhone3,1_4.3.1_8G4_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>a9b367b0f6846483adf0aa55c21c6716</string>
			<key>Key</key>
			<string>4243444e8633ddfb676089f49b0852ccd840f4c367910842ce7a3f6e263d277a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>b7c40f9a240e36e78991a436a8966f85</string>
			<key>Key</key>
			<string>7ce41a791ce6adfc6c31c77b5985ce5d4e00643f3dc6f181c149d2aba134d1d0</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0b171c27c0f3bd6a307e2565e2f9ae43</string>
			<key>Key</key>
			<string>3982e66e868eb93e45962f8a0bc2866817fece31008e74a2987656806a66ffd4</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>1f50bdfd9f9f0e7a9f35ab4e1d594f34</string>
			<key>Key</key>
			<string>c78ae9c88974354329dbabfdfe46d944028610358051557c894b6e6738ce6851</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>f8fd3b6f058af774384243c3786ba149</string>
			<key>Key</key>
			<string>d4d2d7dfac0f6dc72a969397c8409dce12bc4674eba9e5e7bfe232e781b01cbd</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>3abe18d22f1d36d97d4e557ce7b8f4ac</string>
			<key>Key</key>
			<string>1b106adcf69295199ed1410c36a15459cab3b58dde1f1339d5537c56f169d949</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0937-003.dmg</string>
			<key>VFDecryptKey</key>
			<string>f6331068497fa4741e135329c399f69b3c109854835789cc6f23f759f333f5e7bbfcdde7</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>54b4cfb35a66b5a66acb25bb2d135fcc</string>
			<key>Key</key>
			<string>c17b553859aea49ff1cb5bfa534386932423785ef468534ae1d4e054b9fdb872</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>c4dac1b2b6bf1205a389747bcc19a407</string>
			<key>Key</key>
			<string>9bcd191e5d956d2f8ac308e3dffed1c6273f57e51303d7b5b974c0c557c26cde</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>12028a7ee6b2ac6e610b45842c4d470f</string>
			<key>Key</key>
			<string>2a300468d54cbaa75f161eecb5cdf518fd8b747a5aab282a56a0a66a548c080e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>7d387f144fdb7007e4d854df19a87c51</string>
			<key>Key</key>
			<string>2d1193eb138d95c82e619314856471bd0e58554fff2fdd04d6a498306be79805</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>80b0920bd39886324e46874695272fe8</string>
			<key>Key</key>
			<string>42476b315e9c1c14ae5da6dcbf0895222fbd6f17922f22cb6aa7435894e6321c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>ebe8e99a4ea58b7f9f3ef54ecd274102</string>
			<key>Key</key>
			<string>3ea9973f95aba365cf5ef55f9c371b5433fb7de3d196cc3ab6997dbc4d2cd803</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a441763f051b5537aeefefedf3cf52c9</string>
			<key>Key</key>
			<string>bbf0968d5799f444aae52bdf9a2f9ae26d30d94e8de1f9867fba82da220fc852</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>364555da0a1e4b95aeb666586fbf310b</string>
			<key>Key</key>
			<string>d89fc90e1d53a890da972453c6c817348957732f499edad25041022c95e3344a</string>
		</dict>
	</dict>
</dict>
</plist>
