<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-9860.20101122.Xsde3/iPod3,1_4.2.1_8C148_Restore.ipsw</string>
		<key>Version</key>
		<string>4.2.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
			<key>IV</key>
			<string>7e04e5a857cb61e2cc0038d68fdf1a73</string>
			<key>Key</key>
			<string>91aeeb5b0e932480ad557c55d1c61221481b91918c5da8516ab8383d5bc60ea1</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
			<key>IV</key>
			<string>a4c1375bb158b08fbeef918ae9e4ba90</string>
			<key>Key</key>
			<string>42e7d0d97c442c26723471c5eaf28af3e2dcf59485f9677ee8a7afbd62441b43</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
			<key>IV</key>
			<string>5be4a8f373e36594c8f19b8a90ebda94</string>
			<key>Key</key>
			<string>4d4763deac3cf912d5d23c15260edfbc5f75a8005c8235c6d40f2cc1296280a9</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
			<key>IV</key>
			<string>1b58d3a8bfd299a39f5465c0df4ee564</string>
			<key>Key</key>
			<string>f508f6547c02c671ae15d0beefe4b7e018f3ce1e155f1ae7cf9ef5aac35517b8</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
			<key>IV</key>
			<string>ebbc6c6c267367dba62b95ecbd41c2d4</string>
			<key>Key</key>
			<string>ab8848b520391fbb8558129b473d08fcfa6924a6bf6de1e29f40b9a9e5480fa6</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
			<key>IV</key>
			<string>36b7097b3f539c3eb4c5605f338bd44f</string>
			<key>Key</key>
			<string>5afc4c06e0c02416bcd25e8d71111dc3043200eb2432d1efa7c763651590f499</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
			<key>IV</key>
			<string>279487a4411fbeef59c6a56f28034712</string>
			<key>Key</key>
			<string>a0da3d6726a9dfda9de135959e31e693c23c3216c08f72a6e6768a08f3892976</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0061-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>abd68f16920490865a09e559123db1f471ff19743ad15ea8b970a73e28f5efc6c6e76925</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
			<key>IV</key>
			<string>3cb90a84e7be3fc872fbae60b9c300fa</string>
			<key>Key</key>
			<string>fffdb6ced18e00bdf240f5aa7ac81144fe353c496225d14f983645a9660ca0c8</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
			<key>IV</key>
			<string>da21d8b49b66a8e1732f4f0df3724c09</string>
			<key>Key</key>
			<string>2e7c8703279208a80044b322d4ed914e71e65f3a2a4c2d9eecaa51ba2c05bb47</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n18</string>
			<key>IV</key>
			<string>6f0638cceb5b242e9cbd5c81a1904d95</string>
			<key>Key</key>
			<string>0aece5fc2836f6b75cc2363a178a3c0e91d50628ccd263319d0213669cbb25d1</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>7ca40a75fc54dcb3d07dcc0e290a4937</string>
			<key>Key</key>
			<string>ebd73e7f4810a8a592ae3cd00830ceb38aace28ee3dc5661437ba7c3c3c10d38</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
			<key>IV</key>
			<string>1c9b8f01f4b1da66cf46eefdfee96359</string>
			<key>Key</key>
			<string>d7a5126c00b60ec61a758ecfe5a9ca53fc64d2829613d5c59d099d3e8d426942</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0031-002.dmg</string>
			<key>IV</key>
			<string>9064ae28aef1db52cde6f7568c188766</string>
			<key>Key</key>
			<string>1229ee227f260b8746021d4a46366ec42f987c36d4910a4925e6ca0ce369f69f</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0055-002.dmg</string>
			<key>IV</key>
			<string>d7f909a6bace11ab7f7a606ed3afce70</string>
			<key>Key</key>
			<string>2b5bdeb344f4973e69ba5e5491ce052dcd67001729ec77585c5b8e86b4e7e99b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a37b98d9e465c60bcc59045d27654e78</string>
			<key>Key</key>
			<string>ad80964c516a7f87bab8ce9214f8fece6a2cc83bca98b6e5679fe7aef7a77f1f</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>962cc5a04ef71269630fd05b7d43f0d6</string>
			<key>Key</key>
			<string>f51e414ba2cb4bf68fcd1ea70d420207d4e269d048265b6480764e65af511904</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>6d8082d05c8edd3d259bc004766d1e56</string>
			<key>Key</key>
			<string>45820b2a38c8e7ab8becde45a3e618ceafd32ab56c83fc9f09e183159cca6485</string>
		</dict>
	</dict>
</dict>
</plist>
