<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-9344.20100922.Urgt43/iPod4,1_4.1_8B118_Restore.ipsw</string>
		<key>Version</key>
		<string>4.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e01950e29b6dab9990555041916ecabf</string>
			<key>Key</key>
			<string>3f1c88e1297b29db7dccee73aaf66076f04abd17180ecad87d2fd993fbd97800</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>8fc19d578743ce25e5cafd7a6af6bfc4</string>
			<key>Key</key>
			<string>96415f515e21b485cd7c2ca8d2daffd747f629ceb00ddbb260d0fb6d3be27085</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>58c85d4a6db5d714c3ac73f406ef5db3</string>
			<key>Key</key>
			<string>1b6ae72875b6bb0d060027ab711009472ce238b8de5d18132f54ab61791a8dfb</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batteryfull-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0913cdec90342840d372ad027c8abdec</string>
			<key>Key</key>
			<string>46466217bb4f87f6f5f70af0021b5c41301dcc3e19d0f5d8fcb352ce2c2d90f3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>c9739f169b2cdcd0780fe1f292ea79be</string>
			<key>Key</key>
			<string>f3d0007e984aa9201a6a87cb4d76835717255e6b6caaade4039d3f8899231b74</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>bbc56f1b02a1d8e415bb44ec79e1e138</string>
			<key>Key</key>
			<string>976ca0a3f2d1aaaede1db3ba986a000f4db6b355c7636479b62c3f22c3462442</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>130d84ea95928a861e4137a7443a226f</string>
			<key>Key</key>
			<string>e038c11f657d2a84953ab7b0f1bdcc6c2676d8fa58740c07a25914e3817ee918</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-9391-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>770b58765a3345004528fd9a2cbb7c3105137d0bd3a134a24679e6e173f32636d0485d06</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>2157ba97f0e6fe664919a1a6b9a3de22</string>
			<key>Key</key>
			<string>cafa39e18b56b6135d01618aeb156bf221d936b9f9cb9179a6c86bf976af8ebe</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>b51a5ad694ff975c17f9124ed7fc5f69</string>
			<key>Key</key>
			<string>84ea87beb4bb8d0b77ca391008a4cd4877fd2cb0107e3c6b78a5341a858550d1</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>d97bdc2e5ea33c0bcd8dec4294cfb7ae</string>
			<key>Key</key>
			<string>32abe3b17c83240b499238d0eca6c7e232172db475de96793102214599e6c5f6</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/LLB.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>5df7acef70694d6c4cd18fec2210d4e2</string>
			<key>Key</key>
			<string>70dccf3f103695034902c10dd35ddb5c6999bde0e4d719938d1f0e51d518a3e9</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>23ce20be1832a2b628357b2a4637f4ba</string>
			<key>Key</key>
			<string>ba4e5862c1bfe3986acf384898f6c2be3c0a96c7619c886219b268ad86b36e05</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-9394-001.dmg</string>
			<key>IV</key>
			<string>e869e35fae9877bcba930e66e1536fc6</string>
			<key>Key</key>
			<string>205d0b4636400b08cd0b86a4afdec9d7fc79267f3146a00ce9bb4f3d987a1547</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-9392-001.dmg</string>
			<key>IV</key>
			<string>c6f6bc4f50ee4288d3f637d8ebdb792c</string>
			<key>Key</key>
			<string>288d359503b16fdad9185ee6f72f6d115fa721aa4cb41da63be4f6618a3b8f5f</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3b7db12125cfd030aa8bfba1fac81078</string>
			<key>Key</key>
			<string>106a8f42a14e653a0ffd5c0781a7ec794cb98493839c5428e2a14d07865dd442</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c58929f652c1c086f70f941f3bb31058</string>
			<key>Key</key>
			<string>358e67475d675410517ccbfcbbc38fa4c56d0e892b627460851a1fa5e9b430ab</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/iBoot.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>e86ec8668ca7e9d3d6e77f4a6493cff5</string>
			<key>Key</key>
			<string>6d4db59b6aa0188e0f7e89ad51923da18d19d684d90c26606218b76ee661ba55</string>
		</dict>
	</dict>
</dict>
</plist>
