<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-9588.20110311.GtP7y/iPod4,1_4.3_8F190_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e6cae37aca610fc27d64001fc69da531</string>
			<key>Key</key>
			<string>f31183f5fe2beb0eaea8a057f47e13f967357161054f8d92ebc0fdb3645a822c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>2555494c24b44f7aeb32469d9e029fd9</string>
			<key>Key</key>
			<string>644180742585b411029cfadd14018dc2ee0605b1407ea3f03cf705477f7928c4</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>80db35b6b557444365e7c38fd81fe367</string>
			<key>Key</key>
			<string>58683571bcb9f2be0abbd1edb4bbebf24ecf1876a38422fb1363577de8938649</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>3098aa8978c907db1e0ae09d54e1d9df</string>
			<key>Key</key>
			<string>1d20a88a43e9333bd358bc95488feced6868b88ae8947b362cd00e7fa7c9581f</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>81d84ee54b7d0ce6138282d1e7b4a45b</string>
			<key>Key</key>
			<string>aedce6e79c35612752963a6774f0bae97871b683c38190cece97f2da963ba59c</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>f78e242b8e7c036b8227bcf25215f2bc</string>
			<key>Key</key>
			<string>e21c3a14df3a533ed3ac83e7557e535024438125cbfc000b853c7d63f60d88ce</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-7892-129.dmg</string>
			<key>VFDecryptKey</key>
			<string>b5eefbaf0046a79c689ff07e66ee8045f859dab1ee16d44d15606c1918e5afd323f2db07</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0a29a1ff1e3e835bbebfa8e3039e1eb3</string>
			<key>Key</key>
			<string>d7571fce484fc8d8f37a10acad10ee38245eb8c9fe368a1ef347e305618eeca2</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>a15a81e4a4f7193d5535939dc552d5b8</string>
			<key>Key</key>
			<string>8dc5507db377f690c62649606ef133000edb80b061a4397bbb54758dbd2a1ca0</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>9313516c48b73ad63e85be7d76aaaab4</string>
			<key>Key</key>
			<string>1b8ca9565f2537ffc0bc8fe782b5446b6fc1b679d1a595b9b28441b354b33a45</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/LLB.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>37b43161b30d954a42382193bde77664</string>
			<key>Key</key>
			<string>821548f371bf0f632e8eadf872f2dbe7da7f9fc93b2bdc5e911c0ac90d0e3192</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>5b74ac80e11849e7b52b0d25ef4c4521</string>
			<key>Key</key>
			<string>6fa538983f2c68b5f4c2e1b8a03945e213540088cd4bc1788cd97396eb9f7b6e</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0715-006.dmg</string>
			<key>IV</key>
			<string>d11772b6a3bdd4f0b4cd8795b9f10ad9</string>
			<key>Key</key>
			<string>9873392c91743857cf5b35c9017c6683d5659c9358f35c742be27bfb03dee77c</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0707-006.dmg</string>
			<key>IV</key>
			<string>a6fa038915d5aab8c2cc041071d54542</string>
			<key>Key</key>
			<string>f279113c41097fca600109652865ff24d21f797d4113473dfe612f246a3f2cd0</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>35fd3a61ac8416bb28e30f885381776c</string>
			<key>Key</key>
			<string>7ca49dc6c832d9d1d0cbb7f09af4e45ff44305cd43dbdcd644cdefb42b2fe574</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0fc5175caf46f3328ef43346a25bd1d1</string>
			<key>Key</key>
			<string>b482abee8c3e9d5727f96ed39a15d43c7a8c737bc87269a5b95356ec9338f8b8</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/iBoot.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>f954ca12624634fd9923170863dfcdab</string>
			<key>Key</key>
			<string>3628c46ddb0f181ca3f2ea8c9899c3225090280f45021aac2b0a54d947d803e5</string>
		</dict>
	</dict>
</dict>
</plist>
