<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-9622.20111012.Evry3/iPod4,1_5.0_9A334_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e65ce8671b58fc4c779e166eab10e8ff</string>
			<key>Key</key>
			<string>9d4f781b6384b85b8b5a6cc0b33bc584163b546fca3defff21137d7dcc50d380</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>4fd55d940fbbcfaf9fd6f31d9714b5a1</string>
			<key>Key</key>
			<string>c705fd628ca88a76dc666e0a6081212c614c200f669573944260ef11377a33bc</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>d29a0838b75e91aa5ec3230d9872556f</string>
			<key>Key</key>
			<string>c8b5aac64d2bad6cc89f82cced248900a25bb5779f70db6a359572ba68a0449f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>6756cebf362ebad5f2bd6fcdb971fbb3</string>
			<key>Key</key>
			<string>2f47e54650dadd32605803c2e5a3c064bb1ad248aec19e9a2fb8da3e31903f88</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>cc78277be52b7f0a4bd9352f0cdde114</string>
			<key>Key</key>
			<string>096f1ba8be2ca3b714bb40009b3efb008cd300fe3be023541fc306c7e93a3083</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>9368b66e9bf1d527bfe4d70cba908438</string>
			<key>Key</key>
			<string>51129fd7d4d36eb67057258ef76d4dfb8a1e8605f2741e714dd9c6c992f0c1a4</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-2707-006.dmg</string>
			<key>VFDecryptKey</key>
			<string>575bcb4f9290a28bc00451f7e444973fd8b0afc529d2d84db4ae227bdd779563f070eaea</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>1ea388fbc4ce57d4e897494c639cad52</string>
			<key>Key</key>
			<string>dc09977ade1717fdf5839e1e93e595d2f999981a190a1b9ebabb34bce98e6f3b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0dfc5e73734f84cd04a980a5e41267ac</string>
			<key>Key</key>
			<string>0f6763f2c7964b6cb5a6aa28e0b227f613c8a580e3e6da0a9080f5e446572a33</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>8c1cad1ade02c16b061201f005ee7818</string>
			<key>Key</key>
			<string>90bebe16e5c34159e5f2cbbd19eb3c44b4fcaea19a7b1f056bee5c94732d42c3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/LLB.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>5606836e79ccb338497ceeca4bf7e368</string>
			<key>Key</key>
			<string>01167c04d161835470ab9b02e3d726065ba2498513b8b93f4481bf970a8ff637</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>fd29096afd26b87c994566b6c32af385</string>
			<key>Key</key>
			<string>bdd53835049f058836f2d74cf60e736ed85c5e3939890c2f94fdda4aef479acd</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7923-347.dmg</string>
			<key>IV</key>
			<string>6aa6791d75e07b6866e42b04f80b90d6</string>
			<key>Key</key>
			<string>203ff7f82ff601232c7f8d3b53d3005d3218a5121ccf7eca4c9bf8a6870b7bf3</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>585ea0ab6a68e72b686292cc2b30cb9c</string>
			<key>Key</key>
			<string>f9b6055db270eff397baffe34989b154da745c017a8d5ce8e6e73b0660ed6a27</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>48f224258ed236032d0993b828bccc49</string>
			<key>Key</key>
			<string>d28d2281bdf5b6b5f3e45cfc6adddf3682c60348aa6fe6543e184814ae54bebb</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/iBoot.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>f2904ddce41b5934e8aee5f2445db9a8</string>
			<key>Key</key>
			<string>7c9c488b2b75861d6b6e468ed7d1ed233b19246dc1fa7e9dd3b38a4cd727e883</string>
		</dict>
	</dict>
</dict>
</plist>
