<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-3932.20070927.p23dD/iPod1,1_1.1.1_3A110a_Restore.ipsw</string>
		<key>Version</key>
		<string>1.1.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>022-3642-8.dmg</string>
			<key>VFDecryptKey</key>
			<string>d45b837ddd85bdae0ec82a033ba00ea03ceb8c827040034f7554c65d6376472844b8dc6a</string>
		</dict>
	</dict>
</dict>
</plist>
