<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-8554.20100811.Bgt54/iPod3,1_4.0.2_8A400_Restore.ipsw</string>
		<key>Version</key>
		<string>4.0.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
			<key>IV</key>
			<string>603fe27dd408d7ef3813f5c9750431c1</string>
			<key>Key</key>
			<string>673eeb9ebca0c1cee531a3cc3934f034ce2e93d153d70e49ba97a1b9b8a06e62</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
			<key>IV</key>
			<string>9bec1adb1814757c0fdf540883dd05d2</string>
			<key>Key</key>
			<string>448a5766a4e7b1e1c0d8c395bdd7711f3f1c84015fffe39e4ef93bcb34adc223</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
			<key>IV</key>
			<string>535961778603efa6604719a3698f42f8</string>
			<key>Key</key>
			<string>73731f492e9a1e522b60301b39b1878d86c7064a0cc5cd956e2cc1c2a3fd9449</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
			<key>IV</key>
			<string>d21ec63d66efc4e803ccf2654df2b388</string>
			<key>Key</key>
			<string>4872dac0a8074c3725000db123cf2950660504d7e91ef6fcf8483342fbca1e74</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
			<key>IV</key>
			<string>9ddd4531a2ff482ce8110ecac44e0e6f</string>
			<key>Key</key>
			<string>bfc66878e5e61be4a22ec94e59f0e8f8ad43f39c54afa5ac69f55d241bd21b56</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
			<key>IV</key>
			<string>c52bafcd768d959726d457c283ebc3d4</string>
			<key>Key</key>
			<string>cdc36fd47f307064c81ff49222b4d451401f90b1c7246d6b7ebc4c8e1859af31</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
			<key>IV</key>
			<string>72adf47ae276b6a452ea8e3cbe742834</string>
			<key>Key</key>
			<string>40c35bc904e9e5806a372ac66594e0f9b3d46709a229c482e055c17cffa6f3fe</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-8106-012.dmg</string>
			<key>VFDecryptKey</key>
			<string>4e164b7c39c8e0234787f7b9ae204adf1e3a66d472f1dce1db41e42ba87d1ff5722a7689</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
			<key>IV</key>
			<string>ec148598adfed07b96fed643c2a79017</string>
			<key>Key</key>
			<string>223058aeac0de5106a5b87fffd8389f927b1e2e4a2c9875e202e30d858aacc83</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
			<key>IV</key>
			<string>86c56c0304cb0976026313921f01f5b8</string>
			<key>Key</key>
			<string>1708371df3e3229e0d01c956c8dfa3a93ebb53f42cbe1f0eb674e1cefaf7ff07</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n18</string>
			<key>IV</key>
			<string>92d0ec3c332719ba51e02f5f8050e118</string>
			<key>Key</key>
			<string>eef0922ecbba2bab8ac9ccd123ac022c821c0ddf18d8a631bba521c808d43408</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>851b78b326c7e2dfe4c088234198b485</string>
			<key>Key</key>
			<string>a18e995ea6666805cea7501e82f2e6eba073c335439d722a6c1c4fb82ecec242</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
			<key>IV</key>
			<string>f611565e4f66dcaa02e7060e99b7dd7a</string>
			<key>Key</key>
			<string>4217222d61a593e5984a79c12f9fa2a1707f5798fc4ee3da17a6342019410c39</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-8095-012.dmg</string>
			<key>IV</key>
			<string>66fbf227d7a74cf39cbc149f0ebb3926</string>
			<key>Key</key>
			<string>0108ebb075ca534df759e849a47d79ad757f39a51a3352a9d3d760ce1c6609af</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-8103-012.dmg</string>
			<key>IV</key>
			<string>69af18d6e4355f6ff3989db9e25a12ed</string>
			<key>Key</key>
			<string>f6d2cdcccc2a56498a70361cf253a37629498d333e4d77ce668fddf6d24f0bec</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a5313166c2a61a2bd3107fe6802f2849</string>
			<key>Key</key>
			<string>565b765c72282cf2934fee4a67945334dc7940dfeb5fde5ed90d715db2c2457d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>27c5becf5fea4936b44ab27f22ede19b</string>
			<key>Key</key>
			<string>2e9374bcf55a4d14495141eddfdb9cca039a7dc0913676586cb3e19bcde135db</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>76f6c7c97f02ae49fab0900904632c5a</string>
			<key>Key</key>
			<string>e308cff77c8309067e1fb11f2b684481468b511fa87c71bad031fcc9dee56b7c</string>
		</dict>
	</dict>
</dict>
</plist>
