<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/061-5358.20081120.Gtghy/iPod2,1_2.2_5G77a_Restore.ipsw</string>
		<key>Version</key>
		<string>2.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			<key>IV</key>
			<string>84fdb401700547796d1db8a4e4dc1765</string>
			<key>Key</key>
			<string>992dec77ad422af79ebecc34bf110053</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
			<key>IV</key>
			<string>218e1e3cb623ff7521f8ac61c922b224</string>
			<key>Key</key>
			<string>6ceced7f93416afcd69b428ea15313e2</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-4056-128.dmg</string>
			<key>VFDecryptKey</key>
			<string>148025cde5c51d51d7733e74c6857dfca70d7240287d6eb039a1ed835413120b0af1e296</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
			<key>IV</key>
			<string>4d7f5313fa745ec9de3e900137f29fac</string>
			<key>Key</key>
			<string>915a8251928cae06e2073c77fcfdaf8d</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
			<key>IV</key>
			<string>41e3241844a77ea4dd7675cfabb2eed7</string>
			<key>Key</key>
			<string>1e00d9bc076170f5c2e3a76a6d1149fe</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>79a2d896c74ac334073786e4b2383ff1</string>
			<key>Key</key>
			<string>e9479822f30d0f86582149d3b83d8801</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/needservice.s5l8720x.img3</string>
			<key>IV</key>
			<string>2d332c80453caf0af67dcd07fc435446</string>
			<key>Key</key>
			<string>1fc8bb45e517bd55c31e3a642a44c3de</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-4085-128.dmg</string>
			<key>IV</key>
			<string>479c46f27f5b18ac5fa01885cf2b06f9</string>
			<key>Key</key>
			<string>778b488833cada940a10a7c44cac7413</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-4112-121.dmg</string>
			<key>IV</key>
			<string>6f711568306ac332f1743a06f0498714</string>
			<key>Key</key>
			<string>76a5da7da3d81035c9f0c636846e92e0</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>c9a400fab94cb516953a6e30c7c17662</string>
			<key>Key</key>
			<string>a64b02ed6808452f7283bbea5dba2411</string>
		</dict>
	</dict>
</dict>
</plist>
