<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-7941.20100908.sV9KE/iPod3,1_4.1_8B117_Restore.ipsw</string>
		<key>Version</key>
		<string>4.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
			<key>IV</key>
			<string>ca973250685c36b6844616be183b5c60</string>
			<key>Key</key>
			<string>3bec85837804013e98dba2048e4bd281c613aa6dc783186da72f32415a1caa7f</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-7116-114.dmg</string>
			<key>VFDecryptKey</key>
			<string>69e2ca7a250765c95a703081d1195e681fbe82f31162b79fd2b70754629b0352694b9eda</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n18</string>
			<key>IV</key>
			<string>e37e3ff09da89fbc3e1be899df0cf45d</string>
			<key>Key</key>
			<string>2786c969cef8dfe1088f19f66c3f083c36a38401f80a2e493334af83f3dfa026</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>d3c29a93e8c8816fe5b1355675f39f68</string>
			<key>Key</key>
			<string>99962b8f8bacb9bc409a490316e46c5121462dfbe5829218f5aed2a5255ea023</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
			<key>IV</key>
			<string>e767de2c5c9bfef2efda9955e21ab757</string>
			<key>Key</key>
			<string>574584d7a7308c1f7abfe93bccf7553fa472ca48207c9a31c24a96fa37ee5c44</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7081-078.dmg</string>
			<key>IV</key>
			<string>1edc4378f31ce728a2412ff93c78b8dd</string>
			<key>Key</key>
			<string>425f8a7bdac80a9678c78317a0ddbb91abb52a2fd1ff45f46c3e6db392155db9</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7108-078.dmg</string>
			<key>IV</key>
			<string>6800a52c8761b30b001327ea9b918653</string>
			<key>Key</key>
			<string>53e72495ea0d5dba53a1eae7529d6a95e8eb1d5d9185298c0f3323bc2c27f26f</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>38a8dc4f47766c8d4124aa5499530d86</string>
			<key>Key</key>
			<string>4b593a863a11961acfbccb5f3448506ac361113e3717cc03890628a071fec26c</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>45e620eb1cabe17cb5e25018e628160e</string>
			<key>Key</key>
			<string>1b45e1726a88d3e89a203a59544b853c531758dd3c6f15fd9fa24cfa4ebc949d</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>e070842f5a94e22c5207b06797080618</string>
			<key>Key</key>
			<string>71eaa79911ba68270c4c2cb2df42d99e0aba2b26e54e27357c3871eadb255c40</string>
		</dict>
	</dict>
</dict>
</plist>
