<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-8366.20110311.Fr45t/iPod3,1_4.3_8F190_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
			<key>IV</key>
			<string>234bfca138ef6641bb4b7747269e881e</string>
			<key>Key</key>
			<string>52210dc087cd55a65955156748e592fb4c6c8bbfe4271c3adaeed1d45e79a4ab</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
			<key>IV</key>
			<string>e4af16412b0e257fb807220b429410da</string>
			<key>Key</key>
			<string>91050deead2a80a341660e373b06e883c4ac40f1332bcd2598fecec6cba0ca1f</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-8011-130.dmg</string>
			<key>VFDecryptKey</key>
			<string>cca43b420c4ffefb23a9b5e1605db40df1d89cb13d5951e22b7dda5a35a5cb2dcde85e4a</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n18</string>
			<key>IV</key>
			<string>9e738351539ca20f76ccb67165400760</string>
			<key>Key</key>
			<string>9e4dbfdc8aff9dde060b7aaaf378db9a77c71fda9121c1cb9d0a140f01c48b32</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>9db7a7747ce0ceb3e967588b9601e350</string>
			<key>Key</key>
			<string>5ce0739e4420f1d94737b6322faf06ba30a1837356248534d317395d8c0aa438</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
			<key>IV</key>
			<string>a0a92cc9865ed69322b2754503ade019</string>
			<key>Key</key>
			<string>488e799714f77235807998a053c50003aa5fcf5a69a71576958454765556007e</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7940-131.dmg</string>
			<key>IV</key>
			<string>c4ddd3ed329d243488a99aa50f693d2e</string>
			<key>Key</key>
			<string>26082729ed2afb965b396cccc8f16dc44e0372a9b02095ebf523956edca40a4f</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7995-205.dmg</string>
			<key>IV</key>
			<string>ef24131414f97970a183c7450bcd3f9d</string>
			<key>Key</key>
			<string>77ba1011bfc965775214dbce1ed5f997156193e8c36a728801e3944fcf4311d6</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7f9375887ad4fedb5e7d04b58bd8b7c9</string>
			<key>Key</key>
			<string>d28ee5b00d010a30e10ecb61cba95c25a152aa06fe81ebb314d4e25a85d3291d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>54774ea902fe56e59223b2b78d46b975</string>
			<key>Key</key>
			<string>7b2c0dcc0a9d4b0bcfe7946d5e4563f5516c69495daa65a13ad630471f453007</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>e35b9c4239e27615675413fbee252345</string>
			<key>Key</key>
			<string>d7083b381871e096ffdf4ff9b06a2a0c8aa2ecdd0dbcd7b97e34be673dc0a891</string>
		</dict>
	</dict>
</dict>
</plist>
