<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4298.20120427.Tzr8w/iPod4,1_5.1.1_9B206_Restore.ipsw</string>
		<key>Version</key>
		<string>5.1.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>9d8c3366e67a76fba95288c2da08f677</string>
			<key>Key</key>
			<string>b165b5f5eaa3f9c4caa1ead70db3075f80f2d9ad86be84cfa42188fac3ef3c09</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>d6df6980bfc7211668cec8780035cd20</string>
			<key>Key</key>
			<string>360990bba3d329d25475a3f1c2e06c2e980bdf2a2df3fa3526fea63e78324c28</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>4b5335ae4900dbecbc0dda27d64df464</string>
			<key>Key</key>
			<string>299bbaf30bf918039ad5249fbedf5e15dd13921b2373ece40eed3e518199b04a</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>4d2a83f3fc8ea03c88f5c9748f62baa1</string>
			<key>Key</key>
			<string>b7c00f5ef88dbfcaff8f9f3ef3183f97786947b444d23cc0315ff5f0c81f4494</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>de145b2c54f7c7611b6ee7226f90718c</string>
			<key>Key</key>
			<string>fbaf36e1d67a9ca9e46a1856233861d6552390093304b2193da2af7099fc4fc4</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>b59e73fad51f62ff4c70b45c0ae5b29f</string>
			<key>Key</key>
			<string>43218cea11263379a601c3cb8b4eb4c703171d9341ca83f09d78289e1308caca</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-4290-006.dmg</string>
			<key>VFDecryptKey</key>
			<string>f21b4cc1ae39ed3b36d33374f77e224b9e77f375f8722c551acdc7033ef16383c0b99b39</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphcharging@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>d71fb4f81d378daa313d4b23c7e23d59</string>
			<key>Key</key>
			<string>466bedcd62762eb340a09b414576c6eb2b51f494b3aaa4c90ca7cf1f3ae26c7b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphplugin@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>fed3ab96e402ebe756d5fbf78482d48f</string>
			<key>Key</key>
			<string>daf317421843120b1070c24f5395e68bd1dea9117b09a76239d4afe6c0a17a71</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>bdae7d7788f40887b1d6cac3cdc13a1d</string>
			<key>Key</key>
			<string>d28ad9653306f904f28bdd56de66a80add51fc953deeb09857fb119d739bf2de</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/LLB.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>3f6f5128ae1198f57adf559123b1da1c</string>
			<key>Key</key>
			<string>28dde68d793c8fa7abae54b479da5ce75369ae8cece745f7a435a5bf3b22e6bb</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4361-021.dmg</string>
			<key>IV</key>
			<string>ce6b50a8351823e0f21857d58bfc1dd1</string>
			<key>Key</key>
			<string>da5438ed6938b3eeaca8a3b543bcf2e461e9d9cb4f327722b5f8c3c55b197ea1</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4304-027.dmg</string>
			<key>IV</key>
			<string>9fde5b4fc310e68990f6d0c71edd385c</string>
			<key>Key</key>
			<string>26e2dde1867652e5ced6c6642b28b8405353441c909312148d4d019e6a0d0b15</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c8c8b3eba9a257c4ce0227098e431f23</string>
			<key>Key</key>
			<string>0f6e9c878784f3b2ce6fa248cbf256dbfc77ca771c202f8c27e461ea4aa9e1aa</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>ecd5bd9e4762aaae35637063420d54d1</string>
			<key>Key</key>
			<string>a8ef6d02fa5958099fc58fbcc160066faafda0053916905c0009d33ef53c7d0d</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/iBoot.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>16641c07fe97051c445d21258722f3d1</string>
			<key>Key</key>
			<string>d302a0ba7253453bce4431dd5a2a04fbf4da9868c340eae633a0202fe0995155</string>
		</dict>
	</dict>
</dict>
</plist>
