<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-5494.20080909.8i9o0/iPod2,1_2.1.1_5F138_Restore.ipsw</string>
		<key>Version</key>
		<string>2.1.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			<key>IV</key>
			<string>64238fb03291422522b5dd283fc3895c</string>
			<key>Key</key>
			<string>859fd4d382b8385156fc581a7f1d9722</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
			<key>IV</key>
			<string>ec0fb10072fda682ed5ffff80400f803</string>
			<key>Key</key>
			<string>315aa2957e581cafb0ae3fc7f55cb9ac</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-4160-1.dmg</string>
			<key>VFDecryptKey</key>
			<string>d1b957a0a5e56903adc523c5fa99f5d165c3963aea48274770b766b44ecdebab7b5a8f30</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
			<key>IV</key>
			<string>4d131595de30c67fd277279c33ee1bca</string>
			<key>Key</key>
			<string>7267785f56ba9a4a05e11658a5a3ec3d</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
			<key>IV</key>
			<string>c42a87b7a92b24bcdea56edf1b74417a</string>
			<key>Key</key>
			<string>a7676d7767ca1d12a7dbf31270e2b6c9</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>ce97a7c82ef864675ed3680597ec2aef</string>
			<key>Key</key>
			<string>27732a6bbfb14a07250a2e4682bf3cba</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
			<key>IV</key>
			<string>47621cf22dc1b45ada5aaa4b0124dded</string>
			<key>Key</key>
			<string>c9de0834428ca28ecf5392ec9195ce79</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-4166-1.dmg</string>
			<key>IV</key>
			<string>2f4481855ca39e67dfbf3d19b8ade60e</string>
			<key>Key</key>
			<string>6d4a00c0a08e90a3b024885f45bcb720</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-4177-1.dmg</string>
			<key>IV</key>
			<string>5447fa2ce0e2a6e39ffe8983be161e88</string>
			<key>Key</key>
			<string>87ecb5a20030a9350cf50de6a43413ac</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>b3633afbe02e0e9ba4d7366c47abe5a8</string>
			<key>Key</key>
			<string>2d916dabb6dfd4594dbe3635b4c71662</string>
		</dict>
	</dict>
</dict>
</plist>
