<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-9859.20101122.$erft/iPod4,1_4.2.1_8C148_Restore.ipsw</string>
		<key>Version</key>
		<string>4.2.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0dcee7d1b9982793558d588d84c44af0</string>
			<key>Key</key>
			<string>91866d7b929b971c72fa6e90530a5b2a361bed9486f2cb884b632f61253ed204</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>bf594f1948cfe699ed81978da918c9a2</string>
			<key>Key</key>
			<string>6059d6622dc37946e52d2fe87d64541b2142362a9f33576647d0e4210bd98d1b</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>55fbd7a9c6b27af1edc3d79a1e4a7a5e</string>
			<key>Key</key>
			<string>e4b8dd16397ce416a6309b594034c8e024c245dcff046014331d71e307047939</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batteryfull-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>6ea98a78db9deca4cc1d37ab2b01bf72</string>
			<key>Key</key>
			<string>311b3abb89083cd245b2c00bb9207b3fa721435b4f53836a97c38cfde4b20268</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>411cf59c075aed7412eac6cb209b635f</string>
			<key>Key</key>
			<string>809a6d52d5ed34d6d35397c1bce23190a09e353418394b33e60b5257de1ee117</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>76d3f38f8badef93c8a243f4e96e739e</string>
			<key>Key</key>
			<string>fdacba0a29f3b650cd135864ee95cb088cb905342912de93fd5a7bf288c99d75</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>1ff05cfa06699abc1acd8579b28a8c5f</string>
			<key>Key</key>
			<string>3bd7550c4625dc4aeec8fe9d772ae60cd6ddf84b4c3444a941f8b776f357c4de</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0017-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>982437b30d334c744c94b9a73ab70e0fc6ed94c181b2a8b0fde6ee03f2546cc9b2c5b01c</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>604dfca9640b9f800a3b478adbe63aa0</string>
			<key>Key</key>
			<string>3fa0ae7d2411725bfbffff4e06adcf24373d641703a0cd24d2fa34c64544f90a</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>746787d5ea62187e084c2d0c1f9399cc</string>
			<key>Key</key>
			<string>edc4ee23eff28d4b021e23d986972558bc9d108b7332abff1600e0e01eac23bf</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>a6833ce70afdbf37162dca25de6c0c99</string>
			<key>Key</key>
			<string>44ba15a1ab554017c5a67826ddcdcaffb24f8e96edb3f2ecaf8f5416faba2cc3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/LLB.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>8e6732e84b11e8d4fa4b97b158edca25</string>
			<key>Key</key>
			<string>ed4d19566a418b85db4b2c1c1acf06dee1ba065cbb9a4a322c300011b6eb7c3a</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>9a59ae16a84808e8d7546269e36a21c0</string>
			<key>Key</key>
			<string>ff278adcb52647785fd58ad689739fdcdace7acd08d932b4c32d54ea2c2032d8</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0032-002.dmg</string>
			<key>IV</key>
			<string>9b20ae16bebf4cf1b9101374c3ab0095</string>
			<key>Key</key>
			<string>06849aead2e9a6ca8a82c3929bad5c2368942e3681a3d5751720d2aacf0694c0</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0024-002.dmg</string>
			<key>IV</key>
			<string>509e699fcfbc5317fa5eb3e79fc5a932</string>
			<key>Key</key>
			<string>9cee1bb0bf019db324eb266f426b80fbcfba614464932c6b416ed039fbde73dd</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c211845c6c32017cb04301569bb9ea33</string>
			<key>Key</key>
			<string>d281e5726adb36490b68a81be462d569ebb916b477691b4dd7ed9781258b5779</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5a01a1e31d2ae895690cd279dbd5e3c0</string>
			<key>Key</key>
			<string>6d26c20f472d9ed5ab6219e632e35b4c582c1c402104aa39d75471171c88d473</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/iBoot.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>2a8c14d7cc8a2838d14fa0eeb1156e64</string>
			<key>Key</key>
			<string>e26ed45c22f54c258d755c79e129ce04bb35b76154714cd7c0f3661f6d1d1120</string>
		</dict>
	</dict>
</dict>
</plist>
