<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4300.20120427.WvgGq/iPod3,1_5.1.1_9B206_Restore.ipsw</string>
		<key>Version</key>
		<string>5.1.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-4324-006.dmg</string>
			<key>VFDecryptKey</key>
			<string>33148831d924a6ea1e9f1051cb0abfb15dc481a91617f37d950612de185c5f182d963a15</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n18</string>
			<key>IV</key>
			<string>5d618983129f3b121ad032dc0a170ea9</string>
			<key>Key</key>
			<string>835138e000a3d9425cc1d0d57cacd55ea6a7e46a42fac59dd55f98cb80240fe3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>282d2bee68f42e56dc91ba7057aef66d</string>
			<key>Key</key>
			<string>34c2f3c079f5347a3850a73d13dca92c01737836a6bb3c55f0fe2ae29ca40fdb</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-4308-023.dmg</string>
			<key>IV</key>
			<string>b05f288ccfce3f870f8572ccf9c939c5</string>
			<key>Key</key>
			<string>9a3b51af7076f4f93febbfae9d1a5388a161076c312732f9ef25ed4b8a0c0306</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a160c55d4571b060bb82689e2f10d4ef</string>
			<key>Key</key>
			<string>457d910bc7fd0ef6b71d2714d20d9a70cbc741e863ae57883dba4568d29912d4</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e803340e5c0ac2d1c898f6980285e67e</string>
			<key>Key</key>
			<string>406b5d2678c9292cf3c5af199ba962aa23db115a9d7160fa1bd09fd9932160d9</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>b9ba075ffe5960b7ef21b31b6d2d4209</string>
			<key>Key</key>
			<string>5ab9136a7f3059471c924304c4f62602860bd9b67f935d28134e679398517c3a</string>
		</dict>
	</dict>
</dict>
</plist>
