<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-5863.20090127.rt56K/iPod2,1_2.2.1_5H11a_Restore.ipsw</string>
		<key>Version</key>
		<string>2.2.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			<key>IV</key>
			<string>62940272d1a3a34106e5bbf6d7c166ea</string>
			<key>Key</key>
			<string>e8fdd305f48de7c4f086ad17eec180e8</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-4491-11.dmg</string>
			<key>VFDecryptKey</key>
			<string>2611c9f73504344fb22c93791659ec92e65f914025c5814d708b2023ab67229d89c39791</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
			<key>IV</key>
			<string>aded23370f71851507c0e6f579417cbf</string>
			<key>Key</key>
			<string>0ed52a9d0ed0fef0a02c5f63a5662d67</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
			<key>IV</key>
			<string>a7896424e42dcc7252bb22976ba30327</string>
			<key>Key</key>
			<string>277181c29f3a824f53d6368a15bbb3d4</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>2352a6841d6185cd0fb4396fcfb31c71</string>
			<key>Key</key>
			<string>efc85f46109bdebfbf4656c05256c9d0</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/needservice.s5l8720x.img3</string>
			<key>IV</key>
			<string>0364cd1038403221696b03b22afb3efc</string>
			<key>Key</key>
			<string>ea13af634f6b74e77b4c7d5e54a4e5ec</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>f7b095d291501e74093416fc2453a910</string>
			<key>Key</key>
			<string>ec5aabc0a54a268caf0e5dab337220ee</string>
		</dict>
	</dict>
</dict>
</plist>
