<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-1963.20110721.Huant/iPod4,1_4.3.5_8L1_Restore.ipsw</string>
		<key>Version</key>
		<string>4.3.5</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>bd6eae47ffd9aecfb36245db70a72412</string>
			<key>Key</key>
			<string>195a152a260fae31fb5085e8736132be44f15973c47330aebcaea3f121713e83</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e0eca88fc90626854af89ccf158cc01b</string>
			<key>Key</key>
			<string>e4591354c42f78141e565c6fd19793a2cd13fc12c037e03263c1f1c75ee23b72</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>17a4af22fd7a3dac1728e1ddc950b1ec</string>
			<key>Key</key>
			<string>034ed55fa7d59d08ef5a9e300ea086a10cd5be7f03064a2cfce8e4c256feb23e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>3c4bc90ba0605e081563bf63faa5d458</string>
			<key>Key</key>
			<string>4522c625eb6737adb9247df7272404ded0bcf6316f7ccedbbf03ea6aa88b47b6</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0fe9f884a394bf962dae19dee7e4a3d9</string>
			<key>Key</key>
			<string>caef72aa0ea0d1463017ec04113bb156ef88b7e7a3c48c20543cae6e7115f27d</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>55069f3acd4304396e7b584c9b0918f5</string>
			<key>Key</key>
			<string>6eb4f004372dfef8fafad7bc01187283b462e13de0ca8889ffefc5dcb305f501</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-2284-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>bb8cc0947739d77f7c800fea823f37f34ebf1dfd77fefadaef163d3556a73b20ce411ed7</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>49827a704a84262bf224381dc95c664a</string>
			<key>Key</key>
			<string>94762540cb7b3c63cfa9b6e8a8a6d6dcd91f6d7a709e1289cfb4a3510f97f619</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>68bb902a1735542ca540194219f44ea9</string>
			<key>Key</key>
			<string>7e0dcf661cdc795c3de5550c2c3619a27507062d1a5e1cdf5f9560277c3b37ea</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>48c4bac83f853a2308d1525a4a83ac37</string>
			<key>Key</key>
			<string>4025a88dcb382c794a295ff9cfa32f26602c76497afc01f2c6843c510c9efcfc</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/LLB.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>242573987a16fc81d726ee02049079e7</string>
			<key>Key</key>
			<string>59b41193776a615fa131518dcc55eaf05a2bd9a83781016d5795be466b73932b</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>8f4b5e35a66a50e79247d442c8c18589</string>
			<key>Key</key>
			<string>840b0103c63dd0cfabfc6a89e51c55838ec3bf716ec2cba831de94051bafaf90</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7737d27113d926a01ffa8baa812989ec</string>
			<key>Key</key>
			<string>e31f0805bd2144b0f3ad1427c04d34cd728aae9ad7a443292c68460ab589fe28</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b5eb13b4c4b4796fc8d4b1aeaf27fe41</string>
			<key>Key</key>
			<string>5de8fa1ac1938a4213610f47d062c8b92415dcd2eb7155825bbe55985863fbb0</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/iBoot.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>062f1f34e7b5171a37d0b816a897ae81</string>
			<key>Key</key>
			<string>7ec924e2aa620aaf796d53f3d527928da6231d0109982381b059c6badabfb0cf</string>
		</dict>
	</dict>
</dict>
</plist>
