<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-8360.20111012.New3w/iPod3,1_5.0_9A334_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
			<key>IV</key>
			<string>c435e272dda369cc4b7092c62aadad1d</string>
			<key>Key</key>
			<string>4170df432022215513338d91f6eebb65eff9c7e420a3b1b62916747dabe09c89</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-7994-366.dmg</string>
			<key>VFDecryptKey</key>
			<string>e77431d46dedd65cf73df82a823e32e131a76a7caa6d95112bcaede156eb566ce0e8a57d</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n18</string>
			<key>IV</key>
			<string>d302fccd2f70f8f36f9dcf541ce4821d</string>
			<key>Key</key>
			<string>cc578a9f47de9904d96cd6c9fa0ff138f8cb14841c082489abe0e4ae4b9ba327</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>fa7ef1f34e7229ca7767d0cd3df3c679</string>
			<key>Key</key>
			<string>7f6e801a1ab9d1e0ef2ff7b9ef2b0646154f2312fbadd2e02fa5cbadb310ca77</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7921-345.dmg</string>
			<key>IV</key>
			<string>5630ab5a75440c57f80f42a41f2a86a1</string>
			<key>Key</key>
			<string>3ea246f2b53066f329b5f4b10c973c7b62d6736e2b8706cf396caf5e7ba364ca</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>55f413e7683fede0a383129fe195aa61</string>
			<key>Key</key>
			<string>b47591cfda74819c1d1696bd0ba6b6ff047fe1a7eeb45635d652d8aadf48a21f</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>580904dfefa76c52185c1f06a6d7152b</string>
			<key>Key</key>
			<string>fcd9b12b40b5b71c487fe464f67559678c1aea3bdc4de74e6eef236a98d3e3aa</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>d990ace399dd3b499bc81716d432b161</string>
			<key>Key</key>
			<string>3611b223e881ee2debf0987fd379fdeb0221173b27d6656300cbf1334383169d</string>
		</dict>
	</dict>
</dict>
</plist>
