<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-7937.20100908.ghj4f/iPod2,1_4.1_8B117_Restore.ipsw</string>
		<key>Version</key>
		<string>4.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			<key>IV</key>
			<string>34e793bdc37740688bc5da1cc8bf548d</string>
			<key>Key</key>
			<string>d9c1aa3156a4dd03c958a01e062f2615</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3</string>
			<key>IV</key>
			<string>436257988b34420e33c5572b402ff3c6</string>
			<key>Key</key>
			<string>0850cafff29a8b7aab8effd03ae6849f</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3</string>
			<key>IV</key>
			<string>cbbd361502215cdab3a50437d8335b2d</string>
			<key>Key</key>
			<string>49aa098400caba50c363d1bb2ca691cc</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
			<key>IV</key>
			<string>3aedab4a01916dc6e947ec29f29cc708</string>
			<key>Key</key>
			<string>e97d2015fcb87d811b1e48ebf62bf1e5</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
			<key>IV</key>
			<string>ee14e49bf5344a17d8dc90690c9b5e5f</string>
			<key>Key</key>
			<string>165195c9286e673ad55c3d577d38f65f</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
			<key>IV</key>
			<string>46746bd0f7af9d1cc91f7cb267812019</string>
			<key>Key</key>
			<string>47fb3faf8056c1d263fe5c3a4e77d7f3</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
			<key>IV</key>
			<string>68150cdacf653d6680d83c170c299e9c</string>
			<key>Key</key>
			<string>771ed018061411f71dc19e548c77f614</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-7058-113.dmg</string>
			<key>VFDecryptKey</key>
			<string>aec4d2f3c6a4e70ea6cea074f65812d2a34b180cc92b817edcd867167e7a91c5beb942f0</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
			<key>IV</key>
			<string>54ff4e5786a74511f68abfa595134148</string>
			<key>Key</key>
			<string>b1e5280d64b5c83b351b0d98a2f685bd</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
			<key>IV</key>
			<string>0dabfbf336f4586188deeddfc506f70d</string>
			<key>Key</key>
			<string>36fa7cf6482425d43c083aaf1e442b85</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n72</string>
			<key>IV</key>
			<string>57d4e27152d39af674492eb0a8252de3</string>
			<key>Key</key>
			<string>7c07730b6ceb8b217653ff5161988b24</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>dfe17fee96d9f0ecdbc85f5e01734468</string>
			<key>Key</key>
			<string>74228645eb2187b4666d4b46c38af72a</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
			<key>IV</key>
			<string>747374eab209b7771b6dbae1584d959b</string>
			<key>Key</key>
			<string>e23ac05ed877592c3ab4a79f1670bc7f</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7103-078.dmg</string>
			<key>IV</key>
			<string>58df0d0655bbdda2a0f1c09333940701</string>
			<key>Key</key>
			<string>fbf443110eb11d8d1aacdbe39167de09</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-7104-078.dmg</string>
			<key>IV</key>
			<string>14a6e0d2cabcc52db99cb9174d2f8b4d</string>
			<key>Key</key>
			<string>52d4dac40dbbcdf6511ae9f7e24025ef</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>40cecf39bc971dce828415c7dffce3ea</string>
			<key>Key</key>
			<string>7341c6fb2cc09fe6d43067f7e426f708</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f7ed98e14e9f7f01397639a4424ef175</string>
			<key>Key</key>
			<string>abcc0848b65d7e2e675f8030ea37f325</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>07751c86d421a18d427ac7f94a74d747</string>
			<key>Key</key>
			<string>0359d66dd638e5c87e83b4e4daa941bf</string>
		</dict>
	</dict>
</dict>
</plist>
