<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7473.20100202.4i44t/iPod3,1_3.1.3_7E18_Restore.ipsw</string>
		<key>Version</key>
		<string>3.1.3</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
			<key>IV</key>
			<string>a47d5407fddde5cd91d6ae7130ee36fc</string>
			<key>Key</key>
			<string>4f130fada5567b6c48051a285df7d92df230a042710c1e5bb5a1f62fd91a3b7f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
			<key>IV</key>
			<string>a406eac12fe8e074820c9d17cfa2b8be</string>
			<key>Key</key>
			<string>239adf7856029649cd0bc2f1d1fab2c0c5dcde710748fce63327a0af769c3e2b</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
			<key>IV</key>
			<string>5560121048851891d15b1dfe775057e6</string>
			<key>Key</key>
			<string>322ca6f29778d8a12d42b5a05bcadd49206cbb1bc3355c8d411af76e775a6ebc</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
			<key>IV</key>
			<string>3dd3a486d0db3263aabb545527323fbc</string>
			<key>Key</key>
			<string>1a003319155706f95912d5650184672369de867ba34ed8b45112aac89e5cceca</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
			<key>IV</key>
			<string>262ca24a13d25cfb721f77626f4c9cd4</string>
			<key>Key</key>
			<string>36c5b2973e9e7d8bfc137673bd859602c2095c8970e431dbd952ab57ebddfa50</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
			<key>IV</key>
			<string>fe4e90e70454a174bea93fb47f8aa07d</string>
			<key>Key</key>
			<string>ac1e9414932bdc52ebe3a0d1a690eba3dcc586fbef3b40fe74ac62073dab8cb4</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
			<key>IV</key>
			<string>40ef90a1d2803f33a4cb4ac5162a1333</string>
			<key>Key</key>
			<string>0843e88375f0b58123eaa56d8a0503d1b46ebc260df8e34df5791af93519b82b</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-6522-015.dmg</string>
			<key>VFDecryptKey</key>
			<string>1402974cba4702e831fb821ef9090229f7bad6fd3084fa99bfc8a76de4d839f9bf4533eb</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
			<key>IV</key>
			<string>0c123dc0821a0f81e312b88102f29a73</string>
			<key>Key</key>
			<string>0c3a5b5a19f41d19065e53343c19d8463bd5e2dc2d12ba64f0515f5c50db25b3</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
			<key>IV</key>
			<string>dbd4ec7ecf731c49e8f7605fbd38aac6</string>
			<key>Key</key>
			<string>ec1845c8e6e851274b92fcfc665339952dff274f198c495f9652c3759dddb82f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>b2b8e10df94539f01140074bc7616fcf</string>
			<key>Key</key>
			<string>e146d220ae18697053b4e0e216f2626c292a201014b920d154ffcd8226397b6a</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/needservice.s5l8922x.img3</string>
			<key>IV</key>
			<string>87852e20c9003ebec6e280274e65118f</string>
			<key>Key</key>
			<string>177bf7b0b38473a7c8106a7874ac0d33fcd7839350ded3232405cc6beb1a6ce2</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
			<key>IV</key>
			<string>867e8fc0411416825f1a77c54f370d87</string>
			<key>Key</key>
			<string>21acd448cbaf85279c3a0c0b936f0b68fda871b79b762d0bfa55fa40833b9fb3</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-6496-015.dmg</string>
			<key>IV</key>
			<string>ed40b5cf7bc9f3eb2db62b8f11d86a7d</string>
			<key>Key</key>
			<string>4ef57007bebb68849b715bfdf37d53d73192b1f5c2228947268c1deb4cad689d</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-6513-015.dmg</string>
			<key>IV</key>
			<string>ba606fbd3cd095001aa345d6e62d1986</string>
			<key>Key</key>
			<string>c3d3b8d9e01dfbf4460652b5216d4c66b39a276b96ce5cbee9c3ce90cd57c858</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bb9c1a821f702ef3a0594c635095ae2c</string>
			<key>Key</key>
			<string>c281fa655aa3fbbda277c387b762dc83b7850e4d653d519159b14616a81b436f</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>cc884d83083849382cb33c59d61ca427</string>
			<key>Key</key>
			<string>1750aa8b05b8bf78c76d35784f690b3684bf5107485db09a17e284974fbd695a</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>4e70155527570d9e1921500da3fa7c4a</string>
			<key>Key</key>
			<string>af4c51c6e241c6e3862bd83f41513bf0c0c69e5de58faed6146325fe836f75ea</string>
		</dict>
	</dict>
</dict>
</plist>
