<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3314.20111109.Mbgh6/iPod3,1_5.0.1_9A405_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-3717-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>9890bc603e37b7ef74bc211cc9bfa09362c251c10c5abe9dcac43716e104cb717419e271</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n18</string>
			<key>IV</key>
			<string>1dbda19ff48be1f08a0503b78fa1dc2b</string>
			<key>Key</key>
			<string>083588578634bea0cc134359a152119a18babf8b1ebeebb8c39cc6a84725dbec</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>613dca4c215732654fe713273d37a2eb</string>
			<key>Key</key>
			<string>084dd9417559b77253d3402f4f802aa48df75189fcf951af4774f8e86a93da45</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-3714-001.dmg</string>
			<key>IV</key>
			<string>f91e451ab030e7a2eb219e51ef523c80</string>
			<key>Key</key>
			<string>2c5a60cd63f31e133c280dbc95c4640efdb39e70088d6f2de731ce6deb58f603</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b9db93e06cdcc20ae46ded57e1356ded</string>
			<key>Key</key>
			<string>2faea9f60edaa820e93d707a7fc15f4aec3fc519d02754b5b0a07e07bf290d1b</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e069af55f6d92d8f0a1a7678d799121a</string>
			<key>Key</key>
			<string>9d307bba8b9b2aa1a3777590c226397110f6c1dfc9ec0fd4397671691a2016d9</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>f7a27ec10321a097205f2abfa18549ac</string>
			<key>Key</key>
			<string>c72fb1a20bc8422d9a6f18d056d4e2e9b59c0b3d3f6543cd1140b07d07dd4313</string>
		</dict>
	</dict>
</dict>
</plist>
