<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7238.20090918.23GhT/iPod3,1_3.1.1_7C146_Restore.ipsw</string>
		<key>Version</key>
		<string>3.1.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-6113-001.dmg</string>
			<key>VFDecryptKey</key>
			<string>42a0805efff7352066541a54aaa6b0f525bf104386e8d5c14cde397453a8981f631261c0</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>98ee6dbdebd0b598ca1539b5e134f603</string>
			<key>Key</key>
			<string>99d615b96dc99b9a412b4d7c6516db0d62dc16262b9e11e966c529f52056b502</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-6115-001.dmg</string>
			<key>IV</key>
			<string>ff66f40978686d64700dc0f6df469228</string>
			<key>Key</key>
			<string>55a880b0bd2decd4efb58439ce201bfd58c926795534f0b5fbb0a41d9f54e13f</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-6110-001.dmg</string>
			<key>IV</key>
			<string>e15cdfd21c429635234dfbe4b882ca42</string>
			<key>Key</key>
			<string>72c64888628ede4919e012b41ccf7b3152f1c12d53835a67b4438758e566dadc</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>374efd2b1db74214128b2e24891dbf6e</string>
			<key>Key</key>
			<string>2eb38a225e8c98a06f497def9dafa6f60ec2e094a8df77875070af162c109d5d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e1b99c5b491a6c9dc2ec421a10853b1e</string>
			<key>Key</key>
			<string>5685c34824a7873ef1dca42dec535efbf202e0e90915d2acc8c36a78283671b8</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>1c7cdfbf9b5756247cda6bfc3b774cf2</string>
			<key>Key</key>
			<string>9aaa525c265d8b1943354a366d229134222bb5b80df54a25eaf5601851133014</string>
		</dict>
	</dict>
</dict>
</plist>
