<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7271.20091008.Tch23/iPod3,1_3.1.2_7D11_Restore.ipsw</string>
		<key>Version</key>
		<string>3.1.2</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
			<key>IV</key>
			<string>ce865926395b4a1ee6a0e7ec4f2afbba</string>
			<key>Key</key>
			<string>6abc741203d55013fd1b20f09c14aed5ba961942ba70118fc44cab65b0d83afc</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
			<key>IV</key>
			<string>f7087009bc7d875272155b62738decbd</string>
			<key>Key</key>
			<string>0463d0764bd5c34659f1fb4e771839b1741555814b440feebec3d8a6a5803b68</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
			<key>IV</key>
			<string>d95884af4c41399ee5f5d494ddfc440d</string>
			<key>Key</key>
			<string>64b0ec1a5be267adec60669ee6ff911b2625703666ea04b47db78eae1c64c37c</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
			<key>IV</key>
			<string>d01fc60cdb764ead693239cad4f3e3d5</string>
			<key>Key</key>
			<string>010d828d6fb804d8b6c03c5647ada5da2fddb042a2a753ffc979d7acc0e27019</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
			<key>IV</key>
			<string>c0d50711595fdb0dbbae8e5c093f54d6</string>
			<key>Key</key>
			<string>88fb40d1d2cab136fc80e6d22aede727d55ff212773095af5ed505c871f55007</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
			<key>IV</key>
			<string>a083c415e64612f62192614ba7782adf</string>
			<key>Key</key>
			<string>cf54e5b50f27c587a19d2cc7baed2c6b6a7d6dc9bf9e8061da99ec6d99ffd976</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
			<key>IV</key>
			<string>400b07fa2b9ee248d6df9f4bd932a903</string>
			<key>Key</key>
			<string>c592a3dd1af8bc4deab85736a844b649f8307033fadf0b90282d1d62900cfb44</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-6152-014.dmg</string>
			<key>VFDecryptKey</key>
			<string>1e05ef21821280869d4029a2328836b9f60bc63907c6e951c0f1c80c2d8c66aef5c39a44</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
			<key>IV</key>
			<string>c5d5ee775e684e43dd36bc203baeb3f7</string>
			<key>Key</key>
			<string>299d78991fca49c5526c9c2655bb39c0c81aa82f133e78038f4f09f24cbe26aa</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
			<key>IV</key>
			<string>279791c8ece1d1a67ec7678c153c87bd</string>
			<key>Key</key>
			<string>6f919e91ebf93c1c16714a28cabcf24ec15f1bfff7b8c7045a1423c9c9be4025</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>e738ea3c74c078d6d5252b37444fc184</string>
			<key>Key</key>
			<string>3ea1765385315e7cfab4556a39d7528ffbd1621a90e7928327f3f86169fa42da</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/needservice.s5l8922x.img3</string>
			<key>IV</key>
			<string>0f75b2e0360cdedf6858fc2e45415d91</string>
			<key>Key</key>
			<string>31232aa190d57259750e474d040d2c50c82fb53df7e77bf14b4776a6bc6a9ace</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
			<key>IV</key>
			<string>165912a35556e44c3e13410fc32ae5a1</string>
			<key>Key</key>
			<string>7563feca369350c9cc0c40eee4fe9a9aba754673af8bfd2e548c35a17ca2517b</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-6155-014.dmg</string>
			<key>IV</key>
			<string>1a388bbc8ceed19a46474af07d58480b</string>
			<key>Key</key>
			<string>e6361c6c999807f6069871b43b2421841057dc200f5543277bf8a7e07c68f400</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-6145-014.dmg</string>
			<key>IV</key>
			<string>ac6b46056dd6dd6521eaa45b13dbb644</string>
			<key>Key</key>
			<string>efa9ee796d6d6f92fc79653815f9232ee1f38120e8380b63d85add8f317e5540</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e636a1e3925f58351d563ccf71504026</string>
			<key>Key</key>
			<string>e1f375e17971dce72ca96a64564a9575e82828735a4ebf70d6a473696536ba19</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>8caeaf0aac65bbf6f3f345f7a0c95f76</string>
			<key>Key</key>
			<string>891747c374707b5cc6f5d4ffe9f0f24cc166858affc15f34d4bd0f41cb3077a0</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			<key>IV</key>
			<string>6e7dc46c6a9cf573dda9af515c1b50ac</string>
			<key>Key</key>
			<string>eabfe2fc4bad7f97c090ed021e7fd80a7463251c4919a3c637d2a0c529b79d5a</string>
		</dict>
	</dict>
</dict>
</plist>
