<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>Version</key>
		<string>6.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>0cace7eee98deb9113eb089f6a97cfdf</string>
			<key>Key</key>
			<string>626260fcca134e43ed12bf2d97765fcf2a1afcd151127c6123f796fcd8e2901a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>3045e5bdd046d91051085ae7b3883cbe</string>
			<key>Key</key>
			<string>91781dd18f7114f04dfe236a366ff72ae12a5621d18c37e02bc42b0b6380f213</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>11b192ef9a3d2f117e1e1e2c28df6a41</string>
			<key>Key</key>
			<string>ac86aa62cb490e86fc19809fa2e10f38995088947200fffbcae2341449f996ea</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow0@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>a8483f765ae4ab30066cc95a6fe13ea2</string>
			<key>Key</key>
			<string>104a389e1579c7f6e4a16475d84f36c985237e88c7feb9712b8833d08838b355</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/batterylow1@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>e75cda33fcfb3c5052e1cea5f80c5b5c</string>
			<key>Key</key>
			<string>cfc690e1d786716420e1e6a363ae928422b4db11129b94fcc3efbcbd198d6e27</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>691d9a3af011a15b0df7f439f52e8ae8</string>
			<key>Key</key>
			<string>aa7bbcae8f11914009394ab2e68c76b37132984f3a57d1d1f145f9e00efd3e0c</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-5186-010.dmg</string>
			<key>VFDecryptKey</key>
			<string>d8f0ea750124d5ef05f66feaa0fcdb24a7c8913c827e156aaf42219f67eefdf82016c4e7</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphcharging@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>2409cc4b19bc4b6598c5e3dcffebe656</string>
			<key>Key</key>
			<string>34f43c6b3a559bf5d15bb909381d3b079956a85a1e43d6bf4d353b4764de43a3</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/glyphplugin@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>148f58dd23d948d15b64a909552c3738</string>
			<key>Key</key>
			<string>ec82ff86b9e72c4b84deadb2a0772a622fb3b266c556e85b6e892dfa8c4536d0</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>14f3e4678c593a85680673aa62ab859d</string>
			<key>Key</key>
			<string>b9b90d4cbaa3819a40cd893cacbb17c7a862b60cee824e8a853447f900cc5946</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/LLB.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>6bdc8e8883f03dae345918a3d6506e13</string>
			<key>Key</key>
			<string>e63ad7529d9a13feec235a4ccfed014ded3fab3aa6f267a382c0e9b3467a4a0f</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-5050-010.dmg</string>
			<key>IV</key>
			<string>8a4b4731d16d70fa0903f8394826dcf5</string>
			<key>Key</key>
			<string>ac400010e7d14334516974933651cb1a6bc8c5f40375a3a9d0fea5137a87a6f1</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-5057-010.dmg</string>
			<key>IV</key>
			<string>d6912eee5e522f98124c4b28d0fa97c2</string>
			<key>Key</key>
			<string>f4325c50e927c0673bf3fe2d86f68ab13bc70a2bc1066a9189ddbef8f81be00b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3496c2809968d522691068f9092044c3</string>
			<key>Key</key>
			<string>5ecb7fd8ff844b9b1ef296c79a2fb6f81e484172cf611ee793b50259a4075aed</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>eb88ea74640f155cd64115fff8734669</string>
			<key>Key</key>
			<string>2379dffd50e2173fb6a6915425dd700d37cc2f78aae83e809b81b06e8b2d06c6</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/iBoot.n81ap.RELEASE.img3</string>
			<key>IV</key>
			<string>3ccf08c0051fcb047a6006b77579e439</string>
			<key>Key</key>
			<string>f4eaa3be85ecc96f070a35dd8406cced8697f84793b34b81cfd173b001570e45</string>
		</dict>
	</dict>
</dict>
</plist>
