<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/061-9855.20101122.Lrft6/iPod2,1_4.2.1_8C148_Restore.ipsw</string>
		<key>Version</key>
		<string>4.2.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			<key>IV</key>
			<string>75155f29cafe8dfdfdcf6fbf107664c1</string>
			<key>Key</key>
			<string>6788b9096c321f1f3563f546e1809676</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3</string>
			<key>IV</key>
			<string>f9427e9ceade82bd3b3494191f71f992</string>
			<key>Key</key>
			<string>962dded446843677a0ad2eb1c4944f7d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3</string>
			<key>IV</key>
			<string>17cbc75c381ff25c4dea33be4647d5cf</string>
			<key>Key</key>
			<string>16695266d57046db6e7b3b01203af048</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
			<key>IV</key>
			<string>95b731bdd3057d28426640752aaab0a9</string>
			<key>Key</key>
			<string>9392a0f3f1f4e5348ca87113f530305a</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
			<key>IV</key>
			<string>2c57dfc0b7a54452fea42385860ebd05</string>
			<key>Key</key>
			<string>623bbea0949fb8363cdc89f3542396e8</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
			<key>IV</key>
			<string>9497515e5441ee5841fd932c908ddd6a</string>
			<key>Key</key>
			<string>2116a68f4bcec5475a8702b983c0eb75</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
			<key>IV</key>
			<string>fc9b7aa1cca3c18706636fa38bf34dd4</string>
			<key>Key</key>
			<string>22ae754a5c3e85d7e804bef7fc5f2251</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>038-0014-002.dmg</string>
			<key>VFDecryptKey</key>
			<string>519ec112b4af0a65eab6ea65b222c5b7f605ce52ad9195640e3309de58dd54ab0a0c9607</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
			<key>IV</key>
			<string>9e5841ff019a1fc49b7f448e21fd41e9</string>
			<key>Key</key>
			<string>2f4c5a57d646da1837f4e861159310b2</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
			<key>IV</key>
			<string>287fab0fa02253750a6d9ba3a379ffb1</string>
			<key>Key</key>
			<string>2cda961df4681046a00382388e974fc5</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n72</string>
			<key>IV</key>
			<string>2713903e1791608630aee3793cb2dc5c</string>
			<key>Key</key>
			<string>1d052174d8d05c5a68a75b36ff4f28b6</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>57812c0e05fed32d3b355834a2a4ea60</string>
			<key>Key</key>
			<string>4a3047ade2dcddb30886ff16b33ab5d5</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
			<key>IV</key>
			<string>e9b47b95b639368a72b1108923a84914</string>
			<key>Key</key>
			<string>32de9f4cee8c6ca017da6b3f675b6838</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0049-002.dmg</string>
			<key>IV</key>
			<string>654eb6a2290da5b9b77e6570f2d8ba2b</string>
			<key>Key</key>
			<string>8d53585fa73916d27016abc81e41da82</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>038-0050-002.dmg</string>
			<key>IV</key>
			<string>d67c8ecae9d5278eb61766370fc37c29</string>
			<key>Key</key>
			<string>822296fc0d914b5665c6934be21b763e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>2aed77208e0d6e0cd2d605c42fc75279</string>
			<key>Key</key>
			<string>737023ff441df66a0e6dfc19ae15df67</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>856c2d9884ab1485cfd75b533246282b</string>
			<key>Key</key>
			<string>c3f0f7a3093a74b4ead7fa0b4f80dd38</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>fcd3e0675b376f67e95328a2c691d363</string>
			<key>Key</key>
			<string>7a105db73b007a24ef18c9226452d761</string>
		</dict>
	</dict>
</dict>
</plist>
