<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone4/061-7435.20100621.tr49t/iPod2,1_4.0_8A293_Restore.ipsw</string>
		<key>Version</key>
		<string>4.0</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			<key>IV</key>
			<string>2bdc3f3b5232fcfcd8c666bbd1fa7330</string>
			<key>Key</key>
			<string>10698a0feafe70d82d20ba8ad64f1f64</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3</string>
			<key>IV</key>
			<string>8148d00a5934863982d7ba672f667d79</string>
			<key>Key</key>
			<string>8e8ffef73052452d8256b5cbd13f6c53</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3</string>
			<key>IV</key>
			<string>594468e0df02db3af5464b963e6a52ef</string>
			<key>Key</key>
			<string>8a5debc0fb01996dece3dd0276f66545</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
			<key>IV</key>
			<string>7c69202db0d98215825886e199ffb167</string>
			<key>Key</key>
			<string>a076e1770b0bc5a9fe5d99e958235018</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
			<key>IV</key>
			<string>356a7da7ffa36aed6a15ac6a7fb6ed2c</string>
			<key>Key</key>
			<string>9f4780ee153768c6dd5e5d6935dd4b5a</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
			<key>IV</key>
			<string>87080ddfddca686fdc864b03d6d1bfcc</string>
			<key>Key</key>
			<string>469399e3b5889d08ed6756175195124a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
			<key>IV</key>
			<string>1e28cb7b436b4629c139ece3fd6bea63</string>
			<key>Key</key>
			<string>632c2d526dfaeb5b305e9ad2d8ef253d</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>018-5533-585.dmg</string>
			<key>VFDecryptKey</key>
			<string>fcada08311f553b2d7194c97922e01c821b632bf62e64500056ea37e56343e6131a9839b</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
			<key>IV</key>
			<string>50a391edc88673dd1d78f9b201cfef0d</string>
			<key>Key</key>
			<string>eacd1143b19d889eb264efc1cca7ab0c</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
			<key>IV</key>
			<string>8cafa12ead829382c668ef29319f7cd0</string>
			<key>Key</key>
			<string>011e4fa683c79e0c8b166c732a91f869</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n72</string>
			<key>IV</key>
			<string>7871c802ff761882cedf66ed45d0f3b5</string>
			<key>Key</key>
			<string>603500ba973a326235aa2b9b2c37b369</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>002958bee7583fa28f7365e53de9feef</string>
			<key>Key</key>
			<string>eda1e0a9397e614bb1d9b773cedd2262</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
			<key>IV</key>
			<string>67906f5102360adf66fb7b4665ad9a2f</string>
			<key>Key</key>
			<string>a8e49bdf43651b0acf44ba9ed7ba8e0d</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>FileName</key>
			<string>018-6462-368.dmg</string>
			<key>IV</key>
			<string>b2b8949bd33b65f22bd0c7e55ccc836b</string>
			<key>Key</key>
			<string>1e3e144a55fa8d1782db5153796238f0</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1f5c5fcb7d46946e5062a4b3addfc767</string>
			<key>Key</key>
			<string>441af1d3003f2e4005f055d170b0b92c</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>93463b2dc308eecb29a1732312a9f0c9</string>
			<key>Key</key>
			<string>47a818705e66dc67c42002553a10adb2</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>892d0889ac3971254ced87e974fcff54</string>
			<key>Key</key>
			<string>cf0ce641bb5d00f703d8265fffb45c59</string>
		</dict>
	</dict>
</dict>
</plist>
